[2020-04-09 09:26] vavadiyahiren commented on #168
@anushayedl any confirmation.

[2020-04-09 09:27] vavadiyahiren commented on #206
@anushayedl any confirmation ?

[2020-04-09 09:46] mmazharuddin commented on #34
@anushayedl @vavadiyahiren we are working on design, we will share it once approved from Srini sir.

[2020-04-09 09:52] PradeepChandramogo commented on #332
## Screenshot for actual result

Only link is visible for shared news

![image](https://user-images.githubusercontent.com/59409828/78882479-c00c1100-7a75-11ea-86f9-362a54edc928.png)

## Screenshot for expected result
Preview of the news should be visible
![image](https://user-images.githubusercontent.com/59409828/78882130-51c74e80-7a75-11ea-9c0b-4f2161264a52.png)

[2020-04-09 10:02] mmazharuddin commented on #166
@anushayedl please just provide all the failed cases here.

[2020-04-09 10:05] mmazharuddin commented on #168
@anushayedl please discuss this with Srini sir in today’s AHM at 7 pm without fail

[2020-04-09 10:07] mmazharuddin commented on #206
@anushayedl wait for your comments from past 24 hours?

[2020-04-09 10:09] mmazharuddin commented on #65
@vavadiyahiren please make F in uppercase

[2020-04-09 10:09] RajKateshiya commented on #203
Done (need test with different device)

[2020-04-09 10:11] Sbhonagiri commented on #325
@shamravu As soon as a user views notifications count be should not be shown.

[2020-04-09 10:14] Sbhonagiri commented on #118
@Vamshi9676 @ptvyas It's working in Android right can you please share me the payload

[2020-04-09 10:31] Sbhonagiri commented on #336
@PradeepChandramogo They will be showing country_iso3 value in UI

[2020-04-09 10:32] Sbhonagiri commented on #68
@anushayedl Please check the issue

[2020-04-09 10:55] PradeepChandramogo commented on #336
@Sbhonagiri country_iso3 means.? please confirm is issue is from ui?

[2020-04-09 11:00] mmazharuddin opened #337 "Broadcast functionality should work only for Contact and Connections"
**Describe the bug**
Broadcast functionality should work only for Contact and Connections. Users should not be able to send broadcast messages to platform users.

Problem Statement:
This restriction is to avoid misuse of the platform.
At present any user can create a broadcast for all the platform users. This will become a big problem, users can start spamming other platform users by broadcast.

@

[2020-04-09 11:28] PradeepChandramogo commented on #189
@shamravu
Tested in QA on 09/04/2020 build in lenovo k6 power(5.0 inch screen)
On Side bar menu - Logout is overlapping on Feedback for when clicked  on sidemenu and
 after loading it is not overlapping --- **Issue**
(it is taking time to load)

![image](https://user-images.githubusercontent.com/59409828/78890108-a624fb00-7a82-11ea-8537-5a54dfe10d42.png)
![image](https://user-images.githubusercont

[2020-04-09 11:39] Jaydip1801 commented on #149
We have checked the same way as you said, but it is still visible online without enter a chit-chat screen.
Can you please check again and let us know.

[2020-04-09 11:42] Vamshi9676 commented on #235
@PradeepChandramogo

I have tried in My device with the same scenario, App is not crashing.

1. Send connection request and transfer Sona from user 1 to user 2
2 .check for user2 notifications,click on accept for connection request and click on notification
received for Sona received app will closed.

![Screen Shot 2020-04-09 at 5 08 06 PM](https://user-images.githubusercontent.com/43492917/788914

[2020-04-09 11:43] alikhan126 commented on #200
@Navyacheruku @Vamshi9676 @PradeepChandramogo
Please tell me the updated message with which I need to replace the existing message

[2020-04-09 11:43] alikhan126 commented on #292
@Navyacheruku @Vamshi9676 @PradeepChandramogo
Please tell me the updated message with which I need to replace the existing message

[2020-04-09 11:47] Navyacheruku commented on #203
@RajKateshiya

1. Notifications and message preview are displayed - **Fixed**
2. Message Preview is displayed when in other apps - **Working Fine**
3. When the app is killed, notifications are not received - **ISSUE**
4. Message preview of other chats is shown when chatting in other chats - **Working Fine**
5. Receiving notifications and message preview when in other screens of the app - **Working

[2020-04-09 11:57] Vamshi9676 commented on #200
@Sbhonagiri Please suggest a message for this

@alikhan126 This is not message related while adding the members to the circle, unable to add members to the circle for some time.
At that time getting a popup as "User matching query does not exist" ISSUE

[2020-04-09 12:11] RajKateshiya commented on #203
3. When the app is killed, notifications are not received, user still log in to the account - **ISSUE**
--> we have not implement fcm
7. Notifications are received late. If a user is already in Dm or circle, he is seeing messages but after a few seconds, message notifications and preview are displayed. Both should arrive at the same time - ISSUE
--> we adding one second timer so it can't handled
-

[2020-04-09 12:12] alikhan126 commented on #200
@Vamshi9676 It's related to message the error is given when that user doesn't exist

[2020-04-09 12:13] Vamshi9676 commented on #200
@alikhan126 Okay,

@Sbhonagiri Please suggest a message for this.

[2020-04-09 12:32] Navyacheruku commented on #149
@Jaydip1801

We have checked

Yes, it is getting updated after logging in if the user is on other screens also before going to chit- chat
but it is taking around 1 min to show the user as online

![image](https://user-images.githubusercontent.com/39667234/78895313-37e53600-7a8c-11ea-96e7-c4a45a78a047.png)

[2020-04-09 12:35] Jaydip1801 commented on #149
We have added 45 sec. timer as discussed with *Hiren*

[2020-04-09 12:51] PradeepChandramogo commented on #333
@kotimadduluri @rakeshlingam1
Please find the link for scenarios where phone verified user can access app
https://docs.google.com/spreadsheets/d/1maEs-d7lRdabEI_Y7USPAqyhHgr-xniHpKUsSoVvz50/edit?usp=sharing

[2020-04-09 13:11] PradeepChandramogo commented on #302
@shamravu
Tested in QA
It should present in side menu below invite contacts and should be removed from privacy
settings -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78898496-847f4000-7a91-11ea-8917-b119b9618ef4.png)
![image](https://user-images.githubusercontent.com/59409828/78898525-91039880-7a91-11ea-86d9-cf8761d10d12.png)

[2020-04-09 13:18] PradeepChandramogo commented on #328
@shamravu
Tested in QA
When clicked on empty space in post model page , post model is opening-- Working fine

![image](https://user-images.githubusercontent.com/59409828/78899226-b218b900-7a92-11ea-827c-23afe76873e0.png)

[2020-04-09 13:19] PradeepChandramogo commented on #328
@Vamshi9676 please check in your device also and confirm

[2020-04-09 13:32] PradeepChandramogo commented on #318
@shamravu
Tested in QA
.App should ask for contact sync permission after phone verfied and before home page loading -- Fixed
But app is asking before phone register also-- **Issue**

And @mmazharuddin Syggestion, please remove deny option for user, please remove deny option in popup user should acceppt conytact sync
And after accepting permisson,contact sync option should be enabled in privacy set

[2020-04-09 13:41] Navyacheruku commented on #329
We will discuss this with our designer and come up with a single color logo

[2020-04-09 13:48] Vamshi9676 opened #338 "When user recive messages from 1 conversation it should be Conversation, When user recive the message from more than 1 conversations it should display "Conversations" in the notification."
**Describe the bug**
When a user receive more number of messages in different conversations, in the notifications there is a typo.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. when a user receives messages from more than 1 conversation check for the text in the notifications.

**Expected behavior**

When a user receives from 1 conversation it should be a conversat

[2020-04-09 13:49] Navyacheruku commented on #203
_Notifications are received late. If a user is already in Dm or circle, he is seeing messages but after a few seconds, message notifications and preview are displayed. Both should arrive at the same time - ISSUE_

Hiren will check and get back to us why it is happening

[2020-04-09 13:52] Sbhonagiri commented on #149
@RajKateshiya @Jaydip1801 As discussed in the call with Hiren for fist time get the online members info from API, from later on using muc listeners to get the online members info

[2020-04-09 13:58] Navyacheruku commented on #203
As per discussion in AHM with Srini sir, We will come back to this later after we deploy it to play store

On clicking on one chat notification and viewing the chat, notifications of other chats are also disappeared - ISSUE

[2020-04-09 14:31] PradeepChandramogo commented on #208
## For giving selfie, it is showing accuracy in results
![image](https://user-images.githubusercontent.com/59409828/78903747-39692b00-7a99-11ea-9da8-f7f28a296008.png)

## For giving other users selfie, getting message "Please try wih another selfie" -- Working fine

![image](https://user-images.githubusercontent.com/59409828/78906222-b34ee380-7a9c-11ea-8d7b-d4f939d07e51.png)

[2020-04-09 14:38] Navyacheruku commented on #28
As discussed in AHM, it is a feature request

[2020-04-09 14:40] Navyacheruku commented on #69
It is taking too long to refresh the contacts - **ISSUE**

[2020-04-09 15:06] Vamshi9676 opened #339 "When user tries to post a image after taking the selfie in the home screen, page is redirecting to chit chat."
**Describe the bug**
When user tries to post a image after taking the selfie in the home screen, page is redirecting to chit chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account
2. Navigate to the home page.
3. click on the gallery icon on the post model page.
4. Click on the camera in the popup.
5. take a selfie
6. post the selfie.
7. page is navigating again and again

[2020-04-09 15:59] Vamshi9676 commented on #112
@RajKateshiya

In the New build which is provided at aapoon_09_04_2020.apk  today 20:28.

After uninstalling and installing another build and logging in to the user, that user's previous notifications which were already seen and replied are showing up in again

![Screen Shot 2020-04-09 at 9 28 49 PM](https://user-images.githubusercontent.com/43492917/78915151-1fcfdf80-7aa9-11ea-9670-2ddf0662d673.p

[2020-04-09 16:34] Navyacheruku opened #340 "Though there are no contacts/connections under Load More, Load More is being shown. When clicked on Load More, loader is shown and and again button is shown"
## Description

Though there are no contacts/connections under Load More, Load More is being shown. When clicked on Load More, loader is shown and again button is shown

## Steps to Reproduce

1. Go to Chit-chat
2. Go to New Message
3. Keep on Clicking on load More under connections and under invite people until all the connections and contacts are loaded

## Actual Result

After clicking on Load

[2020-04-09 17:34] PradeepChandramogo commented on #209
## For first time wrong selfie
![image](https://user-images.githubusercontent.com/59409828/78920806-98d33500-7ab1-11ea-9cd4-a7e796dda9fc.png)

## For second time wrong selfie
![image](https://user-images.githubusercontent.com/59409828/78920931-c3bd8900-7ab1-11ea-8fed-1b0e70bcce10.png)

## For third time giving photo id in target url in APi
![image](https://user-images.githubusercontent.com/5940982

[2020-04-09 22:54] #73 closed

[2020-04-09 22:55] Skatta commented on #126
I am
Able to select a picture from the iPhone photos and was able to save it .

[2020-04-09 22:57] #126 closed

[2020-04-09 22:59] Skatta commented on #129
I was able to delete multiple messages . Fixed

[2020-04-09 23:22] Skatta commented on #68
The first picture I uploaded was visible to the other member but not the second picture I uploaded . I wonder what type of bug is it ?

[2020-04-09 23:24] Skatta commented on #68
I checked the images I posted using iPhone on an Android S8 device

[2020-04-10 01:05] hisobhan opened #341 "Inconsistent Display of Home Page after installed the build "aapoon_09_04_2020.apk""
**Describe the bug**
Inconsistent Display of Home Page.

**To Reproduce**
Steps to reproduce the behavior:
1. On the registration page enter the mobile number
2. Select T&C check box then click side arrow button. User will receive mobile verification OTP.
3. Enter the OTP and click on Submit button. User navigates to Home page
4. Inconsistent Display of Home Page.
[Home Page Issue.pptx](https://gi

[2020-04-10 01:05] hisobhan commented on #341
[Home Page Issue.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459339/Home.Page.Issue.pptx)

[2020-04-10 01:08] hisobhan commented on #341
Please refer the power point document.

[2020-04-10 01:18] hisobhan opened #342 "Inconsistent Display of Side-bar Menu and details under Profile Picture after installed the build "aapoon_09_04_2020.apk""
**Describe the bug**
Inconsistent Display of Side-bar Menu and details under Profile Picture

**To Reproduce**
Steps to reproduce the behavior:
1. On the registration page enter the mobile number
2. Select T&C check box then click side arrow button. User will receive mobile verification OTP.
3. Enter the OTP and click on Submit button. User navigates to Home page
4. Click on Ham Burger
5. Inconsis

[2020-04-10 01:19] hisobhan commented on #342
Please refer the power point document.
[Side-bar Issue.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459373/Side-bar.Issue.pptx)

[2020-04-10 01:56] hisobhan opened #343 "Generic Pop-up message on Home Screen and Side-bar when tried to click on icons and Menu options"
**Describe the bug**
Generic Pop-up message on Home Screen and Side-bar Menu.

**To Reproduce**
Steps to reproduce the behavior:
1. On the registration page enter the mobile number.
2. Select T&C check box then click side arrow button. User will receive mobile verification OTP.
3. Enter the OTP and click on Submit button. User navigates to Home page.
4. User clicks on Chit-Chat, Invite Friends, Ca

[2020-04-10 03:08] hisobhan opened #344 "Basic User Registration auto-fill default Country Code (3 letters) missing"
**Describe the bug**
Basic User Registration auto-fill default Country Code (3 letters) missing.

**To Reproduce**
Steps to reproduce the behavior:
1. On the registration page enter the mobile number
2. Select T&C check box then click side arrow button. User will receive mobile verification OTP.
3. Enter the OTP and click on Submit button. User navigates to Home page
4. Click on My Account and sel

[2020-04-10 03:08] hisobhan commented on #344
[Country Code Issue.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459699/Country.Code.Issue.pptx)

[2020-04-10 03:32] hisobhan opened #345 "Registering as Basic user - Uploaded image should be less than 4MB"
**Describe the bug**
Uploaded image should be less than 4MB.

**To Reproduce**
Steps to reproduce the behavior:
1. On the registration page enter the mobile number
2. Select T&C check box then click side arrow button. User will receive mobile verification OTP.
3. Enter the OTP and click on Submit button. User navigates to Home page
2. Click on My Account
3. Click on Skip for now
4. Fill all mandat

[2020-04-10 03:32] hisobhan commented on #345
[Image Size Issue.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459744/Image.Size.Issue.pptx)

[2020-04-10 04:13] hisobhan commented on #342
Issue repeating for Fully verified user too. Enclosed the power point presentation for reference.
[Side-bar Issue for FVU.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459829/Side-bar.Issue.for.FVU.pptx)

[2020-04-10 04:25] Skatta opened #346 "4 MB size of photos is causing lot of user frustration during the sign up process"
**Describe the bug**
The Use registration process is halted if the App detects the size of the image is more than 4 MB which is happening more often as now the cameras are set at high resolution. This is a critical issue and we should come up with a better process that automatically resizes the images to 4 MB or less.

**Screenshots**
![4 MB](https://user-images.githubusercontent.com/3252405/78962

[2020-04-10 04:57] hisobhan opened #347 "My Account and My Profile for FVU - Click Save button"
**Describe the bug**
My Account  and My Profile for FVU - Click Save button.

**To Reproduce**
Steps to reproduce the behavior:
1. Once FVU registration completed
2. Click on My Account and My Profile under side-bar menu
3. My Account and My Profile page will appear. With out entering any data simply click on Save
4. Account and Profile Details Updated Successfully message pos's-up

**Expected beh

[2020-04-10 04:58] hisobhan commented on #347
Enclosed Power point presentation for reference
[My Account & My Profile Issue.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4459914/My.Account.My.Profile.Issue.pptx)

[2020-04-10 06:25] vavadiyahiren commented on #203
On clicking on one chat notification and viewing the chat, notifications of other chats are also disappeared - ISSUE

This is not a issue navya that what we discussed you can confirm with srini again

[2020-04-10 06:41] Vamshi9676 commented on #328
@PradeepChandramogo @shamravu

Tested in Mi A3

1. When a user clicks on the post modal page, the app is not crashing. Working fine
2. When we click on the post modal page on the home page, the post modal page is displaying. Working fine

Followed the below step,

- Log in to an account.
- Navigate to the home screen.
- Click on empty space in post modal page
- Check for the popup.

App not respon

[2020-04-10 06:49] Sbhonagiri commented on #118
@anushayedl Can you please verify in the latest build

[2020-04-10 06:57] vavadiyahiren commented on #112
Even after uninstall and install you are supposed to get a notification for the latest few messages that's what how it is working @Skatta @Sbhonagiri can you confirm?

[2020-04-10 08:01] Navyacheruku commented on #203
As per discussion with Srini sir and Hiren in the AHM on 10th April, 2020, it is working like WhatsApp.
Not an Issue for now

[2020-04-10 08:18] Navyacheruku opened #348 "No Response when clicked on Report Abuse for feeds in the Home screen"
## Description

No Response when clicked on Report Abuse for feeds in the Home screen

## Steps to Reproduce

1. Log in and go to Home page feeds
2. In the Home page, choose any feed and click on three dots
3. Click on Report Abuse

## Actual Result

There is no response shown when clicked on Report Abuse

## Expected Result

1. The Response Message that used to be displayed previously should be d

[2020-04-10 08:27] Navyacheruku opened #349 "'Failed to Send Account Closure Request' is displayed when tried to send account closure request"
## Description

'Failed to Send Account Closure Request' is displayed when tried to send account closure request.

## Environment

QA

## Steps to Reproduce

1. Log in and from the side menu, click on Privacy Settings
2. Scroll down and click on **Close My Account**
3. Type the feedback and click on Close Account button

## Actual Result

**_Failed to Send Account closure Request_** is displayed

[2020-04-10 08:38] Vamshi9676 opened #350 "Page is loading continuously when user send feedback, Before completion of ID verification."
**Describe the bug**
The page is loading continuously when user send feedback, Before completion of  ID verification.\

**To Reproduce**
Steps to reproduce the behavior:
1. Complete the signup up to Phone verification.
2. Click on the Hamburger menu on the home page.
3. Click on Feedback in the menu.
4. Send feedback.

**Expected behavior**
Users should able to send Feedback.

**Screenshots**
Plea

[2020-04-10 09:13] Vamshi9676 opened #351 "Previously logged in user notifications are receiving to newly logged in user. When 2 users are using same device."
**Describe the bug**

User 1 has logged in the app and used the app after some time user 1 logged out from the app, User 2 try to do signup in the same device, at that time user 1 received some notifications that notifications are receiving to user 2 when user 2 doing signup.

**To Reproduce**
Steps to reproduce the behavior:
1. In 1 device login to an account.
2. use the app for 2 to 3 min.
3. Lo

[2020-04-10 09:27] Navyacheruku opened #352 "With Mobile data, In photo side of the id screen after uploading id, Screen loads and stops without any message and without going forward"
## Description

With Mobile data, in the photo side of the id screen after uploading id, Screen loads and stops without any message and without going forward.

## Steps to Reproduce

1. Register using mobile data
2. During registration, go to Photo ID screen and upload photo side of the ID
3. Click on Next

## Actual Result

The screen keeps loading and stops and shows Photo Side of the ID button

[2020-04-10 09:34] PradeepChandramogo opened #353 "SONA Dollars has to be replaced with SONA Coins"
## Description
SONA Dollars has to be replaced with SONA Coins

## Steps to reproduce
1.Click on invite contacts  from side menu or in new ui
2.Select contact and click on invite check for text message

## Actual result
1.10 SONA **dollars**  text is present

## Expected result
1.10 SONA **coins** should present

## Screenshot for actual result

![image](https://user-images.githubusercontent.com/5

[2020-04-10 11:20] anushayedl opened #354 "Direct Messages are disappearing from the list in iPhone."
**Describe the bug**
Direct Messages are disappearing from the list  in iPhone.

**To Reproduce**
Steps to reproduce the behavior:
1. login into the account
2. chit chat through DM
3. AFter chit chating, logout from app
4. Again loin to the app, the the DM dashbaord is showing as blank

**Expected behavior**
DM should be present.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-04-10 11:33] anushayedl commented on #115
@ptvyas Tested in Qa build
App version 2.0 build 12.0

While clicking on 3 dotted menu, delete option is present-  Fixed

While clicking on "Delete for me", deleted messages are still present- Not Fixed

While clicking on "Delete for Everyone", messages are getting deleted- Fixed
![image](https://user-images.githubusercontent.com/39667299/78987943-2152e380-7b4d-11ea-93b0-f6e6dfdaecc7.png)
![image]

[2020-04-10 11:35] Navyacheruku opened #355 "After basic verification, went to My Account and complete Full verification. Yellow badge is not updated to Green badge"
## Description

After basic verification, I went to My Account and complete Full verification. The yellow badge is not updated to Green badge

## Steps to Reproduce

1. During sign up, skip Scanning and complete Basic verification (Name and Selfie)
2. Then go-to My Account, Scan the ID and complete the ID verification in normal flow after scanning
3. Complete ID verification

## Actual Result

1.

[2020-04-10 11:45] anushayedl commented on #270
@ptvyas Tested in QA build

1. Load More option is not present in Connections and Contacts tab of Add members page- ISSUE
2. Load More option is present in Aapoon Contacts -Not Fixed
3. In Connections and Contacts page, sync option is not present - Not Fixed
4. Aapoon contacts are showing as "No data found", not showing any contacts- *ISSUE*
5. Invite people list is showing more than 10 contacts-*

[2020-04-10 11:46] RajKateshiya commented on #338
Done
#338 when user recive messages from 1 conversation it should be Conversation, When user recive the message from more than 1 conversations it should display "Conversations" in the notification

[2020-04-10 11:47] RajKateshiya commented on #340
Done
Load more button issue solve

[2020-04-10 11:48] RajKateshiya commented on #221
Done
Messages are displayed and disappeared.
Chat has not stayed in the Direct Messages tab

[2020-04-10 11:49] RajKateshiya commented on #351
Test with latest build

[2020-04-10 11:49] RajKateshiya commented on #228
Done
Self user is still visible

[2020-04-10 11:50] RajKateshiya commented on #149
Done
after logging in if the user is on other screens also before going to chit- chat, but it is taking around 1 min to show the user as online

[2020-04-10 11:52] Navyacheruku opened #356 "After phone Verification, if user tries to message to his/her contacts from DM, messages are not getting delivered"
## Description

After phone Verification, if the user tries to message to his/her contacts from DM, messages are not getting delivered.

## Steps to Reproduce

1. During registration, verify the Phone number
2. After phone verification, Click on Chit-Chat
3. From Chit-chat, click on three dots and select New Message
4. Choose a contact or aapoon user and send a message

## Actual Result

Unable to

[2020-04-10 12:04] PradeepChandramogo opened #357 "For phone verified useres,order of appearnce of new posts are not in chronological.new post is visible in bottom and old post is visble at top"
## Description
For phone verified useres,order of appearnce of new posts are  not in chronological.new post is visible in bottom and old post is visble at top

## Steps to reproduce
1.Register with phone number
2.Check for posts posted by other users in timeline

## Actual result
1.Chronological order is missing
2,New posts are appearing at bottom and old posts are appearing at top

## Expected re

[2020-04-10 12:26] PradeepChandramogo opened #358 "Phone veified user can complete profile and getting 4 sona coins, but in message cards it is showing as previously as you got 1 sona"
## Description
Phone veified user can complete profile and getting 4 sona coins, but in message cards it is showing as previously as you got 1 sona

## Steps to reproduce
1.Register with new number and verify phone number
2.complete profile details  fully and check for message card in home page

## Actual result
1.,Message card is showing as "You got one sona ..."

[2020-04-10 12:36] PradeepChandramogo opened #359 "Scanner logs should present in log file after scanning Driving license or Adhar"
## Scanner logs should present in log file after scanning Driving license or Adhar

## Steps to reproduce
1.After phone verification, click on scan your adhar/ driving licnese
2After scanining , check for log file in  file nmanager in internal storage of mobile

## Expected result
1.Logs should be present in scanner logs file in aapoon file captured by scanner

[2020-04-10 13:17] RajKateshiya commented on #356
Have your user is fully verified?
We have added condition for XMPP connection if user has fully verified then it will sending and receiving message

Just for information
We have use you function to check is fully verified or not
(go.socialchains.app.helper.Utilities#isUserHasFullAcess)

[2020-04-10 13:25] anushayedl commented on #79
@ptvyas Tested in QA build

App version 2.0 build 12.0

4. Select contacts page is present in Circle, but the Title need to change as "Add Members"-Fixed(changed as New Message)- Fixed

![image](https://user-images.githubusercontent.com/39667299/78994055-db058080-7b5c-11ea-881e-aac2b3421cf2.png)

[2020-04-10 13:39] anushayedl commented on #65
@ptvyas Tested in QA build

app version 2.0 build 12.0
The alphabet f should be in uppercase for the word forwarded above the forwarded messages. It should be Forwarded instead of forwarded - Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78994908-d215ae80-7b5e-11ea-8d35-59c131d0fdc5.png)

[2020-04-10 13:40] PradeepChandramogo commented on #283
@kotimadduluri
Tested in QA in lENovo k6 power (5.0 inch screen)
Only for first time, when keypad is opened the page is moving dynamic -- Working fine
when clicked on back button and again after opening keypad , it is hiding -- Working fine
Submit button is hiding in phone verification page -- **Issue**

![image](https://user-images.githubusercontent.com/59409828/78994902-cde99100-7b5e-11ea-90e4-0

[2020-04-10 14:37] anushayedl commented on #70
@ptvyas Tested in QA build

App version 2.0 build 12.0
While sending the connection request, notification is not getting-Fixed
Notifications page design is not like as pervious-Fixed
Not able to check this issue as of now not getting the connection request- Fixed
Not back to go back from notifications page, need to kill the app- Fixed
While clicking on connections page is not redirecting to chit-c

[2020-04-10 14:37] Vamshi9676 commented on #338
@RajKateshiya

When a user recives messages from 2 to 3 conversations in the notifications it is displaying as Conversations. Working fine
![Screen Shot 2020-04-10 at 8 01 59 PM](https://user-images.githubusercontent.com/43492917/78998761-e9589a00-7b66-11ea-9bad-a5eca028c408.png)
![Screen Shot 2020-04-10 at 8 07 45 PM](https://user-images.githubusercontent.com/43492917/78998781-f5445c00-7b66-11ea-

[2020-04-10 14:42] mmazharuddin commented on #206
@ptvyas I have installed latest build but I am not getting any messages nor any notifications - ISSUE

[2020-04-10 14:44] mmazharuddin commented on #269
@vavadiyahiren: I have installed the latest build but I am not getting any messages nor any notifications -ISSUE

[2020-04-10 14:45] Vamshi9676 commented on #351
@RajKateshiya

Tested in the latest build

Tested with the following steps,

1. In 1 device login to an account.
2. use the app for 2 to 3 min.
3. Logout from the App.
4. Enter a new phone number on the registration page.
5. Register with the new number,
6. Complete phone verification.
7. Stay at phone verification.
8. Take another device.
9. Log in to another account i.e., 3rd one
10. Send messag

[2020-04-10 14:46] mmazharuddin commented on #274
@ptvyas The agreed workflow is that a user first creates the group and then will be taken to the add members' screen as part of the workflow - Fixed

[2020-04-10 14:49] Navyacheruku commented on #203
@RajKateshiya What is the fix?

[2020-04-10 14:50] Navyacheruku commented on #203
Keeping label as On Hold for this

[2020-04-10 14:52] anushayedl commented on #335
@ptvyas Tested in QA build

App version 2.0 build 12.0
Menu icon is not consistent of home page to open the side menu- Not  fixed

![image](https://user-images.githubusercontent.com/39667299/78999776-f2e30180-7b68-11ea-9306-a197ae155559.png)

[2020-04-10 14:54] Navyacheruku commented on #340
@RajKateshiya

1. After all the contacts and connections are done loading, Load More is not shown - **Fixed**
2. Under Connections and contacts, after all the contacts and connections of the platform are done, for fraction of second, Load More is still shown and disappeared at the end. - **ISSUE**
3. Only 10 - 10 contacts are getting loaded at one click of **Load More** button
The user has to clic

[2020-04-10 14:59] Navyacheruku commented on #340
### Video Reference

https://drive.google.com/file/d/1Y1kJIxgyV2wpK6OjaOOqs4DneMq35lyd/view?usp=drivesdk

[2020-04-10 14:59] anushayedl commented on #311
@ptvyas Tested in QA build

**New Broadcast** option s not present while clicking  on + symbol which is present at top right corner- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79000312-017de880-7b6a-11ea-8542-1c6ccc0c42f4.png)

[2020-04-10 15:05] mmazharuddin commented on #81
@ptvyas As a member I was able to delete circle without being a superadmin - Fixed

![Screen Shot 2020-04-10 at 8 34 44 PM](https://user-images.githubusercontent.com/10600627/79000725-c8924380-7b6a-11ea-915a-e7ce35f919ad.png)

[2020-04-10 15:09] mmazharuddin commented on #168
@anushayedl This issue is fixed as per the title

![Screen Shot 2020-04-10 at 8 38 46 PM](https://user-images.githubusercontent.com/10600627/79001022-5ec66980-7b6b-11ea-998e-475acd2fa3b9.png)

[2020-04-10 15:13] mmazharuddin commented on #276
@vavadiyahiren The signed-in user is also shown under direct members list and can send a message to self, I don't see my user in the list - Fixed

![Screen Shot 2020-04-10 at 8 42 39 PM](https://user-images.githubusercontent.com/10600627/79001307-dbf1de80-7b6b-11ea-9e8f-c76f835a0cac.png)

[2020-04-10 15:13] Vamshi9676 commented on #149
@RajKateshiya

1. I have logged out from the account "Batthula Pradeep Chandra" and I have completed signup for "Voruganti Vamshi Krishna" but Batthula Pradeep Chandra" still displaying as online. **ISSUE**

2. I have logged out from the both the accounts and in the online status, it is displaying as the user is online. **ISSUE**
![Screen Shot 2020-04-10 at 8 42 57 PM](https://user-images.githubus

[2020-04-10 15:28] anushayedl commented on #299
@ptvyas Tested in QA build

App version 2.0 build 12.0

The workflow of Invitation link to a User of Aapoon to join a circle is not working.- Not Fixed (Not working as like android)

![image](https://user-images.githubusercontent.com/39667299/79002350-e44b1900-7b6d-11ea-94f6-5f8a8907a5e8.png)
![image](https://user-images.githubusercontent.com/39667299/79002395-017fe780-7b6e-11ea-9b6b-c3d59c856681.

[2020-04-10 15:35] Navyacheruku commented on #221
@RajKateshiya :

After editing the number, if messages are sent from Connections, messages and chat is visible and stayed in DM tab - **Fixed**

https://drive.google.com/file/d/1YLo8XRVmF1DhXBZPTzPq-FcNgLSOjG7o/view?usp=drivesdk

[2020-04-10 15:43] Navyacheruku commented on #228
@RajKateshiya

1. After changing the number, the self user is not visible in Connections and Contacts - **Fixed**
2. And that previous number is shown under Invite People, as the previous number is not existing anymore now - **Fixed**
3. Before refreshing using the sync icon, the platform user name is only shown for the contact under invite people. E.g. Alia Cherku
But clicking on Sync icon, The o

[2020-04-10 15:44] anushayedl commented on #118
@vavadiyahiren Tested in QA build

App version 2.0 build 12.0

1. While clicking on "Exit Circle" option, getting the pop up as "Please make a member of the circle as super admin and then you can exit"- Fixed
2. while clicking on Ok button the info pop up , page is redirecting to "Group member", here the list of group members are present- Fixed
3. After selecting the member and clicking ok done bu

[2020-04-10 15:58] anushayedl commented on #123
@ptvyas Tested in QA build

App version 2.0 build 12.0

After sending video in circle it is not visible for other members in circle- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79004322-2413ff80-7b72-11ea-8cfd-8635ecb74090.png)
![image](https://user-images.githubusercontent.com/39667299/79004336-2d9d6780-7b72-11ea-9747-14ce379f1421.png)

[2020-04-10 16:03] anushayedl commented on #68
@ptvyas Tested in QA build

App version 2.0 build 12.0

When an image is sent, the image is being delivered to the user is viewing but the status of that image message is still showing as Waiting state- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79004710-f3809580-7b72-11ea-9d14-9aebcc4197a5.png)

[2020-04-10 16:13] anushayedl commented on #69
@ptvyas Tested in QA build

App version 2.0 build 12.0

Updated device contacts are not getting synced- Not Fixed
While clicking on Sync option present at right corner, even updated contats are not showing- Not Fixed
Nither in the Circle or in DM, updated contacts are not showing- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79005241-0a73b780-7b74-11ea-80ac-4c5927d3c18e.pn

[2020-04-10 16:15] anushayedl commented on #150
@ptvyas Tested in QA build

App version 2.0 version 12.0

1. While clicking on Add members, the app is getting crashed - fixed (  App is not getting crashed)

2. While clicking on Add members page, a page is getting opened with the platform users and device contacts - Fixed
a. the heading is changed as "Add Members"-Fixed

3. For device members having the label as "Invite People"- Fixed

4. While

[2020-04-10 16:43] Navyacheruku commented on #147
Fixed in Samsung also

![image](https://user-images.githubusercontent.com/39667234/79007159-3c871880-7b78-11ea-90a2-d892fb249e64.png)

[2020-04-10 17:23] Navyacheruku commented on #356
@RajKateshiya
No, this user is not fully verified.

User is only phone verified.

We need to be able to send messages after phone verification also

[2020-04-10 17:43] mmazharuddin commented on #70
@rakeshlingam1 While clicking on connections page is not redirecting to chit-chat- Not Fixed

![4181204C-8327-42A1-A70C-0D9524275675](https://user-images.githubusercontent.com/10600627/79011098-ee2a4780-7b80-11ea-8808-81010c71f204.png)

[2020-04-10 17:47] mmazharuddin commented on #65
@ptvyas The alphabet f should be in uppercase for the word forwarded above the forwarded messages. It should be Forwarded instead of forwarded - Not Fixed

[2020-04-10 17:50] mmazharuddin commented on #354
@ptvyas Direct Messages are disappearing from the list in iPhone. Issue

![B0B8DD39-57FA-4A23-971B-87FE3108C779](https://user-images.githubusercontent.com/10600627/79011503-d3a49e00-7b81-11ea-9ec6-5dc4403e9bed.png)

![2923875A-52A9-4D1D-9E42-0631DAA17E36](https://user-images.githubusercontent.com/10600627/79011513-dacbac00-7b81-11ea-97a0-c969f3c8f376.png)

[2020-04-10 17:52] PradeepChandramogo commented on #333
@kotimadduluri
Please find the status of sceanarios  in column  "Status on 2020/04/10"

https://docs.google.com/spreadsheets/d/1maEs-d7lRdabEI_Y7USPAqyhHgr-xniHpKUsSoVvz50/edit?usp=sharing

[2020-04-10 17:57] mmazharuddin commented on #123
@ptvyas After sending video in circle it is not visible for other members in circle- Not Fixed

[2020-04-10 18:57] PradeepChandramogo commented on #333
@RajKateshiya
User is able to join the circle using invitation link after basic verification also ---**Issue**

If the circle invitation link is opened with app, after completing basic verification, it is automatically
redirects chit chat and asking to join circle

Please find the refence video

https://drive.google.com/file/d/1Yy7o7fAmgDCS76UtQcBo6HVwWZ3NgfSy/view?usp=sharing

[2020-04-11 02:31] Skatta commented on #34
The messaging is getting highlighted with a White background . Are we looking at a particular color pattern to show a highlighted message ?
I checked in WhatsApp which is no different than the highlight we see!

[2020-04-11 02:33] Skatta commented on #34
@Anusha
Please test on your side too

[2020-04-11 02:51] Skatta commented on #267
I am able to change the radio button from public to private of a circle “circle name” Please check if the circle became private .

[2020-04-11 03:00] Skatta commented on #314
I could see the circle with the lates message time stamp is shown on the top of the list .

[2020-04-11 03:05] Skatta commented on #150
We should show some of the device contacts under invite people . I think we should change it to invite your contacts and not people .

[2020-04-11 05:00] vavadiyahiren commented on #356
Before we asked to do this Why we are changing our requirements?

[2020-04-11 05:18] vavadiyahiren commented on #270
1) Add member is not a page from new message so you will not find an option to sync contacts.
2 ) Lazy loading will take time to implement, So load more options are not possible in this build.

[2020-04-11 06:46] PradeepChandramogo commented on #257
@shamravu

Tested in QA in Lenovo k6 power(Size 5.0 inch screen)

Check for the alignment of the country code ( three digits) in the Registration page. -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/79037391-21ef8680-7bee-11ea-9783-fae28973cd9a.png)

[2020-04-11 06:50] anushayedl commented on #150
@Skatta Sir, should i raise another issue, regarding the label changing to "Invite your Contacts" instead of "Invite People"

[2020-04-11 07:13] Navyacheruku commented on #356
This is Srini sir's requirement

[2020-04-11 07:15] Vamshi9676 commented on #149
@Sbhonagiri
Could you please check the issue.

[2020-04-11 07:21] Sbhonagiri commented on #149
@RajKateshiya Please check the issue

[2020-04-11 08:04] Navyacheruku opened #360 "After capturing photo, cropper should be automatically shown on the picture, user should not click on cropper icon again to get the cropper"
## Description

After capturing the photo, cropper should be automatically shown on the picture, the user should not click on the cropper icon again to get the cropper.

## Steps to Reproduce

1. During registration, go to ID verification step
2. Capture a photo in the Photo side of the id or back of the id or Selfie.

## Actual Result

Only photo-id displayed with cropper and rotation options in

[2020-04-11 08:47] PradeepChandramogo commented on #105
@alikhan126 @Sbhonagiri
Tested in QA
Double posts are happening in api in another user timeline until that user posts any thing --**Issue**
(in api , two ids are creating for posts)
![image](https://user-images.githubusercontent.com/59409828/79039470-122c6e00-7bff-11ea-9c07-d1a8fac9a66c.png)
![image](https://user-images.githubusercontent.com/59409828/79039475-1ce70300-7bff-11ea-905e-c057e0c4325d.p

[2020-04-11 09:04] PradeepChandramogo opened #361 "Message in popup should change as "Uploaded Adhaar id is not matched" (For India), "Upoloaded driving license id is not matched"(for US and canada)"
![image](https://user-images.githubusercontent.com/59409828/79039775-283b2e00-7c01-11ea-8256-684d51250bda.png)

[2020-04-11 09:22] Vamshi9676 opened #362 "When we click on terms of services getting an error as "404"."
**Describe the bug**
When we click on terms of services getting an error as "404".

**To Reproduce**
Steps to reproduce the behavior:
1. Install the App.
2. Navigate to registration page.
3. Click on Terms of services.

**Expected behavior**
The terms of services page should display.

**Screenshots**
![Screen Shot 2020-04-11 at 2 50 55 PM](https://user-images.githubusercontent.com/43492917/7904013

[2020-04-11 09:37] Sbhonagiri commented on #362
@Vamshi9676 Added terms of service URL please check-in QA build by clearing cache

[2020-04-11 09:37] anushayedl commented on #270
@SkattaSir need confirmation regarding need to show the sync icon in Add members page or not, as of not showing any sync option in Add Members page

@vavadiyahiren Tested in QA build

App version 2.0 build 12.0
1. In New Message page of DM "Load more" option is not present - Not Fixed
2. Contacts are updating in Connections and contacts page- Fixed
3. In Apoon Contacts are not showing the Load Mor

[2020-04-11 09:46] shamravu commented on #325
_@shamravu As soon as a user views notifications count be should not be shown._

@Navyacheruku OK

[2020-04-11 09:46] Sbhonagiri commented on #358
@PradeepChandramogo Please verify the issue on QA system

[2020-04-11 09:46] Sbhonagiri commented on #357
@alikhan126 Please check the issue

[2020-04-11 09:48] mmazharuddin commented on #352
@PradeepChandramogo can you please test and confirm

[2020-04-11 09:49] Sbhonagiri commented on #105
@alikhan126 Please check the issue

[2020-04-11 09:49] alikhan126 commented on #105
@Sbhonagiri
Gave the fix in the following PR
Please merge and deploy
https://github.com/Skatta/MogoChain/pull/3303

[2020-04-11 09:49] Sbhonagiri commented on #361
@PradeepChandramogo Please verify on QA system

[2020-04-11 10:10] Vamshi9676 commented on #362
@Sbhonagiri
I have cleared the cache and i have clicked on Terms of services page not found is displaying. **ISSUE**

![Screen Shot 2020-04-11 at 3 37 19 PM](https://user-images.githubusercontent.com/43492917/79041082-989a7d00-7c0a-11ea-8bf6-972d4d692308.png)
![Screen Shot 2020-04-11 at 3 37 24 PM](https://user-images.githubusercontent.com/43492917/79041085-99cbaa00-7c0a-11ea-8223-0f13578641a4.png

[2020-04-11 10:14] anushayedl commented on #115
@ptvyas Tested in Qa build
App version 2.0 build 14.0

While clicking on 3 dotted menu, delete option is present- Fixed

While clicking on "Delete for me", deleted messages are still present- Fixed

While clicking on "Delete for Everyone", messages are getting deleted- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/79041122-e0210900-7c0a-11ea-91b6-551db2429c59.png)
![image]

[2020-04-11 10:23] anushayedl commented on #335
@ptvyas Tested in QA build

App version 2.0 build 14.0
Menu icon is not consistent of home page to open the side menu- Not fixed

![image](https://user-images.githubusercontent.com/39667299/79041324-83bee900-7c0c-11ea-961d-488a8143894b.png)

[2020-04-11 10:26] PradeepChandramogo opened #363 "Vertical place holder should present for Scanning driving licenses for US and Canada"
## Descrption

Vertical place holder should present for Scanning driving licenses for US and Canada

## Steps to reproduce
1.Register with US/Canada driving license
2.Go to my account and click on US/Canada driving license scanner

## Actual result
1.  Horizontal place holder scanner is present
2.  As bar code is more length in width, difficult to scan with present scanner in app

## Expected resu

[2020-04-11 10:27] anushayedl commented on #311
@ptvyas Tested in QA build

App version 2.0 build 14.0

New Broadcast option s not present while clicking on + symbol which is present at top right corner- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/79041369-f16b1500-7c0c-11ea-922e-4d6412a74389.png)

[2020-04-11 10:31] anushayedl commented on #299
@ptvyas Tested in QA build

App version 2.0 build 14.0

The workflow of Invitation link to a User of Aapoon to join a circle is not working.- Not Fixed (Not working as like android)

![image](https://user-images.githubusercontent.com/39667299/79041445-9ab20b00-7c0d-11ea-83a6-ccc2af7ee815.png)

![image](https://user-images.githubusercontent.com/39667299/79041450-a69dcd00-7c0d-11ea-915b-c9c65066321f

[2020-04-11 10:42] anushayedl commented on #118
@vavadiyahiren Tested in QA build

App version 2.0 build 14.0

1. While clicking on "Exit Circle" option, getting the pop up as "Please make a member of the circle as super admin and then you can exit"- Fixed
2. while clicking on Ok button the info pop up , page is redirecting to "Group member", here the list of group members are present- Fixed
3. After selecting the member and clicking ok done bu

[2020-04-11 10:46] Sbhonagiri commented on #225
@Vamshi9676 Can you please verify the issue on QA System.

[2020-04-11 10:50] anushayedl commented on #69
@ptvyas Tested in QA build

App version 2.0 build 12.0

Updated device contacts are not getting synced- Not Fixed
While clicking on Sync option present at right corner, even updated contats are not showing- Not Fixed
Nither in the Circle or in DM, updated contacts are not showing- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/79041809-56743a00-7c10-11ea-9c6c-2eb374c72c03.p

[2020-04-11 10:57] anushayedl commented on #68
@ptvyas tested in QA build
App version 2.0 build 14.0

When an image is sent, the image is being delivered to the user is viewing but the status of that image message is still showing as Waiting state- Fixed

![image](https://user-images.githubusercontent.com/39667299/79041948-4c9f0680-7c11-11ea-8dcd-e584125935af.png)

[2020-04-11 11:16] PradeepChandramogo commented on #358
@alikhan126 @Sbhonagiri
Tested in QA
In message cards showing about 5 sona coins after completing profile for phone verified user-- Working fine

![image](https://user-images.githubusercontent.com/59409828/79042270-c637f400-7c13-11ea-8d4b-de2731d1d9c5.png)

[2020-04-11 11:22] mmazharuddin commented on #113
@Navyacheruku please confirm and update

[2020-04-11 11:23] mmazharuddin commented on #234
@Vamshi9676 what confirmation you need?

[2020-04-11 11:25] mmazharuddin commented on #213
@Navyacheruku Looks ok to me

[2020-04-11 11:27] mmazharuddin commented on #179
@Navyacheruku Srini Sir has clarified this during the call...right.
What confirmation do you need?

[2020-04-11 11:28] Navyacheruku opened #364 "Able to send invitation to the contact who is already a c platform user from Invite Contacts module in the main app"
## Description

Able to send invitation to the contact who is already a c platform user from Invite Contacts module in the main app.

## Steps to Reproduce

1. Go to invite contacts from side menu or last message card
2. Select a contact who is already a member of aapoon

## Actual Result

Able to send invite to the contact who is already a member of aapoon

## Expected Result

Need confirmation i

[2020-04-11 11:30] mmazharuddin commented on #112
@vavadiyahiren we agreed only for recent 5 which are unread...but not for the read messages?

[2020-04-11 11:32] Navyacheruku commented on #179
@mmazharuddin

I mentioned the points discussed in the comment but couldn't comment due to some problem sir

As per Srini sir's confirmation, its okay

If + and 00 are not available before 1 and the US mobile number, then the user is shown under invite people. It is not considering as the platform user.

If there is no country code at all for US number, then the user is visible under invite People

[2020-04-11 11:33] Navyacheruku commented on #213
@mmazharuddin okay sir

Thank you

[2020-04-11 11:36] Navyacheruku commented on #113
Working fine in Samsung Galaxy A10

Blank screen is not visible now.

After video si completely loaded, the video can be played and preview is also visible

![image](https://user-images.githubusercontent.com/39667234/79042583-a2c27880-7c16-11ea-8ac6-3234acd0e723.png)

[2020-04-11 11:48] PradeepChandramogo commented on #105
@alikhan126
Tested in QA
Double posts are happening in api in another user timeline until that user posts any thing --**Issue**
(in api , two ids are appearing for one post)

![image](https://user-images.githubusercontent.com/59409828/79042790-47918580-7c18-11ea-904c-ba5ab164199c.png)

[2020-04-11 12:11] anushayedl opened #365 "After changing the privacy of the circle, all the circles name which is present in Circles tab, name is getting changed to "Info""
**Describe the bug**
Able to add the members but after adding members and try to change the privacy, all the circle's name is getting changed to "Info"*(Circle name)

**To Reproduce**
Steps to reproduce the behavior:
1. Create the circle, with the privacy of private
2. Once the circle is created then add the members
3. After adding the members, try to change the privacy
4. after changing the priva

[2020-04-11 12:20] PradeepChandramogo commented on #361
@alikhan126
Tested in QA

![image](https://user-images.githubusercontent.com/59409828/79043385-7d386d80-7c1c-11ea-85ff-e5865d2a1d57.png)

[2020-04-11 13:02] Navyacheruku opened #366 "JavaSocketTimeout Exception"
## Description

While maintaining or deploying, JavaSocketTimeoutException is being displayed.

## Steps to Reproduce

1. Perform any action in the app while deployment or maintenance is happening

## Actual Result
JavaSocketTimeout Exception is being displayed.

## Expected Result
User-friendly message should be displayed

![image](https://user-images.githubusercontent.com/39667234/71765838-3bae6

[2020-04-11 13:18] Vamshi9676 opened #367 "Replace incorrect OTP message with "Your OTP is incorrect. Please reenter"."
**Describe the bug**
When the user gives incorrect OTP in the OTP verification page getting a message as "incorrect OTP"
**To Reproduce**
Steps to reproduce the behavior:
1. Enter a phone number in the Registration page.
2. Click on enter and navigate to the OTP verification page.
3. Enter the wrong OTP.
4. Check for the message

**Expected behavior**
Replace incorrect OTP message with "Your OTP i

[2020-04-11 13:41] anushayedl commented on #65
@ptvyas : Tested in QA build

App Version 2.0 build 14.0
The alphabet f should be in uppercase for the word forwarded above the forwarded messages. It should be Forwarded instead of forwarded - Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79045325-26389580-7c28-11ea-848d-feb4cdaf76ea.png)
![image](https://user-images.githubusercontent.com/39667299/79045342-3486b180-7c28-11

[2020-04-11 13:49] anushayedl commented on #115
@ptvyas Tested in QA build
App version 2.0 build 14.0

While clicking on 3 dotted menu, delete option is present- Fixed

While clicking on "Delete for me", deleted messages are still present- Fixed

While clicking on "Delete for Everyone", messages are getting deleted- Fixed

![image](https://user-images.githubusercontent.com/39667299/79045461-e0300180-7c28-11ea-9f8d-98cf50a6adc2.png)
![image](htt

[2020-04-11 14:17] Vamshi9676 commented on #234
As per review meeting on 2020-04-11

As of now, it is fine.

[2020-04-11 14:18] Navyacheruku commented on #356
As per discussion in the AHM today with Srini sir, Hiren, Mazhar sir, no need of DM for now
Hence closing

[2020-04-11 14:20] anushayedl commented on #299
@Sbhonagiri : Please check

[2020-04-11 14:26] Navyacheruku commented on #356
Putting on hold for now as per srini sir's confirmation

[2020-04-11 14:32] Navyacheruku commented on #340
This is fine. as it is only for fraction of seconds, as per discussion with srini sir in the AHM

[2020-04-11 14:40] Vamshi9676 commented on #149
@RajKateshiya
Please check this comment as discussed in AHM.

The user is logged out from the application but that user is displaying online. ISSUE
After doing login, it is displaying instantly that the user is online not taking any time.

![Screen Shot 2020-04-11 at 8 09 46 PM](https://user-images.githubusercontent.com/43492917/79046764-6a2f9880-7c30-11ea-853d-e8dda2a268c7.png)
![Screen Shot 2020

[2020-04-11 14:44] PradeepChandramogo commented on #353
@kotimadduluri
Tested in QA
10 SONA coins should present  in invite friends text message-- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/79046831-bbd82300-7c30-11ea-88ed-a9f785c067c3.png)

[2020-04-11 14:46] Vamshi9676 commented on #200
By mistake it is closed.

[2020-04-11 14:51] vavadiyahiren commented on #335
@mmazharuddin this should be main app issue ?

[2020-04-11 14:52] vavadiyahiren commented on #166
@anushayedl can you help us please

[2020-04-11 14:53] vavadiyahiren commented on #321
Can you test with the latest build please

[2020-04-11 16:08] Navyacheruku opened #368 "No limit to Resend OTP"

[2020-04-11 16:27] Navyacheruku opened #369 "No limit to try phone verification with incorrect OTPS"
## Description

No limit to try phone verification with incorrect OTPS.

## Steps to Reproduce

1. During registration or login, go to phone verification screen by giving phone number and country code.
2. Give all incorrect OTPs and submit

## Actual Result

User is able to give incorrect OTPs any number of times

## Expected Result

Need confirmation if we should restrict the user with limited nu

[2020-04-11 16:30] Vamshi9676 commented on #318
@shamravu

In the latest build

Contact sync popup is displaying before the phone verification. ISSUE
![Screen Shot 2020-04-11 at 9 59 25 PM](https://user-images.githubusercontent.com/43492917/79049216-d8c82280-7c3f-11ea-94ff-1aaafd621072.png)

[2020-04-11 16:45] Vamshi9676 opened #370 "Go to My Account and click on QR code scan. After scanning and getting data, and before saving, ID verification got enabled."
**Describe the bug**
Go to My Account and click on QR code scan. After scanning and getting data, and before saving, ID verification got enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete signup up to Phone verification
2. Click on My Account page.
3. Scan the QR code or Driving license.
4. The page will navigate to My Account page, In My Account page click on ID verification

[2020-04-11 16:48] Vamshi9676 commented on #225
@Sbhonagiri

Able to complete My Account details for INDIA user, getting a popup as " Account Details Updated Successfully". Working fine
When we give more than 10 numbers In the zip code getting an error message as "Temporary error Try After some time". **ISSUE**

![Screen Shot 2020-04-11 at 10 17 09 PM](https://user-images.githubusercontent.com/43492917/79049604-33fb1480-7c42-11ea-988e-e87a6517e

[2020-04-11 16:51] PradeepChandramogo commented on #363
@kotimadduluri
Tested in QA

Vertical place holder should present for Scanning driving licenses for US and Canada -- **Fixed**
Instructions and timer is present in scanner -- Working fine

https://drive.google.com/file/d/1_TyCN9nxLcdckUhfAbLHaE8AdNLcTepU/view?usp=drivesdk

![image](https://user-images.githubusercontent.com/59409828/79049658-93f1bb00-7c42-11ea-83ac-5bca950f095d.png)

[2020-04-11 16:54] anushayedl commented on #118
@vavadiyahiren Tested in QA build

App version 2.0 build 14.0

1. While clicking on "Exit Circle" option, getting the pop up as "Please make a member of the circle as super admin and then you can exit"- Fixed
2. while clicking on Ok button the info pop up , page is redirecting to "Group member", here the list of group members are present- Fixed
3. After selecting the member and clicking ok done bu

[2020-04-11 16:55] Navyacheruku opened #371 "After giving Govt. Issued photo ID manually and clicked on Done in keypad, the control is not going to the next field"
## Description

After giving Govt. Issued Photo ID manually and clicked on Done in the keypad, the control is not going to the next field.

## Steps to Reproduce

1. During registration, in My Account screen, give photo-id manually using the keypad
2. Click on Done button in the keypad

## Actual Result

The keypad is not closing after clicking on Done.
And control is not going to the next field.

[2020-04-11 17:09] anushayedl commented on #269
@vavadiyahiren Tested in QA build
App version 2.0 build 14.0

Receiving the messages of the circle as a notification with the circle name- Fixed
Receiving the messages of the DM as a notification with the user name- Fixed
![image](https://user-images.githubusercontent.com/39667299/79050037-fe0b5f80-7c44-11ea-92b0-4ae0c3607e4d.png)
![image](https://user-images.githubusercontent.com/39667299/7905005

[2020-04-11 18:24] PradeepChandramogo commented on #101
Tested in QA

Able to upload selfie image with file size 5.5 MB -- Working fine
I am not able to reproduce to upload photo id more than 4 MB in size

![image](https://user-images.githubusercontent.com/59409828/79051708-5f383080-7c4f-11ea-9b13-7491e65e96c8.png)

[2020-04-11 18:25] PradeepChandramogo commented on #101
@Navyacheruku @Vamshi9676 Could you please check this issue with high resolution and update?

[2020-04-11 18:34] PradeepChandramogo commented on #326
@kotimadduluri
Tested in QA in lenovo k6 power
Guest popup is  not displaying again and again once clicked on ok button -- Working fine
able to click on other options after clicking on ok popup in guest mode -- Workong fine

Please find refence video in below link
https://drive.google.com/file/d/1_q_cEfjImyZzZOmVAlO--rkjUOwSaCMq/view?usp=drivesdk

[2020-04-12 02:45] shamravu commented on #318
@Sbhonagiri Every time I fix this issue, other developers are removing that fix. Please speak to them why they are enabling the permission.

[2020-04-12 03:06] shamravu commented on #334
I entered First Name as "Test" and clicked on Save button at the top right corner of the screen. Cursor is automatically shifted to Last Name field. I do not see the issue. Please let me know your feedback.

[2020-04-12 04:20] shamravu commented on #317
@PradeepChandramogo Is this OK?

![device-2020-04-12-094909](https://user-images.githubusercontent.com/17175253/79060470-fed2de80-7ca2-11ea-8ba5-33fe4102b3f1.png)

[2020-04-12 08:24] PradeepChandramogo commented on #334
@shamravu Please check in skip id scenario

[2020-04-12 08:31] PradeepChandramogo commented on #317
@shamravu Ok .

[2020-04-12 08:45] PradeepChandramogo commented on #208
@Sbhonagiri Please intimate to respective developers, if it needs integration with the UI.

[2020-04-12 09:21] anushayedl opened #372 "Image and video message"
**Describe the bug**
Image and video message able ot send in DM and Chit-Chat

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DM
2. send the image and vedio
3. Go to Chit-Chat
4. Send image and vedio

**Expected behavior**
Able to send the image and Vedio in DM and  Chit-Chat

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete th

[2020-04-12 09:23] anushayedl opened #373 "Download image and video from DM and Chit- Chat"
**Describe the bug**
Download image and video from DM and Chit-  Chat

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2020-04-12 09:24] anushayedl opened #374 "Preview of video message in Chit-Chat and DM"
**Describe the bug**
Preview of video message in Chit-Chat and DM

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following info

[2020-04-12 09:31] Navyacheruku opened #375 "When space is entered before and after email address, and tried to save Account details, 'Enter valid Email' is being displayed"
## Description

When space is entered before and after email address and tried to save Account details, 'Enter a Valid Email' is being displayed.

## Steps to Reproduce

1. Go to My Account screen
2. Enter an email address, add space before or after email address
3. Enter other details in My Account and click on Save

## Actual Result

_Enter valid Email_ is being displayed.

The user might have g

[2020-04-12 09:33] Navyacheruku opened #376 "No deep link in QA"
## Description

No deep link in QA

[2020-04-12 09:34] PradeepChandramogo opened #377 "Country code is not displayig in my account after max attempts scenario ,laminated scenarion and after verified fully, user has to go back and click on my account to"
## Descrption
Country code is not displayig in my account after max attempts scenario ,laminated scenario and after verified fully through , user has to refresh my account to see country name

## Steps to reproduce
1.After verifying phone number go to my account,
2.Check for my acciunt after both adhar max attempts scenario, and lamintaed scenario
3.ANd also please check my account after id verify

[2020-04-12 10:22] hisobhan opened #378 "Unable to hide mobile device Keypad"
**Describe the bug**
Unable to hide mobile device Keypad.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Aapoon App
2. Go To mobile registration page
3. Enter mobile number via mobile device Keypad and select (Tick Mark or OK or DONE) one those options based on your mobile device
4. Mobile Keypad not getting hide

**Expected behavior**
Mobile Keypad should get automatically hidden.

**

[2020-04-12 10:23] hisobhan commented on #378
QA Team - Pl do testing at your end too.
![Screenshot_2020-04-12_153727](https://user-images.githubusercontent.com/62284542/79066476-b680e400-7cd5-11ea-9413-4c9b5d086afc.jpg)
Enclosed the screenshot.

[2020-04-12 10:31] anushayedl commented on #206
@vavadiyahiren : Tested in QA build

App version 2.0 build 15.0

If the user is not present in Circle, then not getting the notifications- Fixed
![image](https://user-images.githubusercontent.com/39667299/79066595-ccdb6f80-7cd6-11ea-8134-ac6d4e0b3cc9.png)
![image](https://user-images.githubusercontent.com/39667299/79066601-db298b80-7cd6-11ea-89fc-c92db3dc389c.png)

[2020-04-12 11:39] Navyacheruku opened #379 "My Account message card is not getting updated and Profile picture is not being shown"
## Description

My Account message card is not getting updated and the Profile picture is not being shown.

## Steps to Reproduce.

1. During registration, go to My Account
2. Scan and save Account details.
3. Go to Home screen
4. From home, click on My Account and page will be redirected to the Photo side of the ID page.
5. Complete ID verification

## Actual Result

User earned 6 SONA for phon,

[2020-04-12 11:41] anushayedl commented on #365
@ptvyas Tested in QA build

App version 2.0 build 15.0
Able to change the privacy of the group- Fixed
After changing the privacy of the circle, in circles tab  all circles name is not getting changed- Fixed

![image](https://user-images.githubusercontent.com/39667299/79067854-1a100f00-7ce0-11ea-9c19-b1d8c0692b32.png)
![image](https://user-images.githubusercontent.com/39667299/79067861-22684a00-7ce

[2020-04-12 11:50] Sbhonagiri commented on #379
@Navyacheruku For Profile picture please check in the API message card will check the issue

[2020-04-12 11:53] Sbhonagiri commented on #299
@anushayedl Pramod has fixed the issue need to merge his code

[2020-04-12 11:54] Sbhonagiri commented on #299
@anushayedl For this can you please verify in the below if it works will merge:
https://i.diawi.com/y2YWNZ

[2020-04-12 11:56] Navyacheruku commented on #379
@Sbhonagiri : Please let me know the API and variable to be checked.

in users/m,  profile_pic variable is not present

![image](https://user-images.githubusercontent.com/39667234/79068192-baffc980-7ce2-11ea-938b-8037a58dde14.png)

[2020-04-12 11:57] Sbhonagiri commented on #379
@Navyacheruku logo is the paramter to check for profile pic and api is api/v1/users/me/

[2020-04-12 11:58] Navyacheruku commented on #379
@Sbhonagiri

logo shows null in api/v1/users/me

![image](https://user-images.githubusercontent.com/39667234/79068232-0c0fbd80-7ce3-11ea-9569-395335f70b75.png)

[2020-04-12 11:59] Navyacheruku commented on #379
Scanned and Id_verified are true

![image](https://user-images.githubusercontent.com/39667234/79068245-20ec5100-7ce3-11ea-83d2-cacf191ae705.png)
![image](https://user-images.githubusercontent.com/39667234/79068254-2a75b900-7ce3-11ea-8e31-b494cf0c4086.png)

[2020-04-12 12:05] anushayedl commented on #321
@vavadiyahiren Tested in QA build
App version 2.0 build 15.0

All the group are visible while joining from Discover tab- Fixed

![image](https://user-images.githubusercontent.com/39667299/79068345-e46d2500-7ce3-11ea-8f50-fde8692da01f.png)

[2020-04-12 12:39] Sbhonagiri commented on #379
@Navyacheruku Can you please check again I tried the same saved details by scanning and done ID verification, profile pic and message card message card updated
![Screen Shot 2020-04-12 at 6 08 03 PM](https://user-images.githubusercontent.com/17709729/79069014-927ace00-7ce8-11ea-8d18-dd5a8754122c.png)
![Screenshot_2020-04-12-18-04-58-364_go socialchains app_20200412_180609429](https://user-images.g

[2020-04-12 12:50] hisobhan commented on #103
During regression testing "Ethereum Wallet Address" field removed successfully in QA Builds.

[2020-04-12 12:54] hisobhan commented on #345
Tested in QA Environment. Able to perform Basic User Registration process.

[2020-04-12 12:55] hisobhan commented on #344
Tested in QA environment. Working as desired

[2020-04-12 13:00] hisobhan commented on #343
Design changes from Leadership. Hence this is not an issue

[2020-04-12 13:00] PradeepChandramogo commented on #103
@hisobhan Please dont close any issues without verifyingin  playstore build even it is fixed in QA.You can close the issues once they are merged in playstore and verifying

[2020-04-12 13:01] hisobhan commented on #342
Still the issue persists

[2020-04-12 13:17] hisobhan opened #380 "Cursor is not highlighting on Timeline window for Basic User only"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page / Main App page
2. Click on 'Timeline'
3. Unable to see where the cursor is pointing

**Expected behavior**
Cursor should blink on the Timeline area.

**Screenshots**
Screenshot attached

**Desktop (please complete the following information):**
Not Applicab

[2020-04-12 13:17] hisobhan commented on #380
![IMG-20200412-WA0000](https://user-images.githubusercontent.com/62284542/79069719-13889400-7cee-11ea-9fd7-5abc1419f434.jpg)

[2020-04-12 13:20] hisobhan commented on #103
By mistake I closed. Now the status is Fixed in QA

[2020-04-12 14:08] PradeepChandramogo commented on #352
@kotimadduluri
Tested in QA with mobile data

The screen keeps loading and stops and shows Photo Side of the ID button again.
Only some times very rarely, a message 'Please check your internet connection' toast message is shown and disappeared but loader keeps loading.
Other times, it loads and stops -- **Issue**

https://drive.google.com/file/d/1a1f84dSCxj8GIUTIC0aEENyiILCkV301/view?usp=drivesdk

[2020-04-12 15:06] Navyacheruku commented on #379
@Sbhonagiri

My Account card got updated and the picture is being visible - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/79072180-3c645580-7cfd-11ea-9f3a-1758843d58b5.png)
![image](https://user-images.githubusercontent.com/39667234/79072183-41290980-7cfd-11ea-87bd-7c7fe184da03.png)

![image](https://user-images.githubusercontent.com/39667234/79072176-38383800-7cfd-11ea-97

[2020-04-12 15:25] PradeepChandramogo commented on #209
@alikhan126 @Sbhonagiri
Tested in QA with below payload
Steps:
1.Selfie attempted unsuccesfully two times from ui after basic verification
2,Then In API,with below payload giving **photo id** in **sourceurl** and selfie in "targetkey"
 getting api response with accuracy results and please try with another selfie message -- WOrking
 fine
(didnot get max, attempts as issue raised above)
3 .For in ap

[2020-04-12 15:59] PradeepChandramogo commented on #317
@shamravu will take confirmation from sir and update you

[2020-04-13 06:34] anushayedl commented on #267
@ptvyas Tested in QA build
 App version 2.0 build 15.0

Able to change the privacy type- Fixed

![image](https://user-images.githubusercontent.com/39667299/79098066-c6a0ce00-7d7e-11ea-9aff-81e9cf83a687.png)
![image](https://user-images.githubusercontent.com/39667299/79098090-d0c2cc80-7d7e-11ea-9161-e8a7a96ba1dc.png)
![image](https://user-images.githubusercontent.com/39667299/79098110-da4c3480-7d7e

[2020-04-13 06:45] Sbhonagiri commented on #361
@PradeepChandramogo Please verify issue on Pre prod system

[2020-04-13 06:47] Sbhonagiri commented on #105
@alikhan126 Please check the issue

[2020-04-13 06:48] Sbhonagiri commented on #362
@Vamshi9676 Please verify the issue on QA system

[2020-04-13 06:50] Sbhonagiri commented on #362
@kotimadduluri PLease check the issue from your
![Screen Shot 2020-04-13 at 12 19 57 PM](https://user-images.githubusercontent.com/17709729/79099155-2a2bfb00-7d81-11ea-9cfc-6a38dfb6a281.png)
side

[2020-04-13 06:54] Sbhonagiri commented on #225
@kotimadduluri Please make the length of Zipcode at my account to 10digits

[2020-04-13 06:54] Sbhonagiri commented on #225
@Vamshi9676 Is that Zipcode genuine

[2020-04-13 06:55] Sbhonagiri commented on #318
@shamravu Sure will intimate developers

[2020-04-13 06:57] Sbhonagiri commented on #208
@kotimadduluri Please work on the below issue, for selfie update payload should be below:
{
"source_key": "",
"target_key": "https://socialchain-prod.s3.amazonaws.com/kyc/santhosh.bhonagiri%40gmail.com/user_241/6ad05265-a03f-4436-9393-5db617e557e4.jpeg",
"source_key_back_side": "",
"query": "update"
}

[2020-04-13 07:00] Sbhonagiri commented on #377
@PradeepChandramogo At API country_iso3 is present right its a UI issue

[2020-04-13 07:02] Sbhonagiri commented on #209
@PradeepChandramogo Please refer the payload I shared you are doing with the wrong payload

[2020-04-13 07:02] PradeepChandramogo commented on #377
@kotimadduluri could you please check this issue ASAP

[2020-04-13 07:08] Vamshi9676 commented on #225
@Sbhonagiri

It is not a genuine zip code.

[2020-04-13 07:19] Sbhonagiri commented on #336
@PradeepChandramogo Yes its an UI issue

[2020-04-13 07:19] PradeepChandramogo commented on #209
@Sbhonagiri i have done with both payloads which is mentioned above
(tried with query both update and selfie in payload) and shared the result.

please confirm after trying to update selfie after 3 attempts and have to check Kyc upload from api with same payload?

[2020-04-13 07:20] anushayedl commented on #372
@ptvyas Tested in QA Build

**Circle**
**1.  sent an image in circle|**
1. sent image is not received by the group member- **ISSUE**
2. App is getting crash after sending an image in circle.- **ISSUE**
3. sent image is getting blur from sender side for 2 to 3 seconds- **ISSUE**
4. After pinning the image message, pinned icon is not present-**ISSUE**
5. Unpin option is not present for pinned messag

[2020-04-13 07:30] PradeepChandramogo commented on #336
@kotimadduluri could you please  check this issue?

[2020-04-13 07:43] anushayedl commented on #373
@ptvyas Tested in QA build

App version 2.0 build 15.0

**Download imge and vedio in Cirle and DM**
1. image is getting  received in the circle -** Fixed**
2. While clicking on the image, showing as downloading, no download option is being shown on the image- **ISSUE*
3.  While clicking on the image, image is getting expand and showing the options as back rotations and 3 dotted menu- ** Fixed**
4.

[2020-04-13 08:04] anushayedl commented on #374
@ptvyas Tested in QA build

App version 2.0 build 25.0
**Preview of image and vedio in circle and DM
1. preview of the image is clear in a circle and DM- **Fixed**
2. While sending the image, not showing the preview to add the caption with image-** ISSUE**
3. while sending a video, the preview is not showing, after selecting the video from gallery directly it is getting sent -** ISSUE**

![image](

[2020-04-13 08:15] Sbhonagiri commented on #209
@PradeepChandramogo Don't perform both perform selfie three times from API and check whether you are able to perform selfie after three attempts also

[2020-04-13 08:17] Sbhonagiri commented on #200
@Vamshi9676 For user show "User doesn't exist"
For Circle "Circle doesn't exist"

[2020-04-13 08:20] Sbhonagiri commented on #225
@Vamshi9676 Which Country Zipcode is it.

[2020-04-13 08:24] Vamshi9676 commented on #225
@Sbhonagiri

 I have said that is not a valid zip code

[2020-04-13 08:28] hisobhan commented on #378
Label added as PRE-PROD

[2020-04-13 08:40] Navyacheruku opened #381 "Default Admin feeds are missing in pre prod app"
## Description

Default Admin feeds are missing in the pre-prod app installed for internal testing.

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. During the registration process, stay in the home screen
2. Check for the feeds under message cards

## Actual Result

No default feeds fromAapoon Admin

## Expected Result

Default feeds should be available

![image](https://user-images

[2020-04-13 08:43] Navyacheruku commented on #350
Happening in Pre-Prod

![image](https://user-images.githubusercontent.com/39667234/79106844-e3460180-7d90-11ea-8984-cb870ca98dac.png)

[2020-04-13 08:50] Navyacheruku opened #382 "Contacts without name are shown in invite Contacts - Need Confirmation"
## Description

Contacts without a name are shown in invite Contacts - Need Confirmation

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Save a mobile number without any name in the device contacts
2. Login to the aapoon app
3. Go to invite Contacts

## Actual Result

The contact without a name is shown, as it is also a device contact

## Expected Result

As per previous confirmatio

[2020-04-13 08:51] anushayedl commented on #166
@ptvyas Tested in QA build
App version 2.0 build 15.0

In the below report,

**First Line is - Scenario
Second Line is - Actual Result**

Please check the report below

#### 1. Try to make other users as super admin|
#### Able to make other users as super admin. **Fixed**
If super admin tries to exit the circle, pop up is displayed to make others as super admin.
After clicking on Ok, members list

[2020-04-13 09:01] Navyacheruku opened #383 "Huge text of invite contact message is turning in to MMS and unable to send it in Samsung Galaxy A 10"
## Description

Huge text of invite contact message is turning in to MMS and unable to send it

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Go to Invite Contacts
2. Select any contact and click on invite

## Actual Result

User is taken to devices messaging and the invite content is prefilled in the text area
And it is automatically converting into MMS
But it is not being sent.

[2020-04-13 09:11] hisobhan commented on #344
Issue repeated in PRE-PROD environment. Screenshot attached
![IMG-20200413-WA0001](https://user-images.githubusercontent.com/62284542/79108858-d88d6b80-7d94-11ea-844a-0e9e1ca90ba5.jpg)

[2020-04-13 09:13] hisobhan commented on #344
In the same screenshot, Save is not clearly visible

[2020-04-13 09:16] Navyacheruku opened #384 "No name of the contact selected after 'Hi' in invite contact message content from DM's invite people section"
## Description

No name after Hi in invite contact message content from DM's invite people section

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Go to chit-chat
2. Click on three dots and New Message
3. Under invite People, click on any contact

## Actual Result

User is taken to the device's  Messaging app and content pre filled in text area
But the name of the contact after 'Hi'

[2020-04-13 09:17] anushayedl commented on #335
@vavadiyahiren Please check the screenshot

Issue is from IOS Messaging app

![image](https://user-images.githubusercontent.com/39667299/79108619-5ac96000-7d94-11ea-858f-7b0d044d786d.png)
![image](https://user-images.githubusercontent.com/39667299/79109231-94e73180-7d95-11ea-9647-ee744a0949fe.png)

[2020-04-13 09:20] hisobhan commented on #189
In the first instance when navigate to Hamburger Menu, Logout is overlapping on Feedback (refer screen
![Screenshot_2020-04-13_144449](https://user-images.githubusercontent.com/62284542/79109481-0fb04c80-7d96-11ea-8a96-4fed5d9e6fdf.jpg)
![Screenshot_2020-04-13_144457](https://user-images.githubusercontent.com/62284542/79109489-10e17980-7d96-11ea-905b-fdf9608bda20.jpg)

shot) and after few seconds

[2020-04-13 09:22] Navyacheruku commented on #352
@kotimadduluri

Happening in Pre prod app also

For photo Id as well as Selfie upload

Please find the logs

[Selfie.txt](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4468886/Selfie.txt)

[2020-04-13 09:28] hisobhan commented on #345
Issue repeated in PRE-PROD Environment. Screenshot enclosed.
![IMG-20200413-WA0002](https://user-images.githubusercontent.com/62284542/79110043-358a2100-7d97-11ea-89a9-89e89aedee4d.jpg)

[2020-04-13 09:31] hisobhan commented on #342
Issue repeated in PRE-PROD environment too.

[2020-04-13 09:35] Navyacheruku opened #385 "Post Settings option is missing for posting Text content to connections/public/friends of my connections"
## Description

Post Settings option is missing to post for connections/public/friends of my connections

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. During registration, complete basic verification
2. Go to Post Modal
3. Click on the text area
4. Write some content
5. Look for post settings option to post for connections/public/friends of connections

## Actual Result

No option

[2020-04-13 09:35] PradeepChandramogo opened #386 "After posting succesfully anything from camera in new ui, by deafult home page should be visible to see posted images"
## Description
After posting succesfully anything from camera in new ui, by deafult home page should be visible to see posted images

## Steps to reproduce
1. Click on anything other than home button in new ui like chitchat/jnvite friends/Notification icon
2,Then click on Camera icon and post image
3.After posting succesfully, check for which screen appears

## Actual result
The screen before clic

[2020-04-13 09:46] Navyacheruku commented on #208
@kotimadduluri

Happening in pre-prod also

![image](https://user-images.githubusercontent.com/39667234/79111221-b9450d00-7d99-11ea-8f96-c921cf4c6c5a.png)

[2020-04-13 09:54] PradeepChandramogo commented on #101
@hisobhan
Could you please check this issue and update Status in GIt?

[2020-04-13 10:17] mmazharuddin commented on #65
@vavadiyahiren The alphabet f should be in uppercase for the word forwarded above the forwarded messages. It should be Forwarded instead of forwarded - Fixed

[2020-04-13 10:17] Navyacheruku opened #387 "It should display as "Please provide your Aadhaar Number" instead of "Government photo id is mandatory""
## Description

It should display as "Please provide your Aadhaar Number" instead of "Government photo id is mandatory"

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. For India country registration, During the registration process, go to My Account
2. Click on Save without giving Photo Id number

## Actual Result

_Government-issued photo id number is mandatory_ is displayed

## Ex

[2020-04-13 10:18] Navyacheruku commented on #340
Load More is not disappeared after all contacts are loaded and opened.

In Pre-prod

[2020-04-13 10:22] PradeepChandramogo commented on #362
@kotimadduluri
Tested in QA

Terms of service is opening when clicked on Terms of service link -- **Working fine**

![image](https://user-images.githubusercontent.com/59409828/79113457-92d5a080-7d9e-11ea-84f0-4bfe350f5c0e.png)

[2020-04-13 10:25] Sbhonagiri commented on #385
@shamravu Please check this issue

[2020-04-13 10:26] mmazharuddin commented on #354
@ptvyas All the DMs are disappeared from the list after log out and log in again...Not Fixed

[2020-04-13 10:26] Sbhonagiri commented on #340
@RajKateshiya Please check the issue

[2020-04-13 10:26] vavadiyahiren commented on #340
ok

[2020-04-13 10:29] anushayedl commented on #270
@SkattaSir need confirmation regarding need to show the sync icon in Add members page or not, as of not showing any sync option in Add Members page

@vavadiyahiren Tested in QA build

App version 2.0 build 15.0

In New Message page of DM "Load more" option is not present - Not Fixed
Contacts are updating in Connections and contacts page- Fixed
In Apoon Contacts are not showing the Load More option

[2020-04-13 10:54] vavadiyahiren commented on #166
Can we have only failed case scenario?

[2020-04-13 11:13] Sbhonagiri commented on #166
@anushayedl PLease update failed case scenarios for this ticket

[2020-04-13 11:16] Sbhonagiri commented on #225
@Vamshi9676 Zipcode wont be more than 10 characters globally please check UI validation has to be there

[2020-04-13 11:20] Sbhonagiri commented on #381
@Navyacheruku can you please verify now PreProd system.

[2020-04-13 11:23] anushayedl commented on #166
@vavadiyahiren Please check the failed cases

3. Super Admin Remove other admins as admins |
Super admin can edit the position of the admin | **Not fixed** ( Remove admin option is not present)

10. Admin removes other members from circle |
Admin is able to remove other members of the circle | **Not Fixed** (The admin is removed the member from android of same group, even the removed member is pre

[2020-04-13 11:26] Sbhonagiri commented on #367
@Vamshi9676 Please verify the issue on Pre prod and QA

[2020-04-13 11:36] Sbhonagiri commented on #189
![Screenshot_2020-04-13-17-05-08-631_go socialchains app_20200413_170526153](https://user-images.githubusercontent.com/17709729/79117537-067cab00-7da9-11ea-8140-14a7edcf8d11.jpg)
@shamravu Please check there is much space between feedback and logout.
Device Redmi note5 pro

[2020-04-13 11:41] Vamshi9676 commented on #225
@Sbhonagiri Ok

@kotimadduluri
Could you please validate from UI side as @Sbhonagiri Mentioned.

[2020-04-13 11:42] PradeepChandramogo commented on #367
@Sbhonagiri
Tested in QA
Replace incorrect OTP message with "Your OTP is incorrect. Please reenter". -- Working fine

![image](https://user-images.githubusercontent.com/59409828/79117826-cbc74280-7da9-11ea-9e7e-deec10aa8824.png)

[2020-04-13 11:44] mmazharuddin commented on #342
@shamravu Can you please check this issue and fix it ASAP.

![Screen Shot 2020-04-13 at 5 14 11 PM](https://user-images.githubusercontent.com/10600627/79117983-38424180-7daa-11ea-8076-3b9c498309e9.png)

[2020-04-13 11:44] Vamshi9676 commented on #367
@Sbhonagiri
In Pre prod when we enter the wrong otp getting a message as "Your OTP is incorrect. Please reenter.

![Screen Shot 2020-04-13 at 5 15 13 PM](https://user-images.githubusercontent.com/43492917/79118013-485a2100-7daa-11ea-96c1-d8ac53bcf3c8.png)

[2020-04-13 11:49] PradeepChandramogo commented on #363
@kotimadduluri
Tested in QA
Vertical place holder scanner should present -- Fixed
 vertical scanner line is in green in colour -- **Need confirmation**
Sacnner is present in Rectangular box --- **Need confirmation**

https://drive.google.com/file/d/1aTjr23rKWuv4xg8cSDruzVSAZxlp56X0/view?usp=drivesdk

[2020-04-13 11:51] mmazharuddin commented on #123
@anushayedl please send me one video from Camera and another from Gallery, I want to see if it works.

[2020-04-13 12:12] Sbhonagiri commented on #70
@anushayedl Please verify the issue on QA latest build

[2020-04-13 12:15] mmazharuddin commented on #123
@ptvyas After sending video in a circle it is not visible for other members in the circle - Not Fixed

[2020-04-13 12:16] anushayedl commented on #373
@ptvyas Tested in QA build

App version 2.0 build 15.0

**Download imge and vedio in Cirle and DM**
IPhone to Android
1. image is getting  received in the circle -** Fixed**
2. While clicking on the image, showing as downloading, no download option is being shown on the image- **Not fixed*
3.  While clicking on the image, image is getting expand and showing the options as back rotations and 3 dott

[2020-04-13 12:17] mmazharuddin commented on #123
I have uploaded from my iPhone 6 plus device but Anusha is not able to see the video and image

![Screen Shot 2020-04-13 at 5 46 15 PM](https://user-images.githubusercontent.com/10600627/79119736-b30d5b80-7dae-11ea-87b2-660a5bc03f4b.png)

[2020-04-13 12:20] PradeepChandramogo commented on #209
@Sbhonagiri @alikhan126

Tested with below payload.
Able to update selfie after five attempts also, getting message"sefie is improper,please try again" --**Not fixed**

{
"source_key": "",
"target_key": "https://socialchain-prod.s3.amazonaws.com/media/d983d80078094d52b3cc5ad4a9871843/feed/IMG_20200413_173738.jpg",
"source_key_back_side": "",
"query": "selfie"
}

![image](https://user-images.github

[2020-04-13 12:24] Sbhonagiri commented on #215
@Vamshi9676 Please verify the issue on QA and PreProd

[2020-04-13 12:26] anushayedl commented on #123
@ptvyas Tested in QA build

App version 2.0 build 14

Sent vedios are not getting received by the group member in circle-*ISSUE*
sent videos are not received in DM-*ISSUE*
![image](https://user-images.githubusercontent.com/39667299/79120225-0a5ffb80-7db0-11ea-98c5-4e0eb1f4cb1b.png)
![image](https://user-images.githubusercontent.com/39667299/79120241-1481fa00-7db0-11ea-8372-920dfa596a87.png)

[2020-04-13 12:26] vavadiyahiren commented on #373
Can you explain something more on below points

1. While clicking on the image, showing as downloading, no download option is being shown on the image
2. Video is not getting download
3. image is also not getting saved in gallery

[2020-04-13 12:38] mmazharuddin commented on #373
@vavadiyahiren I have added you in one Cricle "Monday Team", and shared one video and image . please send some video and image in the circle?

[2020-04-13 12:41] mmazharuddin commented on #373
![21068F1E-983C-4A9D-AD8D-BCA4A7D4DB89](https://user-images.githubusercontent.com/10600627/79121088-1c429e00-7db2-11ea-85a3-8443ad2ff1e6.jpeg)
![EF6E2781-7A2E-4DAA-A484-66F95CDFE3DD](https://user-images.githubusercontent.com/10600627/79121098-219fe880-7db2-11ea-8838-7581a14670c8.png)

[2020-04-13 12:42] Vamshi9676 commented on #215
@Sbhonagiri

Able to create Circles with emojis, in the Pre Prod. Working fine
While editing also able to add emojis in the Pre prod. Working fine.

![Screen Shot 2020-04-13 at 6 12 03 PM](https://user-images.githubusercontent.com/43492917/79121188-57dd6800-7db2-11ea-9232-b832a54c7a76.png)
![Screen Shot 2020-04-13 at 6 12 10 PM](https://user-images.githubusercontent.com/43492917/79121190-590e9500-

[2020-04-13 12:46] Sbhonagiri commented on #209
@PradeepChandramogo How many times have you performed selfie I see four times and it didnt show message max attempts reached then its working fine right.

[2020-04-13 12:46] Navyacheruku opened #388 "No star mark for Govt. issued Photo Id field during secure QR scan"
## Description

No star mark for Govt. issued Photo Id field during secure QR scan

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. For india, During the registration process, go to My Account
2. Scan Secure QR aadhar

## Actual Result

There is no star mark for Govt. issued photo id field even though it is mandatory

## Expected Result

Star mark should be available for mandatory fi

[2020-04-13 12:48] Navyacheruku commented on #381
@Sbhonagiri

Default feeds are available - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/79121527-231de080-7db3-11ea-91c2-55d4d3e78506.png)

[2020-04-13 12:51] anushayedl opened #389 ""Circle Invite Link" is not present in Info page of circle"
**Describe the bug**
"Circle invite link is not present in Info page of the circle

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on the circle profile picture
3. info page will open
4. see the Circle invite link is present or not

**Expected behavior**
In Circle info page "Circle Invite Link* should be present

**Screenshots**
If applicable, add screenshots to help ex

[2020-04-13 12:52] mmazharuddin commented on #335
@pramodhpalu can you please check this issue.

[2020-04-13 12:55] mmazharuddin commented on #270
@vavadiyahiren
In New Message page of DM "Load more" option is not present - Not Fixed
In Apoon Contacts are not showing the Load More option- Not Fixed

[2020-04-13 12:57] PradeepChandramogo commented on #209
@Sbhonagiri
I didnot share all screenshots, but i tried for 6 times it did not show max .attempts?can we update selfie any no.of times at a time?

[2020-04-13 13:00] anushayedl opened #390 ""Message Info " page of DM is showing as blank"
**Describe the bug**
"Message Info " page of DM is showing as blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DM
2. Click on 3 dotted menu of message
3. will get the option as  message info
4. click on Message Info option

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):

[2020-04-13 13:21] anushayedl commented on #70
@ptvyas Tested in QA build
While clicking on connections page is not redirecting to chit-chat- Not fixed

App version 2.0 build 14

1. After getting the connection request, accepted the connection request
2. Now click on My connections from side menu
3. Page is redirecting to My Connections page, while clicking on 3 dotted menu, menu is getting opened. here getting the option as "Message"
4. While

[2020-04-13 13:21] Vamshi9676 commented on #105
@Sbhonagiri @alikhan126
Tested in Pre Prod
2 Default feeds are displaying with the same content. **ISSUE**

![Screen Shot 2020-04-13 at 6 49 23 PM](https://user-images.githubusercontent.com/43492917/79123437-cc66d580-7db7-11ea-9075-8b8704afcff6.png)

[2020-04-13 13:24] vavadiyahiren commented on #354
@mmazharuddin As we agreed that we are not fetching the one-one contact history and we don't have local database backup this can not be done.

[2020-04-13 13:27] anushayedl commented on #373
@vavadiyahiren Please check the below comments

1. While clicking on the image, showing as downloading, no download option is being shown on the image - **While clicking in image or video, its getting downlaod. The end user may confused over here, why because the downlaod option is not present from 3 dotted menu or nor from window icon, so itis better to show the downlaod option or icon to user, s

[2020-04-13 13:31] hisobhan commented on #101
unable to reproduce 4MB Size issue. Successfully Basic User registration done.
But the flip side, Format issues like Save, Rotate and Crop are not clearly visible.
Even country code is not defaulting to 3 letters only two letters (IN)

[2020-04-13 13:33] Vamshi9676 commented on #381
@Sbhonagiri

In Pre prod default feed is displaying twice. **ISSUE**
In the feeds default feeds are displaying repeatedly. **ISSUE**

Please check the reference video

https://drive.google.com/file/d/10qwHjIZDEKsGrM4uWcjbhsSw0X94KnMu/view?usp=sharing

[2020-04-13 13:40] pramodhpalu commented on #70
@anushayedl  i will look in to thos . I implemented on tap on the cell directly . I will implment on the 3 dots as well

[2020-04-13 13:42] Navyacheruku commented on #375
Happening in pre-prod also

[2020-04-13 14:06] Navyacheruku opened #391 "During selfie update, if the new image (target) is not matched with the original profile picture (source), message displayed is irrelevant"
## Description

During the selfie update, if the new image (target) is not matched with the original profile picture (source), message displayed is improper.

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. After completing the registration, open the hamburger or side menu
2. Click on the profile picture
3. Camera and Gallery options are available to update profile picture from any o

[2020-04-13 14:18] RajKateshiya commented on #340
Done

[2020-04-13 14:19] RajKateshiya commented on #384
Done

[2020-04-13 14:34] Navyacheruku opened #392 "In the image full view, Rotate left icon got shrunk and lost alignment due to huge name of the user"
## Description

In the image full view, Rotate left icon got shrunk and lost alignment due to huge name of the user

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Go to Chit- Chat
2. Post an image from a user whose name is huge
3. Open that image completely in full view

## Actual Result

The Rotate left icon got small and lost the alignment

## Expected Result

Auto resize should

[2020-04-13 15:34] Sbhonagiri commented on #361
@PradeepChandramogo @Navyacheruku @Vamshi9676 Please verify issue on QA and Preprod

[2020-04-13 15:35] Sbhonagiri commented on #350
@Vamshi9676 Please verify issue on Preprod

[2020-04-13 15:41] PradeepChandramogo commented on #357
@alikhan126 @Sbhonagiri
Tested in QA
,New posts are appearing at bottom and old posts are appearing at top -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/79134443-57050000-7dcb-11ea-8ce0-481fda069a96.png)

[2020-04-13 15:55] mmazharuddin commented on #383
@Navyacheruku This is not a technical issue, we need to keep the SMS size less than 140 - 160 characters only.

[2020-04-13 15:55] mmazharuddin commented on #383
@Navyacheruku Please get the updated message from Srini Sir

[2020-04-13 15:56] Navyacheruku commented on #383
@mmazharuddin Sure sir

[2020-04-13 15:56] mmazharuddin commented on #385
@shamravu Please give high priority

[2020-04-13 15:58] mmazharuddin commented on #375
@Navyacheruku can you please share the test cases for this issue?

[2020-04-13 16:01] mmazharuddin commented on #387
@Navyacheruku Please share the screenshot otherwise developer will not understand the issue.

[2020-04-13 16:03] mmazharuddin commented on #352
@kotimadduluri Please give high priority, if you need any further clarity...please reply in this ticket

[2020-04-13 16:04] mmazharuddin commented on #189
@shamravu can you please look into this issue.

[2020-04-13 16:04] Vamshi9676 commented on #149
It is happening in pre prod also

[2020-04-13 16:07] mmazharuddin commented on #208
@kotimadduluri can you please check this issue

[2020-04-13 16:09] mmazharuddin commented on #382
@Navyacheruku You should have discussed this issue in the AHM.
Please send an email and get the confirmation

[2020-04-13 16:11] Navyacheruku commented on #382
@mmazharuddin Sure sir

[2020-04-13 16:11] mmazharuddin commented on #369
@Navyacheruku This seems to be a breakage, their account should be locked after 5 wrong OTP.

[2020-04-13 16:13] Navyacheruku commented on #369
@mmazharuddin Okay. Sir

Will assign the developer

@alikhan126 @Sbhonagiri : Could you please fix this

[2020-04-13 16:13] mmazharuddin commented on #368
@Navyacheruku This is a breakage in existing functionality.
Should we restrict sending of OTP more than 5 times - Yes

[2020-04-13 16:14] PradeepChandramogo commented on #105
@alikhan126 @Sbhonagiri

Double posts are happening in api in another user timeline until that user posts any thing --Issue
(in api same id is appearing two times for one post, )

![image](https://user-images.githubusercontent.com/59409828/79137168-d98fbe80-7dcf-11ea-9c3e-c9a67ea3a319.png)

[2020-04-13 16:15] Vamshi9676 commented on #350
@Sbhonagiri

Tested in the Pre Prod,

The page is loading continuously when we send feedback. **ISSUE**

![Screen Shot 2020-04-13 at 9 45 00 PM](https://user-images.githubusercontent.com/43492917/79137302-1956a600-7dd0-11ea-8818-671b8bc20a6c.png)

[2020-04-13 16:23] Vamshi9676 commented on #200
@Sbhonagiri

1. While adding the members in the Circle "User matching query does not exist" is not displaying. Working fine.
2. Able to add members in the circle successfully. Working fine
3. I have added members for 2 circles, an error message is not displayed. Working fine

![Screen Shot 2020-04-13 at 9 49 58 PM](https://user-images.githubusercontent.com/43492917/79137830-127c6300-7dd1-11ea-94d2

[2020-04-13 16:33] shamravu commented on #189
For now, I fixed the overlapping issue but logout option will not show at the bottom of the screen instead it will show below Feedback option.

[2020-04-13 16:40] Navyacheruku commented on #375
@mmazharuddin Sure sir

@alikhan126 @Sbhonagiri @kotimadduluri

Please find the test cases for Email Address field

1. Format of Email address (As per Durga Sir's confirmation earlier and Google registration process)

   Only (a-z), (0-9), periods (.), underscore( _ ), hyphen (-) should be accepted before @ symbol
   After @ only English alphabets and numbers should be accepted
   After dot ( . ),

[2020-04-13 16:41] Sbhonagiri commented on #209
@PradeepChandramogo Then it's fixed right as per the description

[2020-04-13 16:54] Navyacheruku opened #393 "Page Not Found when clicked on invitation link received"
## Description

Page Not Found when clicked on the invitation link

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Go to Chit-Chat or invite Contacts from Side menu
2. Select a contact and send the invitation
3. In that contact device or same device, click on the link

## Actual Result

Page not found 404 is displayed

## Expected Result

Deep-link options to open in app or browser

[2020-04-13 16:58] Navyacheruku commented on #387
@mmazharuddin

Updated now in the issue description sir

[2020-04-13 17:00] Navyacheruku opened #394 "Cropper or cropping option to crop the image while sending the image to chats is missing"
## Description

Cropper or cropping option to crop the image while sending the image to chats is missing.
Better to have a cropper- usability point of view

## App Version

Sunday 12.4.2020-3

## Steps to Reproduce

1. Go to Chit-Chat
2. Open any chat DM or Circle chat
3. Click on the Attachment icon
4. Select any image or capture an image

## Actual Result

Image preview with caption area is disp

[2020-04-13 18:12] kotimadduluri commented on #362
@Sbhonagiri please merge my chnages into PRE Production

[2020-04-13 18:48] Skatta commented on #382
@Navyacheruku  I guess you are referring to device contacts.  We don't need to filter  if device contacts  if the name is not associated with the contacts. User may know the contact number. So please display all the device contacts whether it has associated name or not.

[2020-04-13 18:49] Skatta commented on #383
@Navyacheruku  we are working on providing  a message less than 160 characters

[2020-04-14 05:44] anushayedl commented on #299
@Sbhonagiri Tested in Below link

https://i.diawi.com/y2YWNZ

The workflow of Invitation link to a User of Aapoon to join a circle is not working.- Not Fixed (Not working as like android)

[2020-04-14 05:54] vavadiyahiren commented on #166
@mmazharuddin can you please clear the above list as we discussed ?

[2020-04-14 06:39] Vamshi9676 commented on #384
@RajKateshiya

1. When the user sends the invitation from DM after Hi name is getting prefilled in the compose box. Working fine
2. Tried to send an invitation to 4 members', name of the contact is getting prefilled. Working fine
![Screen Shot 2020-04-14 at 12 04 14 PM](https://user-images.githubusercontent.com/43492917/79193652-b6552580-7e48-11ea-8d0a-4ed3df9ab38f.png)
![Screen Shot 2020-04-14 at

[2020-04-14 07:02] PradeepChandramogo opened #395 "Profession is not displaying under name in Post model"
## Description
Profession is not displaying under  name in Post model

## Steps to reproduce
1.Login in to account
2.Check for the porofession under accounts user name

## Actual result
1) Profession is not displaying even profession privacy settings is set to "Public"

## Expected result
1.Profession should be visible if privacy settings is set to public

## Screenshot for actual result
1.profess

[2020-04-14 07:06] Vamshi9676 commented on #340
@RajKateshiya
Tested in QA build

1. If user is having more than 10 connections load more option is displaying. Working fine
2. After clicking on load more, all connections are displaying. Working fine
3. When a user clicks on load more for contacts, all contacts are displaying after clicking on load more. Working fine.
4. After seeing all contacts, load more option is not displaying. Working fine

[2020-04-14 07:15] PradeepChandramogo commented on #363
@Sbhonagiri

Could you please provide reference for how scanner bar should be appear and what should appear in instructions?

[2020-04-14 07:18] PradeepChandramogo commented on #317
@shamravu please dont work until on this issue until i update you. please keep screen as it was initially

[2020-04-14 07:30] Vamshi9676 commented on #200
@Sbhonagiri

Tested in QA build,

1. While adding the members in the Circle "User matching query does not exist" is not displaying. Working fine.
2. Able to add members in the circle successfully. Working fine
3. I have added members for 2 circles, an error message is not displayed. Working fine

![Screen Shot 2020-04-14 at 1 00 14 PM](https://user-images.githubusercontent.com/43492917/79197753-ed

[2020-04-14 07:42] anushayedl opened #396 "In "Info" page, the heading should be present with the "circle name info""
**Describe the bug**
In "Info" page, the heading should be present with the "circle name info" (Ex: Circla name Iphone, then the info page should be having the heading as "Iphone Info"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circles tab
2. Click on Circle
3. Click on circle profile picture
4. Circle info page will open

**Expected behavior**
![image](https://user-images.githubu

[2020-04-14 07:42] Vamshi9676 commented on #292
@Sbhonagiri

Tested in QA build,

1. While adding the members in the Circle "User matching query does not exist" is not displaying. Working fine.
2. Able to add members in the circle successfully. Working fine
3. I have added members for 2 circles, an error message is not displayed. Working fine
### 4. When I have added Soumya Patlola to a circle getting an error message as "User matching query do

[2020-04-14 07:43] PradeepChandramogo commented on #334
@shamravu
Tested in QA

1.When first name is given and clicked on save, cursor should be displayed in last name field. no need for user to click on last name filed  -- FIxed

![image](https://user-images.githubusercontent.com/59409828/79198600-5d3dbf80-7e51-11ea-85a5-7c21a1071ce5.png)

[2020-04-14 07:48] anushayedl opened #397 "For Exit option of circle need to show 3 options as Delete Circle, Exit Circle and Exit as Super Admin"
**Describe the bug**
For Exit option of circle need to show 3 options as Delete Circle, Exit Circle and Exit as Super Admin

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. go to info page
3. click on exit
4. need to show three options

**Expected behavior**
After the super admin make the other circle member as Super Admin when he clicking on exit option for the second time, n

[2020-04-14 08:03] PradeepChandramogo commented on #359
@kotimadduluri

Logs are present after scanning in **aapoon/aapoonlog//scannerlog.txt**  for scanning adhar  __

WOrking fine

Scanner logs for adhar scanned succesfully

https://drive.google.com/file/d/1ancoHhXXxSLJ49DWpRB_oxzdetggD3OB/view?usp=drivesdk

[2020-04-14 08:10] PradeepChandramogo commented on #387
@kotimadduluri

Tested in  QA

[2020-04-14 08:14] PradeepChandramogo commented on #189
@shamravu

Tested in QA

On Side bar menu - Logout is overlapping on Feedback for when clicked on sidemenu and
after loading it is not overlapping  __ Fixed

But Logout option is not as per design -- Issue
(Please check above screenshoyts how the logout option colour)

![image](https://user-images.githubusercontent.com/59409828/79201511-cde6db00-7e55-11ea-9fe9-4428f5517a9c.png)

[2020-04-14 08:29] anushayedl commented on #373
@vavadiyahiren Tested in QA build

App version 2.0 build 14

1. While clicking on the image, showing as downloading, no download option is being shown on the image - **While clicking in image or video, its getting downlaod. The end user may confused over here, why because the downlaod option is not present from 3 dotted menu or nor from window icon, so itis better to show the downlaod option or ic

[2020-04-14 08:37] PradeepChandramogo commented on #387
@kotimadduluri

Tested on QA
It should be Please provide your Aadhaar Number -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/79203743-18b62200-7e59-11ea-99d2-949afb0eff2e.png)

[2020-04-14 08:59] PradeepChandramogo opened #398 "Logout option colour is not as per new ui"
## Descrption

Logout option colour is not as per new ui

## Steps to reproduce
1.After login , check for "logout" in sidemenu

## ACtual result
1.Logout is not as per new ui design

## Expected result

!. it should be as per ui design

[2020-04-14 09:13] PradeepChandramogo commented on #375
Spaces before and after email address should be trimmed -- **WOrking fine**
After giving space at start and end of the email , it is accepting ---  WOrking fine

![image](https://user-images.githubusercontent.com/59409828/79207224-0ee2ed80-7e5e-11ea-8d8b-9b802f53f981.png)

[2020-04-14 09:31] vavadiyahiren commented on #390
Is this happening consistently, we are not able to reproduce the problem please provide the corner case condition if there is any.

[2020-04-14 09:46] anushayedl commented on #123
@ptvyas Tested in QA build

App version 2.0 build 14

Sent videos are not getting received by the group member in the circle from Iphone to Android-ISSUE
Sent videos are not received in DM from Iphone SE to Iphone 6 -ISSUE

Received the video which is sent from android to iphone- Fixed
![image](https://user-images.githubusercontent.com/39667299/79210554-a9453000-7e62-11ea-916d-36949b494e99.png)

!

[2020-04-14 10:08] anushayedl commented on #166
@vavadiyahiren tesetd App version 2.0 build 14

3. Super Admin Remove other admins as admins |
Super admin Able to remove from the admin position | -*Need confirmation* (While clicking  the user name showing the options but when clicked in Admin noot getting any options

4. Admin removes other members from circle |
Admin is able to remove other members of the circle | Fixed

7. Super admin is left

[2020-04-14 10:14] PradeepChandramogo commented on #385
@shamravu
Tested in QA
No option of Post Settings for text posting - **Fixed**
Able to post for text, image,youtube video -- working fine

![image](https://user-images.githubusercontent.com/59409828/79213102-3b9b0300-7e66-11ea-85c7-bda1e0a6f80e.png)

[2020-04-14 11:17] PradeepChandramogo commented on #361
@Sbhonagiri @alikhan126

Tested in QA

1 .For India ""Aadhaar Number of Scanned QR Code and Photo Id Uploaded Aadhar Number is
   Mismatched""  -- Working fine

2 .For US and Canada "Driving license number of Scanned bar Code and Photo Id Uploaded Driving
license Number is Mismatched"

3.But in third flow scenario, where scanning fails and given details manually and upload wrong
photo id "Adhaar n

[2020-04-14 11:18] anushayedl opened #399 "DM's are appearing in Circles list"
**Describe the bug**
DM's are appearing in Circles list, after logout and login to the application

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app
2. After installing login to the app
3. logout from the app
4. And login into the app

**Expected behavior**
DM's should be present in Direct list not in Circle's list

**Screenshots**
If applicable, add screenshots to help explain

[2020-04-14 11:37] PradeepChandramogo commented on #388
@kotimadduluri
Tested in QA

There is no star mark for Govt. issued photo id field even though it is mandatory -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/79220731-3348c500-7e72-11ea-920a-dac100d430bb.png)

[2020-04-14 11:55] Vamshi9676 commented on #225
@Sbhonagiri
Please check for the reference.

ZIP code validation

Biggest zip code is 10

https://www.google.com/search?q=what+is+the+largest+length+of+the+zip+code&oq=what+is+the+largest+length+of+the+zip+code&aqs=chrome..69i57j0.12132j0j7&sourceid=chrome&ie=UTF-8

For USPS zip code validation

for US total 9 digits are there excluding hyphen ex (22323-4322)

https://smartystreets.com/articles/zi

[2020-04-14 12:04] PradeepChandramogo commented on #377
@kotimadduluri
Tested in QA
.Country name should present by default in all scenarios after phone verify --FIxed
(After scaaning,skipid , adhar laminated scenario and max attempts scenarios)
No need to go back and reload to check country -- Working fine

![image](https://user-images.githubusercontent.com/59409828/79222532-51fc8b00-7e75-11ea-940a-c9ffd19124b8.png)

[2020-04-14 12:49] PradeepChandramogo opened #400 "The sentence "The upload image size should be less than 4 Mb " Should be removed in instructions of photo id upload page for all countries as now user can upload image more than 4 mb"
## Descrption
The sentence "The upload image size should be less than 4 Mb " Should be removed in instructions of photo id upload page for all countries as now user can upload image more than 4 mb

## Steps to reproduce
1.In uploading photo side of id page check for sentence mentioned in title in instructions

## Actual result
1.The upload image size should be less than 4 Mb is present

## Expecte

[2020-04-14 13:19] anushayedl opened #401 ""Remove" option is not present for the Circle profile picture"
**Describe the bug**
"Remove" option is not present for the Circle profile picture

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on circle profile picture
3. page is redircting to info page
4. On profile picture edit icon is present
5. click on Edit icon

**Expected behavior**
Remove option shoule be present fro the circle profile picture

**Screenshots**
If applicabl

[2020-04-14 13:25] anushayedl opened #402 ""Unpin" option is not present in circle for messages"
**Describe the bug**
"Unpin" option is not present in circle for messages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on 3 dotted menu of the message
3. menu options is getting opened
4. first pin the message
5.  Try to Unpin the message

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complet

[2020-04-14 13:27] PradeepChandramogo commented on #332
@kotimadduluri Please update in this issue ASAP

[2020-04-14 13:33] Vamshi9676 opened #403 "Already a contact is a platform user still that contact is displaying in the Invite contacts list of new message."
**Describe the bug**
Already a contact is a platform user, still, that contact is displaying in the Invite contacts list of new message.
**To Reproduce**
Steps to reproduce the behavior:
1. login to an account
2. Click on the Chit Chat
3. Click on the 3 dot menu.
4. Click on New message.
5. Search the contact that it should be a platform user.

**Expected behavior**
Need Confirmation that contact

[2020-04-14 13:35] PradeepChandramogo commented on #318
@shamravu
Issues
 1) App is getting crashed when clicked on invite contacts in case of user denies contact sync
     permission  -- **Issue**
 2) Contact sync option popup is displaying multiple times while using app if user denies contact
  sync option-- **issue**

Feature request
1) If user gives permission for contact sync access. it should  refect in contact sync option in privacy
   settings

[2020-04-14 13:47] RajKateshiya commented on #392
Done

[2020-04-14 14:08] Sbhonagiri commented on #391
@Navyacheruku This message is shown when there is text extracted in the image, so the above message has shown

[2020-04-14 14:11] Sbhonagiri commented on #225
@kotimadduluri Please add validation for postcode length as 10 digits

[2020-04-14 14:21] Vamshi9676 commented on #292
@alikhan126

1. Group matching query does not exist is being displayed when trying to add existing members to the nonexisting circle
Please check the message for the above scenario.

**“Circle does not exist”**

2. User matching query does not exist is being displayed when tried to add the nonexisting user (deleted from admin) in to the existing circle

Please check the message for the above scena

[2020-04-14 14:33] Vamshi9676 opened #404 "A Contact is a platform user but that contact is not displaying in the Connections and contact list. That user is displaying in the Aapoon Users list."
**Describe the bug**
A Contact is a platform user, but that contact is not displaying in the Connections and contact list.
That user is displaying in the "Aapoon Users" list in "New message"

**To Reproduce**
Steps to reproduce the behavior:
1. Save a mobile number in the phone book which is present as a platform user in the platform.
2. Log in to an account.
3. Click on chit chat.
4. Click on 3 d

[2020-04-14 15:29] Vamshi9676 commented on #392
@RajKateshiya

Tested in QA

1. Tested in the Circle, In the image full view, the Rotate left icon is displaying correctly. Working fine
2. Tested in the Direct message, In the image full view, the Rotate left icon is displaying correctly. Working fine

![Screen Shot 2020-04-14 at 8 48 04 PM](https://user-images.githubusercontent.com/43492917/79242224-a9a8ef80-7e91-11ea-8634-0aee0ff20154.png)ra
![

[2020-04-14 15:42] Vamshi9676 opened #405 "App got stopped working and getting a popup as, android.process.media keeps stopping."
**Describe the bug**
Tested in QA. (Aapoon_14_4.apk) build.

The app got stopped working and getting a popup as, android.process.media keeps stopping.
Posted an image and in the Dm from the camera and then after posted a record a video and posted an image from the camera in the Circle, after that a popup is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. C

[2020-04-14 21:05] Skatta commented on #383
Below is the message
------------------------
Please join my network on a new social media app called Aapoon – where all users are Real, and most importantly, you earn part of the revenues.

[2020-04-15 04:43] RajKateshiya commented on #404
@Vamshi9676 send number whuch you have saved in device (Mazhar Sir mogi number)

[2020-04-15 04:48] RajKateshiya commented on #403
@Vamshi9676 send number which you have saved in device ("Navya Mogo" number)
And where you are testing in QA or Production?
And have you check with api response for this number?

[2020-04-15 06:08] mmazharuddin commented on #383
@Sbhonagiri Please get this messages updated ASAP

[2020-04-15 06:18] mmazharuddin commented on #405
@RajKateshiya can you please look into this crash issue and update the ticket.

[2020-04-15 06:23] mmazharuddin commented on #292
@Sbhonagiri @alikhan126 can you please update on this ticket?

[2020-04-15 06:39] Sbhonagiri commented on #349
@PradeepChandramogo Please verify the issue on Qa system.

[2020-04-15 06:40] Sbhonagiri commented on #348
@PradeepChandramogo Please verify the issue on Qa system.

[2020-04-15 06:41] Sbhonagiri commented on #350
@PradeepChandramogo Please verify the issue on QA System.

[2020-04-15 06:41] mmazharuddin commented on #404
@Vamshi9676 As discussed, pleaes give highest priority

[2020-04-15 06:42] Sbhonagiri commented on #357
@PradeepChandramogo Please verify the issue on QA system.

[2020-04-15 06:42] Sbhonagiri commented on #361
@PradeepChandramogo Please verify the issue on QA system.

[2020-04-15 06:47] Sbhonagiri commented on #381
@Vamshi9676 You are able to see the default feeds on Pre Prod twice as default feeds were created after your user creation so the default feeds were getting in recent posts along with default feeds. So can you please register a new user and check whether default feeds are shown twice

[2020-04-15 06:48] Sbhonagiri commented on #292
@Vamshi9676 Please verify the issue on QA system.

[2020-04-15 06:49] Sbhonagiri commented on #215
@Vamshi9676 Please verify the issue on the QA system.

[2020-04-15 06:53] Vamshi9676 commented on #404
@RajKateshiya
It is in Pre Prod, Please check the mobile number of ("Mazhar Sir mogo": 9885473085).

[2020-04-15 07:01] RajKateshiya commented on #404
Can you explain me which apk have you tested (i mean which server you use, because last time we have share two release build, i need to confirm with the server api)
Can you send me the apk time which i have shared in skype

[2020-04-15 07:02] Vamshi9676 commented on #403
@RajKateshiya

It is in Pre Prod, I cant add her number.

for the same scenario, there is another number ("Bhonagiri Santhosh": 8328629204)

[2020-04-15 07:03] RajKateshiya commented on #403
Can you explain me which apk have you tested (i mean which server you use, because last time we have share two release build, i need to confirm with the server api)
Can you send me the apk time which i have shared in skype

[2020-04-15 07:07] Vamshi9676 commented on #404
@RajKateshiya

https://www.socialchains.com/

@Sbhonagiri
Could you please let raj know about the build timing of Pre Prod

[2020-04-15 07:07] Sbhonagiri opened #406 "Onilne members Info"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-15 07:09] Vamshi9676 commented on #403
@RajKateshiya
that build is pointed to the below one
https://www.socialchains.com/

@Sbhonagiri
Could you please let raj know about the build timing of Pre Prod

[2020-04-15 07:10] Sbhonagiri commented on #383
@mmazharuddin Sure Sir.

[2020-04-15 07:15] vavadiyahiren commented on #406
While navigating to group info page it should show the online member list which is happening.

[2020-04-15 07:27] PradeepChandramogo commented on #398
@shamravu

Logout alignment is fine as all options are in  same line, please just change the colour of logout option with out any adjustments

![image](https://user-images.githubusercontent.com/59409828/79309627-3ac2a980-7f18-11ea-9e1b-cf273fe48538.png)

[2020-04-15 08:10] Vamshi9676 commented on #404
**> And have you check with api response for this number?**

@Sbhonagiri @RajKateshiya  Could you please let me know in which API I can check for the response.

[2020-04-15 08:47] Vamshi9676 commented on #381
@Sbhonagiri
Tested in QA build
1. I have registered a new user in QA
Only 1 default feed is displaying. Working fine

![Screen Shot 2020-04-15 at 2 13 40 PM](https://user-images.githubusercontent.com/43492917/79317690-a2cabd00-7f23-11ea-95ad-33fcb880888f.png)

![Screen Shot 2020-04-15 at 2 13 33 PM](https://user-images.githubusercontent.com/43492917/79317677-9f373600-7f23-11ea-9bae-09d579ba2ed9.pn

[2020-04-15 08:53] mmazharuddin commented on #299
@anushayedl can you please update, what is failing?

[2020-04-15 08:54] Vamshi9676 commented on #215
@Sbhonagiri

Able to create Circles with emojis, in QA. Working fine
While editing also able to add emojis in the Pre prod. Working fine.

![Screen Shot 2020-04-15 at 2 24 26 PM](https://user-images.githubusercontent.com/43492917/79318626-d9550780-7f24-11ea-8e9f-26eaeb7ac96c.png)
![Screen Shot 2020-04-15 at 2 24 33 PM](https://user-images.githubusercontent.com/43492917/79318634-dc4ff800-7f24-11ea-

[2020-04-15 09:01] PradeepChandramogo commented on #357
Tested in QA
,New posts are appearing at bottom and old posts are appearing at top -- **Not fixed**

in Api also new feed is appearing at bottom, feed 9219 is appearing at top and feed 9220 amd 9221 appearing  respectively at bottom

![image](https://user-images.githubusercontent.com/59409828/79318769-086b7900-7f25-11ea-975b-c745c045de2a.png)
![image](https://user-images.githubusercontent.com/5940

[2020-04-15 09:03] anushayedl opened #407 "While clicking any circle from list and clicked on back button , page is redirecting to main app home page not redirecting to Circle list"
**Describe the bug**
While clicking any circle from list and clicked on back button , page is redirecting to main app home page not redirecting to Circle list

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Chit- Chat
2. Click on any of the circle from Chit- Chat
3. once the user get into the circle chat window
4. Click on back button

**Expected behavior**
While clicking on back b

[2020-04-15 09:06] pramodhpalu commented on #407
@mmazharuddin

as i mentioned the root cause of the issue in skype chat if they did not fix it after commiting latest code i will check and fix again...

![Screen Shot 2020-04-15 at 2 36 04 PM](https://user-images.githubusercontent.com/47293116/79319812-71072580-7f26-11ea-8656-30f3f2e24f5c.png)

[2020-04-15 09:09] mmazharuddin commented on #407
@anushayedl please verify in the latest build and update accordingly

[2020-04-15 09:16] PradeepChandramogo commented on #349
@Sbhonagiri @alikhan126
Tested in QA
Able to send acount closure request -- Working fine
And getting success message popup after sending -- Fixed

![image](https://user-images.githubusercontent.com/59409828/79320421-731db400-7f27-11ea-9a7f-ac58324754da.png)

[2020-04-15 09:38] Vamshi9676 commented on #292
@Sbhonagiri

Tested in QA

1. Deleted user is not displaying in the Add member list. Working fine
2. Deleted Circle is not displaying in the Discover list. Working fine
3. While adding deleted user in the circle getting a popup as "User matching query does not exist" ISSUE

![Screen Shot 2020-04-15 at 3 04 47 PM](https://user-images.githubusercontent.com/43492917/79322742-de1cba00-7f2a-11ea-8bd9-9

[2020-04-15 10:02] pramodhpalu commented on #299
deeplinking was working just i and  @Sbhonagiri corss checked in the build(https://i.diawi.com/hykp4V)

the chat deeplinking invite link will be in this format wich we tried

https://web.aapoon.com/deeplink.html?link=/app/1259

[2020-04-15 10:20] PradeepChandramogo commented on #361
1 .For India ""Aadhaar Number of Scanned QR Code and Photo Id Uploaded Aadhar Number is
Mismatched"" -- Working fine

2 .For US and Canada "Driving license number of Scanned bar Code and Photo Id Uploaded Driving
license Number is Mismatched"

3.But in third flow scenario, where scanning fails and given details manually and upload wrong
photo id "Adhaar number in entered details and photo id uploa

[2020-04-15 10:44] anushayedl commented on #390
@vavadiyahiren Please follow the below steps

1. Go to DM
2. Click on 3 dotted menu of message
3. will get the option as message info
4. click on Message Info option

[2020-04-15 10:44] ptvyas commented on #69
### Sync contact :
https://www.youtube.com/watch?v=tGeI9edCj00

[2020-04-15 10:48] PradeepChandramogo commented on #357
@Sbhonagiri @alikhan126
Tested in QA
,New posts are appearing at bottom and old posts are appearing at top -- Fixed
(now, new posts are appearing at top and old posts are apperaing at bottom)

![image](https://user-images.githubusercontent.com/59409828/79328944-85521f00-7f34-11ea-8d97-d803f6e39fa8.png)

[2020-04-15 10:50] anushayedl commented on #270
@vavadiyahiren Tested in QA build

App version 2.0 build 16.0

In New Message page of DM "Load more" option is not present - **Not Fixed**
In Apoon Contacts are not showing the Load More option- **Fixed**

![image](https://user-images.githubusercontent.com/39667299/79329208-04475780-7f35-11ea-8b46-30e4d0d868ce.png)
![image](https://user-images.githubusercontent.com/39667299/79329236-0f9a8300-7f35-

[2020-04-15 10:57] anushayedl commented on #399
@vavadiyahiren Tested QA build

@mmazharuddin Could you please test in your device also

App version 2.0 build 16.0
DM's are not appearing in Circles list, after logout and login to the application- Fixed(iPhone SE)

![image](https://user-images.githubusercontent.com/39667299/79329578-ad8e4d80-7f35-11ea-87e7-7b4b1eda7a5d.png)

![image](https://user-images.githubusercontent.com/39667299/79329520-93

[2020-04-15 10:57] Sbhonagiri commented on #292
@Vamshi9676 In which build did you check this Preprod or QA

[2020-04-15 10:58] Vamshi9676 commented on #292
@Sbhonagiri
I have tested in QA

[2020-04-15 11:09] anushayedl commented on #69
@ptvyas Tested in QA build

App version 2.0 build 16.0

While clicking on sync option, newly updated contacts are  getting synced in Connections and Contacts page of New Message - **Fixed**

[2020-04-15 11:14] Sbhonagiri commented on #368
@Navyacheruku @Vamshi9676 Please verify the issue on QA System it's limited to 5 attempts

[2020-04-15 11:20] vavadiyahiren commented on #390
Is it happening for each message not happening at our side ? we will discuss on call

[2020-04-15 11:44] Navyacheruku commented on #368
@Sbhonagiri

1. **_Please try with another selfie_** is being displayed when faces are not matched not 'Please take a selfie with clear and plain background' - Working Fine
2. Even if the image is uploaded from Gallery which is not a selfie, 'Please try with another selfie' is being displayed. It should not be a selfie. It should be either picture or image - **ISSUE**
3. Please check this video (

[2020-04-15 11:45] Navyacheruku commented on #391
@Sbhonagiri

1. **_Please try with another selfie_** is being displayed when faces are not matched not 'Please take a selfie with clear and plain background' - Working Fine
2. Even if the image is uploaded from Gallery which is not a selfie, 'Please try with another selfie' is being displayed. It should not be a selfie. It should be either picture or image - **ISSUE**
3. Please check this video (

[2020-04-15 11:52] PradeepChandramogo commented on #382
As per Srini Sir's suggestion closing the issue

[2020-04-15 11:52] #382 closed

[2020-04-15 12:12] Navyacheruku commented on #368
@Sbhonagiri

1. After clicking on Resend Verification Code for 5 times, '**_You reached maximum attempts to login. Please try again after 10 minutes'_** is being displayed in the Phone Verification page.
2. If tried to log in again using the same mobile number, before 10 minutes are over,  '**_You reached maximum attempts to login. Please try again after 10 minutes'_** is displayed. - **Need Confi

[2020-04-15 12:16] anushayedl commented on #166
@vavadiyahiren Tested in QA build

App version 2.0 build 17

5. Super admin is left the group|
super admin is unable to assign as someone else as super admin in circle-**Not Fixed** ( not able to check as of now, because of super admin not able to exit from circle)

6. Super Admin exiting from circle|
Not able to exit from the Circle, after selecting one of the members and click on done button, no

[2020-04-15 12:18] shamravu commented on #332
@PradeepChandramogo Please share the link which you mentioned in this ticket.

[2020-04-15 12:18] Vamshi9676 commented on #368
@Sbhonagiri

1. Maximum attempts message is not displaying after receiving otp for 5 times page is loading continuously. ISSUE

https://drive.google.com/file/d/1MJ8GwJhG2VluQWoWHBwcMsOznXJtXt3m/view?usp=sharing

[2020-04-15 12:39] Vamshi9676 commented on #339
@shamravu

Tested in QA build,

1. When a user posts the image in the post modal page, the page is staying at the home page. Working fine.
2. Followed the below steps, but the page is redirecting to the home page. Working fine

1. Log in to an account
2. Navigate to the home page.
3. click on the gallery icon on the post model page.
4. Click on the camera in the popup.
5. take a selfie
6. post the

[2020-04-15 13:03] PradeepChandramogo commented on #332
@shamravu Yes

[2020-04-15 13:27] Navyacheruku commented on #350
@Sbhonagiri :

1. Able to send feedback when the name is not given, after phone verification - **Fixed**
2. Able to send feedback when the user is basic verified - **Fixed**
3. User is able to send feedback when user is fully verified - **Fixed**
4. Able to send when the topic is selected as Feature Request, Other, Support Issue, Bug Report - **Working Fine**
5. Please select a topic is displayed

[2020-04-15 13:34] Navyacheruku commented on #348
@Sbhonagiri Tested in QA

1. Before a user is basic verified, when clicked on Three dots to report abuse, guest user pop up is being displayed - **Need Confirmation**

@PradeepChandramogo Please comment if it is working fine or issue as per srini sir's confirmation to you in the AHM

2. After the user is verified, the user is able to report the feed as abusive - **Fixed**
3. Report abuse mail is r

[2020-04-15 13:36] Navyacheruku commented on #348
@PradeepChandramogo Please check the first point and update the status of this ticket

[2020-04-15 13:41] PradeepChandramogo commented on #348
@Navyacheruku
As per Srini Sir suggestion, phone verified user can't access to report abuse

[2020-04-15 14:39] Vamshi9676 opened #408 "Remove a Small Profile icon which is over the profile picture of the user."
**Describe the bug**
Remove a small Profile icon which is over the profile picture of the user.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. Click on chit chat
3. Check the conversation of DM.

**Expected behavior**
Remove the Small profile picture icon
**Screenshots**
![Screen Shot 2020-04-15 at 8 08 49 PM](https://user-images.githubusercontent.com/43492917/79350

[2020-04-15 14:46] Vamshi9676 commented on #408
@RajKateshiya

1. In the Dm list icons are removed. Working fine
![Screen Shot 2020-04-15 at 8 14 14 PM](https://user-images.githubusercontent.com/43492917/79351041-ceff3180-7f55-11ea-9bb0-daf757e45424.png)

### 2. In the forward message list, icons are not removed. Here **Need a confirmation**,

When we forward a message, Dm list and Circles list will display combined, So for the deference, we sh

[2020-04-15 14:56] anushayedl commented on #401
@ptvyas Tested in Qa build

App version 2.0 build 18

"Remove Profile" option is showing for Circle profile picture- fixed
Able to remove the profile picture while clicking on "Remove Profile" Option - Fixed

![image](https://user-images.githubusercontent.com/39667299/79351684-9ad84080-7f56-11ea-9e88-fddbb12738e7.png)

[2020-04-15 15:16] mmazharuddin commented on #372
@vavadiyahiren I am able to send the Image and Video but the receiver is not getting it
 - Not Fixed.

[2020-04-15 15:18] PradeepChandramogo commented on #318
@shamravu Please work on Contact sync by followig through all above points

[2020-04-15 15:20] mmazharuddin commented on #373
@vavadiyahiren while trying to download the image and video from chit-chat and dm, not able to download - Not Fixed.

[2020-04-15 15:21] mmazharuddin commented on #123
@vavadiyahiren 1. The sent video should be visible for other members who are in a circle - Not Fixed from iPhone to iPhone

[2020-04-15 15:22] mmazharuddin commented on #389
@vavadiyahiren In Circle info page "Circle Invite Link* should be present - Fixed

[2020-04-15 15:25] mmazharuddin commented on #374
@vavadiyahiren while sending the video and in chit-chat able to see the preview of the video and can provide captions - Fixed

[2020-04-15 15:27] mmazharuddin commented on #390
@anushayedl I am able to see it in my device, please check and update from your side as well.

[2020-04-15 15:30] shamravu commented on #318
@PradeepChandramogo  I will go through the mentioned points.

[2020-04-15 15:35] shamravu commented on #332
@PradeepChandramogo Was this working before?

[2020-04-15 15:40] anushayedl commented on #396
@vavadiyahiren Tested in QA build

App version 2.0 build 18

In "Info" page, the heading is showing with "circle name info" - Fixed

![image](https://user-images.githubusercontent.com/39667299/79356817-f7d6f500-7f5c-11ea-8562-e683c880e4da.png)

[2020-04-15 15:50] PradeepChandramogo opened #409 "Unable to Upload and Post file formats by clicking on Gallery option in post model"
## Descrption
Unable to Upload  and Post file formats  by clicking on  Gallery option in post model

## Steps to reproduce
1.After login click on gallery icon in post model
2.Files option is missing to upload files

## Actual result
1,There is no option to upload files

## Expected result
1.User should able to upload files like pdfs

[2020-04-15 16:11] PradeepChandramogo opened #410 "Star mark(*) should not be there in my account section in skip id signup"
## Descrption
Star mark(*) should not be there in my account section in skip id signup

## Steps to reproduce
1.Register with phone number
2.Click on my account section and click on skip id
3.Check for Govt issues photo id field

## Expected result
1."*" mark should not present in my account section in skip id
2. But it should present in secure adhar scenario,third flow both scenarios (scanning ma

[2020-04-15 16:42] Vamshi9676 opened #411 "In the place of Pin Conversation it should be Pin Circle for the circle and Pin Broadcast for Broadcast in the circles list."
**Describe the bug**
In the place of "Pin Conversation," it should be "Pin Circle" for the circle and "Pin Broadcast" for Broadcast in the circle's list.
**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account
2. Click on the Chit-Chat.
3. Click on the Circles.
4. Long press the circle and check the text on the button.
5. After that, Long press on the Broadcast.

**Expected behav

[2020-04-15 16:44] mmazharuddin opened #412 "Mangosta popup all across the messaging platform as an App name"
**Describe the bug**
Mangosta popup all across the messaging platform as an app name.

Expected Behaviour:

Please remove these unknown names.

**Screenshots**

![Screen Shot 2020-04-15 at 10 11 50 PM](https://user-images.githubusercontent.com/10600627/79363914-29a08980-7f66-11ea-8b0f-49274262f2f9.png)

![Screen Shot 2020-04-15 at 10 13 11 PM](https://user-images.githubusercontent.com/10600627/793

[2020-04-15 17:05] kotimadduluri commented on #235
@PradeepChandramogo unable to reproduce this issue in my device

[2020-04-15 17:51] kotimadduluri commented on #366
@Navyacheruku  issue fixed. if you still facing same issue please provide testing device details

[2020-04-15 17:57] kotimadduluri commented on #336
@PradeepChandramogo could you please some more information. i not able to understand exact issue

[2020-04-15 17:58] PradeepChandramogo commented on #235
As it is not happening in other devices except Lenovo k6 power device, it is putting on hold

[2020-04-15 18:05] kotimadduluri commented on #355
@Navyacheruku working fine in mydevice. could you please

[2020-04-15 18:13] PradeepChandramogo commented on #336
@kotimadduluri
Please check below screenshots.country code should be always three letters with short form
![image](https://user-images.githubusercontent.com/59409828/79371821-991c7600-7f72-11ea-8d7c-107fb4920ad5.png)
![image](https://user-images.githubusercontent.com/59409828/79371918-c2d59d00-7f72-11ea-8338-07226ddfc353.png)

[2020-04-15 18:25] PradeepChandramogo commented on #325
@shamravu
Notification colour is not as per new ui which is mentioned in expected result
![image](https://user-images.githubusercontent.com/59409828/79373595-6c695e00-7f74-11ea-9d82-99b762ea19d1.png)

[2020-04-15 19:12] PradeepChandramogo opened #413 "When Users profession is set to private,Still it is visible for other users under name in posts of that user"
## Descrption
When Users profession is set to private,still  it is visible  for other users under name in posts of that user

## Steps to reproduce
1.Set user1 profession privacy settings to Donot share/keep private
2.Post any thing on feed
3.Check in another users feed for that user1 post

## Expected result
1.Profession should not be visible if user keeps privacy settings to "keep private"
2.And

[2020-04-16 04:05] Skatta opened #414 "An easy options to a user to accept or reject a circle to which an invitation is sent"
Please find the mockup for the user to accept or decline an invitation to join the group
The Invited Circle should be centered in the screen.
![Messaging platform bmpr](https://user-images.githubusercontent.com/3252405/79413414-7fc4fb00-7f6d-11ea-8359-2808ff313532.png)

[2020-04-16 04:35] RajKateshiya commented on #404
Ok @Vamshi9676  send me the contact sync log file, you can find in here
Internal storage -> Aapoon -> Aapoon Log -> ContactSyncLog.txt (these file)
Send me these file "ContactSyncLog.txt"

[2020-04-16 04:36] RajKateshiya commented on #403
Ok @Vamshi9676  send me the contact sync log file, you can find in here
Internal storage -> Aapoon -> Aapoon Log -> ContactSyncLog.txt (these file)
Send me these file "ContactSyncLog.txt"

[2020-04-16 04:36] Skatta opened #415 "Easy option for a user to Delete Messages and media file management options"
We had detailed discussions on how WhatsApp and Telegram are providing options to users to delete the chat messages.
The Bestway is to download the videos and images.
We shouldn't display downloading but show a download wheel
We need to provide a user with an option to delete the messages when they do a long press on a circle. It should offer archive or delete messages. I am okay if there is anoth

[2020-04-16 04:40] Skatta opened #416 "User settings"
User settings are very important for user satisfaction. Please see the User settings available in WhatsApp for your Reference
![settings](https://user-images.githubusercontent.com/3252405/79415156-30cd9480-7f72-11ea-8901-5915b8aa970a.PNG)

Here is another reference

![Request Account Info](https://user-images.githubusercontent.com/3252405/79415187-4642be80-7f72-11ea-9816-e2332d6992db.PNG)

Notific

[2020-04-16 04:55] Skatta commented on #397
Please find the mockup for an easy understanding
![Options for Super Admin and Admin](https://user-images.githubusercontent.com/3252405/79415984-362bde80-7f74-11ea-8216-0041164297c2.png)
Delegate means just delegating another user as a super admin.   Super admin remains as a member after delegating.
Exit means - Super Admin not only delegates another user as a super admin and also exits the circle

[2020-04-16 05:06] Skatta commented on #354
@vavadiyahiren   As discussed, we always save a user's chat to the device and give him an option when signing off if they want to clear the stored chat data as an option before signing off. I  created two tickets for user's data storage and settings which should help the user in terms of data maangement.

[2020-04-16 06:51] Sbhonagiri opened #417 "Returning Connections, Connections count, Coins and notifications in api/v1/notifications"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-16 06:55] Vamshi9676 commented on #404
@RajKateshiya
Please find the Zip file for "ContactSyncLog.txt",
[ContactSyncLog.txt.zip](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4485367/ContactSyncLog.txt.zip)

[2020-04-16 06:56] Vamshi9676 commented on #403
@RajKateshiya
Please find the Zip file for "ContactSyncLog.txt",
[ContactSyncLog.txt.zip](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4485367/ContactSyncLog.txt.zip)

[2020-04-16 06:57] anushayedl commented on #69
@Vamshi9676 @Navyacheruku Could anyone plesae check in androd and confirm

[2020-04-16 07:07] hisobhan commented on #258
If user won't enter any details and click on Save, then pop-up should show as "Please update Profile details"

[2020-04-16 07:10] Vamshi9676 commented on #69
@anushayedl

After adding the contact to phone book contact is getting sync automatically, without doing a refresh in the New Message page. Working fine
After clicking on the refresh icon loader is loading for 35 seconds.

![Screen Shot 2020-04-16 at 12 36 23 PM](https://user-images.githubusercontent.com/43492917/79425557-7ffdde80-7fdf-11ea-9402-396c6e248ee9.png)
![Screen Shot 2020-04-16 at 12 36

[2020-04-16 07:29] anushayedl opened #418 ""Mangosta The network connection was lost", getting an error in Circle chat window page"
**Describe the bug**
"Mangosta The network connection was lost", getting an error in Circle chat window page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Chit-Chat with circle members
3. See error

**Expected behavior**
Should not  show this type of error message

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.gith

[2020-04-16 07:36] Navyacheruku commented on #366
@kotimadduluri : Okay Sure.

Will test ad confirm once the build is received

[2020-04-16 07:48] alikhan126 commented on #391
@Navyacheruku Please share the messages with which you want me to replace these messages.
@Sbhonagiri Image which you used for testing does not have face in it and if face is not detected we are showing this message **Please take a selfie with clear and plain background**.
Let me know all the messages with which you want to me to replace these messages

[2020-04-16 07:58] Navyacheruku commented on #391
@alikhan126

1. **_Please take a selfie with clear and plain background_** this message which you are displaying should be shown when there is text in the behind.
2. If image is uploaded from Gallery during picture update,  instead of showing _**Please try with another selfie'**_, show _**Please try with another picture'**_ as the user might upload, either selfie or a picture with pose.

Santosh's

[2020-04-16 08:16] Navyacheruku opened #419 "DM chat is disappeared after disconnecting the connection"
## Description

DM chat is disappeared after disconnecting the connection.

## Steps to Reproduce

1. Login and establish a connection with any user
2. Send a message from Connections
3. The message and chat is displayed in Direct Message tab
4. Go to My Connections and disconnect the connection
5. Go to chit-chat and see in the Direct Messages tab

## Actual Result

The chat of the connection is

[2020-04-16 08:24] Navyacheruku commented on #355
@kotimadduluri

After basic verification yellow is shown as badge
after complete verification, yellow badge is updated to green badge  - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/79432490-77120a80-7fe9-11ea-83f9-907444b570fa.png)

![image](https://user-images.githubusercontent.com/39667234/79432479-724d5680-7fe9-11ea-980d-f4563adf0564.png)
![image](https://user-images.

[2020-04-16 08:28] shamravu commented on #318
@PradeepChandramogo
I fixed below issues.
1. App is getting crashed when clicked on invite contacts in case of user denies contact sync
permission
2. Contact sync option popup is displaying multiple times while using app if user denies contact
sync option
3. User is unable to turn off contact sync option at privacy settings, if user turned off contact sync at privacy settings, after reloading it i

[2020-04-16 08:42] PradeepChandramogo commented on #174
@Sbhonagiri @shamravu

Tested in QA
App is getting crash, when user click on camera option which is present in the home screen in the main app. -- Fixed.
(app is not getting crashed in above scenario)

Able to click on camera icon and able to post images -- Working fine

[2020-04-16 09:59] Sbhonagiri commented on #361
@alikhan126 Please check the issue.

[2020-04-16 10:16] anushayedl commented on #399
@vavadiyahiren Tested QA build

@mmazharuddin Could you please test in your device also

App version 2.0 build 18.0
DM's are not appearing in Circles list, after logout and login to the application- Fixed(iPhone SE)

![image](https://user-images.githubusercontent.com/39667299/79444846-594ca180-7ff9-11ea-8558-e9f250cf0be1.png)
![image](https://user-images.githubusercontent.com/39667299/79444864-623

[2020-04-16 10:22] PradeepChandramogo commented on #208
@kotimadduluri
Tested in QA
Please try with another selfie is displayed -- **Issue**
*(unable to update selfie for basic user)

![image](https://user-images.githubusercontent.com/59409828/79445417-46869c80-7ffa-11ea-9d46-046920bfdd6b.png)

[2020-04-16 10:23] anushayedl commented on #402
@vavadiyahiren Tested in QA build

App version 2.0 build 18

Unpin option is present from 3 dotted menu- Fixed
![image](https://user-images.githubusercontent.com/39667299/79445427-49818d00-7ffa-11ea-863f-9ccc9061ff86.png)
![image](https://user-images.githubusercontent.com/39667299/79445456-543c2200-7ffa-11ea-8242-3eed82a5b658.png)

[2020-04-16 10:39] anushayedl commented on #166
@vavadiyahiren Tested in QA build

App version 2.0 build 18

5. Super admin is left the group|
super admin is unable to assign as someone else as super admin in circle-**Not Fixed**( not able to check as of now, because of super admin not able to exit from circle)

6. Super Admin exiting from circle|
Not able to exit from the Circle, after selecting one of the members and click on done button, not

[2020-04-16 10:50] anushayedl commented on #390
@vavadiyahiren @mmazharuddin : tested in QA build

App version 2.0 build 18

After the message got send, the delivers and read time is not showing in message  info page - Not Fixed
![image](https://user-images.githubusercontent.com/39667299/79447823-13460c80-7ffe-11ea-99a4-0aba815283e8.png)

[2020-04-16 10:57] PradeepChandramogo commented on #318
@shamravu

App is getting crashed when clicked on invite contacts in case of user denies contact sync
permission -- Fixed
Contact sync option popup is displaying multiple times while using app if user denies contact
sync option  --- **Not fixed**

User is unable to turn off contact sync option at privacy settings, if user turned off contact sync at privacy settings, after reloading it is automatic

[2020-04-16 11:14] anushayedl commented on #270
@vavadiyahiren Tested in QA build

App version 2.0 build 18

In New Message page of DM , "Load more" option is not present for Connections and Contacts tab- **Not Fixed**
In Apoon Contacts are not showing the Load More option- Fixed

![image](https://user-images.githubusercontent.com/39667299/79449635-37efb380-8001-11ea-9f2e-7c662ee2b023.png)
![image](https://user-images.githubusercontent.com/3966

[2020-04-16 11:23] vavadiyahiren commented on #354
@Skatta

Initializing and clearing the database is happening from the main application we are just using the same instance.

Logout event also happening from the main app and creation of the database happening on first application launch So we need a information from where it is happening  and asked @Sbhonagiri  to do the needful.

[2020-04-16 11:24] PradeepChandramogo commented on #398
@shamravu
Tested in QA

Logout option is as displaying as per new ui and in same line along with other options -- Fixed

![image](https://user-images.githubusercontent.com/59409828/79450633-c1ec4c00-8002-11ea-97db-831d0f6900a7.png)

[2020-04-16 11:29] vavadiyahiren commented on #397
@Skatta

What is the diff between delegate and exit as a admin here.Both looks same from the description can you please confirm ?

Also are we giving exit as admin or exit as a super admin?

Exit circle : If user is the super admin then we need to invoke 2 api (One for the existing as a super admin and another user as a admin) then(Exit from the circle).

This should happen in one go because it sh

[2020-04-16 11:31] PradeepChandramogo commented on #330
@shamravu
Tested in QA in Lenovo k6 power model

The cursor should display in the search bar -- Working fine
Cursor is displaying with grey colour -- Fixed

![image](https://user-images.githubusercontent.com/59409828/79451249-dd0b8b80-8003-11ea-89e8-be1a0a90a280.png)

[2020-04-16 11:31] RajKateshiya commented on #405
@Vamshi9676 this issue getting every time with you?
And getting with other device also?

[2020-04-16 11:37] Sbhonagiri commented on #354
@vavadiyahiren Checking availability with Pramod for a call will update

[2020-04-16 11:37] anushayedl commented on #372
@ptvyas Tested in QA Build

App version 2.0 build 18

**Circle**
**1.  sent an image in circle|**
1. sent image is  received by the group member- **Fixed**
2. App is not getting crash after sending an image in circle.- **Fixed**
3. sent image is not getting blur from sender side for 2 to 3 seconds- **Fixed**
4. After pinning the image message, pinned icon is  present-**ISSUE** (pin icon is not pre

[2020-04-16 11:38] Vamshi9676 commented on #405
@RajKateshiya

Just before 10 Minutes, I have faced the issue.

I have searched the users in the new message screen, after that I have got the same issue.

But I did not take the screen shot.

[2020-04-16 11:42] Vamshi9676 commented on #403
@RajKateshiya
1. When contact is a basic user for that user, in the new message page, in the invitation list the contact is still displaying. **ISSUE**. The contact should not display in the contact list that should display in the Contacts and connections list.
2. If contact is Fully verified that the user is displaying in the Suggestions list of Contacts and connections. Working Fine.

![Screen S

[2020-04-16 11:46] PradeepChandramogo commented on #387
Tested on QA
In third flow scenario,It should be Please provide your Aadhaar Number -- Fixed

In skip id scenario,It should be Please provide your Aadhaar Number -- Not fixed

For secure QR scan filed also ,it should be please provide your Aadhar number -- Issue

[2020-04-16 11:46] RajKateshiya commented on #403
Which number is save in your device of "Navya Mogo 2"?

[2020-04-16 11:47] Vamshi9676 commented on #403
@RajKateshiya

Just give me a min i am updating this again

[2020-04-16 11:51] anushayedl commented on #123
@ptvyas Tested in QA build

App version 2.0 build 18

Sent videos are  getting received by the group member in the circle from Iphone to Android-**Fixed**
Sent videos are not received in DM from Iphone SE to Iphone 6 -**Need to check**
Received the video which is sent from android to iphone- **Fixed**

![image](https://user-images.githubusercontent.com/39667299/79452946-98cdba80-8006-11ea-9ed6-336

[2020-04-16 11:53] Vamshi9676 commented on #403
@RajKateshiya

1. When contact is a basic user for that user, in the new message page, that user is displaying in the Suggestion list of Contacts and connections list. Working fine

2. If contact is Fully verified that the user is displaying in the Suggestions list of Contacts and connections. Working Fine.

![Screen Shot 2020-04-16 at 5 08 57 PM](https://user-images.githubusercontent.com/43492917

[2020-04-16 12:03] Vamshi9676 commented on #404
@RajKateshiya

1. When contact is a platform user that the user is displaying in the suggestions list fo Connections and contacts. Working fine
2. In the invite list, this user is not displaying. Working fine.
3. In the Aapoon users list, it is displaying. Working fine.
![Screen Shot 2020-04-16 at 5 33 04 PM](https://user-images.githubusercontent.com/43492917/79454150-5efdb380-8008-11ea-917a-ac5ab

[2020-04-16 12:03] PradeepChandramogo commented on #371
@shamravu
Tested in QA
Control should be gone to next field like other fields  -- Fixed
After giving Govt. Issued Photo ID manually and clicked on Done in the keypad, the control is not going to the next field. -- Fixed

[2020-04-16 12:08] anushayedl commented on #373
@vavadiyahiren Tested in QA build

App version 2.0 build 18

1. While clicking on the image, showing as downloading, no download option is being shown on the image - **While clicking in image or video, its getting download. The end-user may confused over here, why because the downlaod option is not present from 3 dotted menu or nor from window icon, so itis better to show the downlaod option or ic

[2020-04-16 12:10] Sbhonagiri commented on #354
@vavadiyahiren Me, Pramod and MeetDesai had call Meet query was addressed

[2020-04-16 12:12] anushayedl commented on #407
@vavadiyahiren Tested in QA build

App version 2.0 build 18

While clicking on any circle from list and clicked on back button, page is redirecting to Circles list - **Fixed**
![image](https://user-images.githubusercontent.com/39667299/79454822-830dc480-8009-11ea-9e91-81cb96b2a5ec.png)
![image](https://user-images.githubusercontent.com/39667299/79454856-902ab380-8009-11ea-8ebb-71d50d1f7a87.png)

[2020-04-16 12:16] PradeepChandramogo commented on #359
@kotimadduluri

Tested in QA
Please find the logs for adhar scanning
First time i attempted to failed scan adhar and next time i attempted to  scan adhar successfully
https://drive.google.com/file/d/1cOnsN4SDYV9PadHDgcC-kkciyu4CGp8t/view?usp=drivesdk

[2020-04-16 12:18] vavadiyahiren commented on #373
@anushayedl  I don't know it will show in gallery or not but it should play from the app itself is that working ?

[2020-04-16 12:21] vavadiyahiren commented on #372
1 ) As we agreed Text message only can have capability to pin a message
2 ) Multiple media file share was not there in our scope of work it needs more effort since there are multiple things need to handle on preview page.

[2020-04-16 12:23] vavadiyahiren commented on #390
It has to be delivered first then you will find that information.

[2020-04-16 12:26] vavadiyahiren commented on #166
@anushayedl yesterday while on call you said this is working and we show that.

Make sure in which case it is not working just saying not working won't help here. We are not able to replicate this one. Are you trying after changing the number ?

[2020-04-16 12:29] PradeepChandramogo commented on #327
@kotimadduluri
1.Only first letters of the words in name should be in capital rest all letters in small for both first
name and last nme -- **FIxed**

[2020-04-16 12:40] pramodhpalu commented on #318
Fixed

![Skype_Picture_2020_04_16T12_40_23_550Z](https://user-images.githubusercontent.com/47293116/79457272-90c54900-800d-11ea-974f-f2ebe6b33dce.jpeg)

[2020-04-16 12:44] rakeshlingam1 commented on #280
@mmazharuddin @Sbhonagiri
This issue is not replicating in iOS.
As per the screenshot provided, this seems to be Android issue. Can you please confirm me on this

[2020-04-16 12:46] Navyacheruku commented on #352
@kotimadduluri

1. Able to upload photo id and selfie with mobile data - **Fixed**
2. Loader loaded for a longer time when there is no internet and it showed, 'Please check your internet connection' as. a toast message - **Fixed**
3. Instead of toast message which comes and disappears soon, please provide a message to the user that user can see and accept like a pop or anything else
4. After uploa

[2020-04-16 12:49] Navyacheruku commented on #352
Logs

https://drive.google.com/file/d/11svBMsS_wtxL1OIrCyxpJcZ1tg4hWQga/view?usp=sharing

[2020-04-16 13:14] RajKateshiya commented on #419
Done

[2020-04-16 13:15] RajKateshiya commented on #405
Done, need test with latest build(16-04 : 06:45)

[2020-04-16 13:15] Sbhonagiri commented on #235
@Navyacheruku and @Vamshi9676 Please check this issue.

[2020-04-16 13:16] RajKateshiya commented on #149
Done
The user is logged out from the application but that user is displaying online

[2020-04-16 13:23] Navyacheruku commented on #383
@kotimadduluri

1. The message got updated - **Fixed**
2. But after Hi, the user name is not added - **ISSUE**
3. If multiple contacts are selected, it should be Dear Friend at the beginning, not Hi - **ISSUE**
4. This message is also getting converted to MMS
If the text is removed till Aapoon, only then the message is converted as a text message - **ISSUE**
5. After converting to text message, me

[2020-04-16 13:24] anushayedl commented on #166
@vavadiyahiren While making the other user as super admin, that user of circle is not getting the super admin, so not able to exit from circle.

[2020-04-16 13:27] Sbhonagiri commented on #280
@anushayedl Can you please verify and confirm.

[2020-04-16 13:27] Sbhonagiri commented on #280
OK @rakeshlingam1 Anusha will verify and confirm

[2020-04-16 13:32] Navyacheruku commented on #366
@kotimadduluri

All the following scenarios have been done in the absence of network connections

### 1. When user goes to Privacy settings and changes the toggle buttons, **app is getting crashed**
### 2. When a user clicks on the camera icon, captures selfie-and clicks on Ok. After clicking on Ok if the user clicks on Next and then immediately Rotate left icon, then clicks on the post settings i

[2020-04-16 13:32] anushayedl commented on #390
@vavadiyahiren Ok

After the message got send, the delivers and read time is not showing in message info page - Fixed

[2020-04-16 13:35] anushayedl commented on #373
@vavadiyahiren Within-app itself, able to play the video, but the vedio and image is not getting stored in gallery as like what's app

[2020-04-16 13:38] PradeepChandramogo commented on #325
@shamravu Please work on this as critical

[2020-04-16 13:39] Navyacheruku commented on #408
Need to remove the icon from forward search list also. @RajKateshiya

[2020-04-16 13:55] Navyacheruku commented on #412
Test in the latest build extensively

Mangosta should not be replaced with Aapoon or SocialChains
And other cases

[2020-04-16 13:59] Navyacheruku commented on #69
@RajKateshiya @vavadiyahiren

As discussed in the AHM, it should not take longer time
And
Should happen in the background

[2020-04-16 14:21] rakeshlingam1 commented on #333
@PradeepChandramogo
iOS status is not provided in this issues. Please provide me iOS status sheet.

[2020-04-16 14:24] PradeepChandramogo commented on #333
@anushayedl
Please update the status of IOS

[2020-04-16 14:29] Navyacheruku commented on #270
Post a video @anushayedl

[2020-04-16 14:35] Vamshi9676 commented on #411
@RajKateshiya

1. For the Circles, it is displaying as "Pin Circle". Working fine

2. For the BroadCast, it is displaying as "Pin Broadcast". Working fine

![Screen Shot 2020-04-16 at 8 04 48 PM](https://user-images.githubusercontent.com/43492917/79469295-9dea3400-801d-11ea-8a74-60b00dc0a781.png)
![Screen Shot 2020-04-16 at 8 04 54 PM](https://user-images.githubusercontent.com/43492917/79469304-a0

[2020-04-16 14:43] Sbhonagiri commented on #414
As per discussion with Srini Sir closing this ticket

[2020-04-16 14:43] #414 closed

[2020-04-16 15:51] Vamshi9676 commented on #419
@RajKateshiya

After Disconnect, the user from My Connections also in the DM list conversation is not deleting. Working fine.

![Screen Shot 2020-04-16 at 9 20 49 PM](https://user-images.githubusercontent.com/43492917/79477751-35548480-8028-11ea-8842-ff1af4017d1c.png)
![Screen Shot 2020-04-16 at 9 20 55 PM](https://user-images.githubusercontent.com/43492917/79477760-38e80b80-8028-11ea-8fa9-398fd67

[2020-04-16 15:53] Navyacheruku commented on #235
@Sbhonagiri  @kotimadduluri

It is happening for me

I have clicked on Accept and clicked on notifications of SONA that I received.

App is closing

### Video Reference

https://drive.google.com/file/d/18zGcCV_dyk5Xb1ATTWVTGoboThR8n-1E/view?usp=drivesdk

[2020-04-16 15:58] PradeepChandramogo opened #420 ""Please provide your driving license number*" instead of "Government issued photo id is mandatory" for US, Canada"
## Description
"Please provide your driving license number*" instead of "Government issued photo id is mandatory" for US, Canada

## Steps to reproduce
1.Login with US/Canada/ rest of the world(other than india,us, and canada)
2.Go to my account
3.Check for photo id field and click on it

## Actual result
1."Government issued photo id*" text  is present
2.And when clicked on save with out giving p

[2020-04-16 17:38] Skatta commented on #305
We are not giving three attempts anymore. The scanner fails user would be asked to upload back of the id, front of the id and selfie

[2020-04-16 17:38] #305 closed

[2020-04-16 17:41] Skatta commented on #258
The message should be " No New Updates to Profile" when user clicks on save icon without updating the profile.

[2020-04-16 17:42] Skatta commented on #257
@PradeepChandramogo   from the screenshot, I still see alignment issues between the country code and the phone number

[2020-04-16 19:03] Skatta commented on #266
@Sbhonagiri  Let @Navyacheruku  test this as she reported this as a core issue.

[2020-04-17 02:38] Sbhonagiri commented on #266
@anushayedl Please verify this issue

[2020-04-17 02:40] Sbhonagiri commented on #280
@PradeepChandramogo Please verify the issue on QA system.

[2020-04-17 02:42] Sbhonagiri commented on #281
@pramodhpalu Please work on the issue

[2020-04-17 02:46] Sbhonagiri commented on #420
@anushayedl Please verify the issue on QA System.

[2020-04-17 04:37] RajKateshiya commented on #405
Ok, so that means your "Steps to reproduce the behavior:" is failed right?

[2020-04-17 04:59] Skatta commented on #333
@anushayedl @vavadiyahiren  Phone only verified users are able to join the public circles whereas only fully verified users can join the public circles. Phone only verified users and limited verified users can't join the public circles. Please create ticket and assign it to Hiren.

[2020-04-17 05:00] Skatta commented on #151
Was able to disconnect  a connected user

[2020-04-17 05:00] #151 closed

[2020-04-17 05:01] Skatta commented on #268
It is fixed and app is not shutting down.

[2020-04-17 05:01] #268 closed

[2020-04-17 05:04] Skatta commented on #152
@pramodhpalu @Sbhonagiri  The driver's license is partially hashed. It there a problem in doing a full hash?

[2020-04-17 05:06] Skatta commented on #153
It is working fine.  clicking on the kebab menu is opening up the menu.

[2020-04-17 05:06] #153 closed

[2020-04-17 05:13] Skatta commented on #399
@anushayedl  DMs are not created as circles

[2020-04-17 06:55] Vamshi9676 commented on #405
@RajKateshiya

I have followed the same steps but at that time I did not face that problem, after that, I did not use the mobile for some tie to update the ticket for 2 to 3 min, the popup is displayed.

I have tried to replicate for one more time but the popup is not displayed again.

[2020-04-17 07:46] PradeepChandramogo commented on #280
@kotimadduluri @Sbhonagiri
Tested in QA in Android
When clicked on invite contacts message pop up, it is taking invite contacts icon and contacts are dilspalying and able to invite friends -- Working fine

![image](https://user-images.githubusercontent.com/59409828/79545004-89ee1300-80ad-11ea-9c43-26856673be4e.png)
![image](https://user-images.githubusercontent.com/59409828/79545022-970b0200-80ad-

[2020-04-17 07:46] Sbhonagiri commented on #105
@PradeepChandramogo @Navyacheruku @Vamshi9676 Please verify this issue on QA system.

[2020-04-17 08:04] Navyacheruku opened #421 "Guest User Mode Message pop ups should show My Account and Cancel buttons"
## Description

As per the call with developers on 17th April,  2020 Morning call, below is a point of Minutes of Meeting, received in the mail

**Guest User Mode Message pop-ups should show My Account and Cancel buttons.**

By clicking on **My Account** button user should be taken to **My Account screen** and by clicking **Cancel**, the user should stay in the same screen.

## Steps to Reproduce

[2020-04-17 08:08] PradeepChandramogo opened #422 "Back of the photo id screen should be removed in Scan successful scenario for US and Canada"
## Descrption
Back of the photo id screen should be removed in Scan successful scenario for US and Canada

## Steps to reproduce

1.Resgister with US and Canada mobile numbers
2.Make attempt for driving license succesfully and click on save
3.Upload photo side of id and save
4.Then check for back of the photo id screen with skip option

## Actual result
1.Back of the photo id screen with skip opti

[2020-04-17 08:10] Vamshi9676 opened #423 "Users can navigate to My Connections, but can’t connect or transfer SONA with platform users When a user is in guest mode."
**Describe the bug**
Users can navigate to My Connections, but can’t connect or transfer SONA with platform users When a user is in guest mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete phone verification
2. Click on My Connection.
3. Guest mode popup is displaying.

**Expected behavior**
Users can navigate to My Connection Page
When a user tries to send connection requests or

[2020-04-17 08:28] PradeepChandramogo commented on #225
@kotimadduluri

Tested in QA
able to save details successfully after scanning US driving license -- working fine

![image](https://user-images.githubusercontent.com/59409828/79548649-5f9f5400-80b3-11ea-91e0-59071c862325.png)

[2020-04-17 08:33] Navyacheruku commented on #105
@Sbhonagiri Tested in QA

I tried with fully verified and basic verified users after registration.
Tried to post with wifi and Mobile data
Double posts are not appearing now

@Vamshi9676 @PradeepChandramogo

Please check if you found any of my posts being visible twice.
Please check from your side also

![image](https://user-images.githubusercontent.com/39667234/79549103-24515500-80b4-11ea-8a7d-04

[2020-04-17 08:41] Vamshi9676 commented on #105
@Navyacheruku

I did not find any double posts of yours. Working fine

![Screen Shot 2020-04-17 at 2 09 18 PM](https://user-images.githubusercontent.com/43492917/79549982-59aa7280-80b5-11ea-9921-c7483646f78f.png)
![Screen Shot 2020-04-17 at 2 09 26 PM](https://user-images.githubusercontent.com/43492917/79549994-5d3df980-80b5-11ea-9b49-3b4209d86823.png)

[2020-04-17 08:46] anushayedl commented on #166
@vavadiyahiren : Plesae check the user deatils

Country US, Phone Number 2012933991

@vavadiyahiren Please ask otp to @Sbhonagiri

[2020-04-17 08:51] anushayedl commented on #270
@vavadiyahiren Provided the video and details asked by @meet in skype

[2020-04-17 08:53] PradeepChandramogo commented on #105
@Sbhonagiri @alikhan126
Tested in QA
Double posts are happening in another users timeline -- FIxed
(only one post is appearing)
(For old user posts to new user, new user to old user, from old user to old user posts)

![image](https://user-images.githubusercontent.com/59409828/79551195-f7eb0800-80b6-11ea-8c76-0240e39e98c5.png)

[2020-04-17 08:53] anushayedl commented on #373
@vavadiyahiren As discussed on call 2020-04-16 with @Skatta Sir, rasied an another issue for string the image and video in the galley, as of now this issue got fixed

[2020-04-17 09:09] rakeshlingam1 commented on #152
@Skatta As per the requirement give to me, I have partially hashed the ID.
It is possible to fully hash the ID.

[2020-04-17 09:15] PradeepChandramogo commented on #370
@kotimadduluri

ID verification Icon should not enable unless until user saves the scanned details.-- Fixed

![image](https://user-images.githubusercontent.com/59409828/79553374-02f36780-80ba-11ea-9105-a371c2b52cbe.png)

[2020-04-17 10:16] PradeepChandramogo commented on #257
@kotimadduluri
Tested in QA

Down arrow mark is small in  three digit country code compared to two digit country code. -- **Issue**
Down arrow should be uniform in both cases and it should be clearly visible

![image](https://user-images.githubusercontent.com/59409828/79558659-1f939d80-80c2-11ea-8a26-9498723dceaa.png)
![image](https://user-images.githubusercontent.com/59409828/79558693-30441380-80

[2020-04-17 10:34] RajKateshiya commented on #408
Done
#408 remove the icon from the forward search list

[2020-04-17 10:34] RajKateshiya commented on #69
Done
Contact sync in background added

[2020-04-17 10:40] Vamshi9676 commented on #143
@Sbhonagiri

When user 1 is logged in to the application, and user 2 is deleted from the application, That user is displaying in the new message list of user 1. ISSUE
After user 1 logout and login to the application, user 2 is not displaying in the new message list. Working fine

![Screen Shot 2020-04-17 at 4 10 25 PM](https://user-images.githubusercontent.com/43492917/79560848-fb39c000-80c5-11ea-

[2020-04-17 10:50] Vamshi9676 commented on #149
@RajKateshiya
1. After doing logout, user is displaying online for the next 13 seconds and after that, it is showing online.

2. After killing the app it is displaying as offline after 30 seconds,
and then within 10 seconds showing online option again even though app I snot opened
3. A user who is not using the app for them it is showing as Offline. Working fine

![Screen Shot 2020-04-17 at 4 16 5

[2020-04-17 10:57] anushayedl commented on #372
@vavadiyahiren As discussed in call of 2020-04-17, i will raise another issue for "Multiple selections of images in DM and circles" and labeling as Fixed in QA

[2020-04-17 11:02] PradeepChandramogo commented on #23
@kotimadduluri

Tested in QA
When clicking on right and bottom side of the three dot icon ,  -- Working fine
 but just clicking by inch on left side, profile is getting opened -- **Issue**
By clicking on just top of the three dot option.options are not visible -- **Issue**
App is getting closed  when clicking on three dot icon multiple times -- **Issue**

please check video for app getting closed

[2020-04-17 11:04] anushayedl opened #424 "Users can navigate to My Connections, but can’t connect or transfer SONA with platform users When a user is in guest mode."
**Describe the bug**
Users can navigate to My Connections, but can’t connect or transfer SONA with platform users When a user is in guest mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete phone verification
2. Click on My Connection.
3. Guest mode popup is displaying.

**Expected behavior**
Users can navigate to My Connection Page
When a user tries to send connection requests or

[2020-04-17 11:06] anushayedl opened #425 "Back of the photo id screen should be removed in Scan successful scenario for US and Canada"
## Descrption
Back of the photo id screen should be removed in Scan successful scenario for US and Canada

## Steps to reproduce

1.Resgister with US and Canada mobile numbers
2.Make attempt for driving license succesfully and click on save
3.Upload photo side of id and save
4.Then check for back of the photo id screen with skip option

## Actual result
1.Back of the photo id screen with skip opti

[2020-04-17 11:07] Vamshi9676 commented on #69
@RajKateshiya

The loader is not displaying for the user after clicking on the refresh icon in New message page. Working fine
When we click on refresh icon getting a popup as "Contact Sync is in Progress". Working fine.
After completion of Sync if the user clicks on the refresh icon no response is displaying.

![Screen Shot 2020-04-17 at 4 34 40 PM](https://user-images.githubusercontent.com/434929

[2020-04-17 11:09] anushayedl opened #426 "Guest User Mode Message pop ups should show My Account and Cancel buttons"
## Description

As per the call with developers on 17th April,  2020 Morning call, below is a point of Minutes of Meeting, received in the mail

**Guest User Mode Message pop-ups should show My Account and Cancel buttons.**

By clicking on **My Account** button user should be taken to **My Account screen** and by clicking **Cancel**, the user should stay in the same screen.

## Steps to Reproduce

[2020-04-17 11:10] Vamshi9676 commented on #408
@RajKateshiya

1. In the Forward message search list, Small icons are removed. Working fine
2. In the DM list, small profile icons are removed. Working fine

![Screen Shot 2020-04-17 at 4 40 24 PM](https://user-images.githubusercontent.com/43492917/79563273-19a1ba80-80ca-11ea-9380-8e3725010e88.png)

[2020-04-17 11:17] anushayedl opened #427 "If the Users is phone verified then should not be able to Join the Circles from discovery and Create the Circle"
**Describe the bug**
If the Users is phone verified then should not be able to Join the Circles from discovery and Create the Circle

**To Reproduce**
Steps to reproduce the behavior:
1. Complete the phone verification
2. Click on Chit-chat
3. go to the discover tab
4. Try to join the circle

**Expected behavior**
If the Users is phone verified then should not be able to Join the Circles from disc

[2020-04-17 11:23] anushayedl opened #428 "Phone Verified user should be able to access the "My Profile""
**Describe the bug**
Phone Verified user should be able to access the "My Profile"

**To Reproduce**
Steps to reproduce the behavior:
1. Complete the phone verification
2. Click on My Profile from side menu

**Expected behavior**
phone verified user should be able to  access the My profile from side menu

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (p

[2020-04-17 11:23] Vamshi9676 opened #429 "Provide Pin and Unpin options for Video messages and Images in the Circles."
**Describe the bug**
Provide Pin and Unpin options for Video messages and Images in the Circles.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. Click on the Chit Chat.
3. Click on the circles.
4. Send video and an image in the circle.
5. Click on 3 dot list of sent images and videos.
6. Pin Option is not displaying.

**Expected behavior**
Provide Pin and Unpin optio

[2020-04-17 11:54] Navyacheruku commented on #47
@RajKateshiya

1. Click on Logout |
After clicking on logout a message pop up with a message and Yes and No is displayed | **Need Confirmation**

2. Pop up when clicked on Logout |
The message is displayed as Do you want to clear your database with Yes and No | **Need Confirmation**

3. Clicked on No during log out and logged in |
Messages are available after login. They are not cleared | **Workin

[2020-04-17 11:59] Sbhonagiri commented on #369
@Navyacheruku @Vamshi9676 Please verify the issue on QA System from API

[2020-04-17 12:00] Sbhonagiri commented on #368
@Navyacheruku @Vamshi9676 Please verify the issue on QA system.

[2020-04-17 12:01] Sbhonagiri commented on #361
@PradeepChandramogo Please verify the issue on QA System.

[2020-04-17 12:09] RajKateshiya commented on #47
if only use same device then DM chats are appeared in another device not possible to get DM chats

[2020-04-17 12:17] Sbhonagiri commented on #143
@alikhan126 Please work on this issue before deleting user notify in API about deleted users.

[2020-04-17 12:20] RajKateshiya commented on #405
@Vamshi9676  send exact steps to reproduce this crash, because we are using app but app not crash.

[2020-04-17 12:28] Navyacheruku commented on #47
@RajKateshiya

Okay, we will discuss in the AHM with Srini sir.

Please confirm about other issues - point 8

[2020-04-17 12:31] Vamshi9676 commented on #405
@RajKateshiya
In the todays build i did not faced this issue up to now, if i face again, will let you know immediately.

[2020-04-17 12:32] RajKateshiya commented on #47
Click on No and clear cache and login to the same user and check |
Chats are not available after clicking on No and clearing cache and logging in | ISSUE

also for this, if user clear cache and login again then it will not received
if not clear cache then only getting old message

[2020-04-17 12:38] PradeepChandramogo commented on #361
1 .For India ""Aadhaar Number of Scanned QR Code and Photo Id Uploaded Aadhar Number is
Mismatched"" -- Working fine

2 .For US and Canada inscan scenario "Driving license number of Scanned bar Code and Photo Id Uploaded Driving
license Number is Mismatched" -- Issue
(Getting message as "Driving license number provided and photo id uploaded Driving license Number is mismatched")

3)In Adhar lamina

[2020-04-17 12:39] anushayedl commented on #166
@vavadiyahiren Tested in QA build

App version 2.0 build 21

5. Super admin is left the group|
super admin is unable to assign as someone else as super admin in circle-**Fixed**

6. Super Admin exiting from circle|
Not able to exit from the Circle, after selecting one of the members and click on done button, not getting any error and not able to make someone as super admin- **Fixed**

![image](htt

[2020-04-17 12:45] Vamshi9676 commented on #292
@Sbhonagiri

1. When a user clicks on the invitation link of the deleted circle link, getting a popup as "Group matching query does not exist ". **ISSUE**
2. When we are adding members to the circle who is deleted from the system, An empty popup is displaying. **ISSUE**
![Screen Shot 2020-04-17 at 6 13 07 PM](https://user-images.githubusercontent.com/43492917/79570469-1f51cd00-80d7-11ea-8d08-e88d9

[2020-04-17 12:51] Sbhonagiri commented on #292
@alikhan126 Please check the issue

[2020-04-17 13:05] Vamshi9676 opened #430 "User should able to delete the conversation of a particular circle from the Circle's List, by doing long press."
**Describe the bug**
Users should able to delete the conversation of a particular circle from the Circle's List, by doing long press.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Navigate to Chit Chat.
3. Click on Clrcle.
4. Do long press on a particular circle.

**Expected behavior**
Users should able to delete the conversation of a particular circle from the Circ

[2020-04-17 13:11] shamravu commented on #332
I need to use an external library to implement this. Am I allowed to use it?

[2020-04-17 13:32] anushayedl commented on #354
@vavadiyahiren Tested in QA build

App version 2.0 build 22

While logging out and loggin again, the Dm are presentin the list of DM- **Fixed**

But after uninstall the app and installed and logged in, then the previous Dm' sare not present-**Need confirmation**
![image](https://user-images.githubusercontent.com/39667299/79574557-f84ac980-80dd-11ea-9022-57a40db7836e.png)

[2020-04-17 13:39] kotimadduluri commented on #383
@Navyacheruku message content not updated . remain issues fixed. If i get any new content for message ill let you know

[2020-04-17 13:39] Vamshi9676 commented on #430
@RajKateshiya

1. Delete Messages of chat in DM.
 A confirmation pops up with Yes and No is displayed - Working Fine
2. Click on Yes in the Message pop up.
 All the messages of the chat are getting deleted - Working Fine

3. Click on No in the Message pop up.
 Messages are not getting deleted | Working Fine

4. Delete Conversation from the list of Direct tab.
 The blank conversation is still avail

[2020-04-17 13:59] shamravu commented on #283
@PradeepChandramogo I fixed this issue
Submit button is hiding in phone verification page -- Issue

[2020-04-17 14:05] PradeepChandramogo commented on #332
@Sbhonagiri could you please confirm this or else has to discuss with @mmazharuddin sir?

[2020-04-17 14:18] PradeepChandramogo commented on #369
![image](https://user-images.githubusercontent.com/59409828/79578679-28956680-80e4-11ea-9991-2bd92fa82469.png)
2
![image](https://user-images.githubusercontent.com/59409828/79578699-31863800-80e4-11ea-803c-f88619b0a0c6.png)
3
![image](https://user-images.githubusercontent.com/59409828/79578722-3c40cd00-80e4-11ea-9582-26314e7bd198.png)
4
![image](https://user-images.githubusercontent.com/59409828/7

[2020-04-17 14:19] Sbhonagiri commented on #418
@anushayedl Srini Sir has verified in the device Pin the Circle was shown.

[2020-04-17 14:27] Vamshi9676 commented on #47
@RajKateshiya

After uninstalling and installing the app Dm chat list is not displaying. **Need Confirmation**

[2020-04-17 14:34] Sbhonagiri commented on #166
@anushayedl Please test all the use cases in version 2.0 and build 23

[2020-04-17 14:40] Sbhonagiri commented on #354
@anushayedl Verified in Srini Sir device also issue is fixed.

[2020-04-17 15:14] Sbhonagiri commented on #69
@Vamshi9676 PLease check for every minute and check

[2020-04-17 15:37] Navyacheruku commented on #47
Not Possible. Hence **Working Fine**

[2020-04-17 15:44] Navyacheruku commented on #47
@RajKateshiya

As per confirmation from Srini sir, do not show the pop up on Logout

[2020-04-17 16:04] anushayedl opened #431 "User should be able to send the multiple images and videos in DM and circle"
**Describe the bug**
User should be able to send the multiple images and videos in DM and circle

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle /DM
2. Try to send the multiple images/circle

**Expected behavior**
User should be able to send the multiplae images and circle in DM/Circle

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (p

[2020-04-17 16:04] anushayedl commented on #372
https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/431

[2020-04-17 16:05] Navyacheruku opened #432 "Hubert's Feedback - Android"
Please check the feedback of Hubert in the ppt

[Aapoon App Feedback 4-5-20.pptx](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4493956/Aapoon.App.Feedback.4-5-20.pptx)

[2020-04-17 16:06] Sbhonagiri commented on #368
At Initial screen by clicking on the side arrow button and resend OTP same service is called to send OTP i.e api/v1/register/

Request Payload:
{
    "phone_number": "8328629204",
    "country_code": "91",
    "user_type": "individualuser"
}

[2020-04-17 16:07] Vamshi9676 commented on #69
@vavadiyahiren

I have tested this for every one minute (for 4 times )as discussed in the call.
1. Every time after clicking on the refresh icon no message or loader is displayed.
2. If I click on refresh for the second time it is showing a message as "Contact Sync is in Progress"

![Screen Shot 2020-04-17 at 4 34 40 PM](https://user-images.githubusercontent.com/43492917/79563040-a5671700-80c9-11e

[2020-04-17 16:12] Vamshi9676 commented on #149
@vavadiyahiren
As discussed in AHM please look into the issues

[2020-04-17 16:14] anushayedl commented on #166
as of now, the build provided by the @meet is App version 2.0 build 22 and already tested and updated above
![image](https://user-images.githubusercontent.com/39667299/79590388-96498e80-80f4-11ea-8a2d-1a679dcccbcf.png)

[2020-04-17 16:15] Navyacheruku commented on #368
@kotimadduluri @Sbhonagiri

Checked from UI

https://drive.google.com/file/d/19q_KB6xk_RMy1iYZKe2QeZLymMga_fbh/view?usp=drivesdk

After 10 minutes also i was not able to login or try to resend OTP and verify phone

https://drive.google.com/file/d/19vAzBO2kIQnRtpD8uOOWI9I39m4f_l-1/view?usp=drivesdk

Will verify from API in the morning and update

[2020-04-17 16:25] anushayedl commented on #270
@vavadiyahiren Tested in QA build

App version 2.0 build 22

Load More option in Connections and Contacts is  not consistent while scrolling up then only the Load more option is visible when I scrolling  down then the Load More option is not visible-**Not Fixed**
![image](https://user-images.githubusercontent.com/39667299/79591301-ebd26b00-80f5-11ea-986b-9b12c67561a4.png)
![image](https://user-ima

[2020-04-17 17:03] anushayedl commented on #412
@vavadiyahiren ; Tested in QA build

App version 2.0 build 22

As of now not getting this type of pop up, if the pop up will come then i will reopen the issue- **Fixed**
![image](https://user-images.githubusercontent.com/39667299/79594819-60f46f00-80fb-11ea-8480-201a938e2ae0.png)

![image](https://user-images.githubusercontent.com/39667299/79594834-69e54080-80fb-11ea-8a34-ef7d9824bcdd.png)

[2020-04-17 17:33] anushayedl commented on #427
@vavadiyahiren Tested in QA build

App version 2.0 build 23

After phone verification, while going to Discover page loader is keep on loading, circle are not visible- **ISSUE**
![image](https://user-images.githubusercontent.com/39667299/79597171-6d7ac680-80ff-11ea-8d6e-e8f47003d6a4.png)

[2020-04-17 17:46] PradeepChandramogo opened #433 "Sona transfer option is not present in users search results"
## Description
Sona transfer option is not present in users search results

## Steps to reproduce
1.Login into account'
2.Search for users
3.After users search results click on three dot icon and check for transfer sona option

## Actual result
1.Sona transfer option is not present in options for users search results
(Check for screenshot)

## Expected result
1 .Sona transfer option should be pres

[2020-04-17 17:48] rakeshlingam1 commented on #428
@Anusha  I am able to access my profile.

[2020-04-17 23:34] Skatta opened #434 "User settings for delete chats and backing up"
Hiren
Please find the mockup for the user settings.
![User Settings](https://user-images.githubusercontent.com/3252405/79621715-fda61500-80d9-11ea-8f4e-a70a7e0deb63.png)

[2020-04-18 00:29] Skatta opened #435 "Need to Add Delete Conversation in the menu upon long press on DM person"
Current Behavior
Upon long person on a contact in a direct message the  following menu opens up
Pin Contact
Delete Messages
DeleteMessages deletes all the  messages exchanged with the contact but the contact person profile remains in the DM list

We should provide the user an option to delete the conversation which removes the contact details from the DM List.
The New menu should be
Pin Contact
De

[2020-04-18 00:38] Skatta opened #436 "Circle is showing unreaded messages count after deleting the messages from the circle"
Expected Behavior
The circle shouldn't show unrelated messages upon deleting the messages.
![IMG_9942](https://user-images.githubusercontent.com/3252405/79623608-dbfd5b80-80e2-11ea-9b14-632ab527ccba.PNG)
![IMG_9943](https://user-images.githubusercontent.com/3252405/79623612-df90e280-80e2-11ea-9450-29b1ba796ae2.PNG)
![IMG_9944](https://user-images.githubusercontent.com/3252405/79623620-e7508700-80e

[2020-04-18 02:58] Skatta opened #437 "Unable to open a message by clicking the notification received"
The message is not opening up when a user clicks on the notification received from Aapoon Chit-Chat

[2020-04-18 03:37] Skatta opened #438 "Direct Messages are displaying the thumbnail profile of sender and receiver in DM messages"
**Describe the bug**
It is inefficient and unnecessary to display the  user names and their thumbnails in a direct message
Expected behavior
It is standard for DM to display the thumbnail picture of the sender and the color of the messages received from the sender will have a blue color background.  We like to use magenta as a  background color.  Please get rid of the vertical kebab and four block

[2020-04-18 04:12] Skatta opened #439 "Displaying of user thumbnails in a circle messages is inefficient and causes loading delays"
Current Behavior
Every user that participates in the messages in the circle is shown with their full name and a profile picture, Circles may tend to have 1000s of members and loading the thumbnails is very inefficient.
The messages come with two menu options 1) Kebab Menu 2) four dots in a square.
The four dots in a square are consuming precious screen space.

Expected behavior
1) No user thumbnai

[2020-04-18 04:34] Skatta opened #440 "Creation and display of a cirlce"
Circle should have options to enter  About the Circle, Circle topics, subtopics, and sub-sub topics. In addition, it should have email and phone number as input fields
The mockup didn't include the About Circle but I showed in the Circle view
<img width="194" alt="circle creation" src="https://user-images.githubusercontent.com/3252405/79628100-ac128000-8103-11ea-88bd-f891047f288e.png">
![Circle di

[2020-04-18 04:37] Skatta opened #441 "Please remove OTP Sent successfully pop-up message after phone number is submitted at the sign up screen"
iPhone gives notifications of OTP messages and it is unnecessary to have an aapoon alert there.

[2020-04-18 05:36] vavadiyahiren commented on #431
@anushayedl as we discussed can we mark this as a feature request ??

[2020-04-18 05:51] Sbhonagiri commented on #441
@rakeshlingam1 Please don't show the  success alert coming from API at the screen where the user provides a phone number and country code.

The message coming from API: "Verification Code (OTP) sent"

[2020-04-18 06:04] Sbhonagiri opened #442 "Search at Aapoon Users is not working"
Expected result: Search at Aapoon Users should return the results searched by the name.

![Screenshot_2020-04-18-11-33-34-803_go socialchains app_20200418_113345654](https://user-images.githubusercontent.com/17709729/79629593-866b9200-8168-11ea-9158-38f06236c901.jpg)

[2020-04-18 06:15] Sbhonagiri commented on #397
@alikhan126 Just Crosscheck Super admin i.e owner of Circle should make other member as Super admin and exit from the Circle in Single update API call

[2020-04-18 07:03] Vamshi9676 opened #443 "Login t"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-18 07:24] PradeepChandramogo commented on #283
@shamravu

Tested in QA in lenovo k6 power model (screen size 5.0 inch screen)

Keypad is not hiding terms of services -- Workig fine
![image](https://user-images.githubusercontent.com/59409828/79630999-87ee8780-8173-11ea-81de-e7deeafb661f.png)

[2020-04-18 07:37] PradeepChandramogo commented on #395
@shamravu
Tested in QA

Profession is not displaying under user name in post model even its privacy settings set to public --**Issue**

![image](https://user-images.githubusercontent.com/59409828/79631250-950c7600-8175-11ea-89a9-9c23bef6e9e7.png)

[2020-04-18 07:44] PradeepChandramogo commented on #336
@kotimadduluri
Tested in QA

Country code(IND) is dispalying always with three digit -- WOrking fine
After navigating to my account, and reloading it is showing as with three digit only unlike before

![image](https://user-images.githubusercontent.com/59409828/79631336-588d4a00-8176-11ea-9694-ed2187aa6e77.png)

[2020-04-18 08:31] PradeepChandramogo commented on #386
@shamravu
Tested in QA

After posting succesfully . home page should be displayed -- **Not fixed**
(The screen before clicked on camera icon is visible after posting)
For eg, if we navigate from notification to camera icon and posted  from camera and after posting navigating  automatically to notification tab -- **Issue**

![image](https://user-images.githubusercontent.com/59409828/79632449-ce94af

[2020-04-18 09:13] anushayedl opened #444 "While clicking on Profile picture, image is getting expand in android but in IOS"
**Describe the bug**
1. While clicking on Profile picture, image is getting expand in android but in IOS
2.The profile picture is not present with in circle shape as like android, in ios profile picture is present in square shape

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on circle profile pictute
3. See the profile picture
4. click on profile picture in info page

[2020-04-18 09:19] anushayedl opened #445 "Replay and Forward options are not present for 3 dotted menu of the message in Android, where as in IOS both options are present."
**Describe the bug**
1. Replay and Forward options are not present for 3 dotted menu of the message in Android, where as in IOS both options are present.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on 3 dotted menu of the message
3. see the options

**Expected behavior**
.Replay and Forward options are not present for 3 dotted menu of the message in Android, where a

[2020-04-18 09:24] PradeepChandramogo commented on #342
@shamravu
Tested in QA  in lenovo k6 power
Logout is not overlapping with feedback -- Working fine
But after some time state and country name is displaying under name -- **Issue**

![image](https://user-images.githubusercontent.com/59409828/79633773-75307e80-8184-11ea-8100-d4df56bed74e.png)

![image](https://user-images.githubusercontent.com/59409828/79633789-811c4080-8184-11ea-8d62-5dad7d23e7d9.p

[2020-04-18 09:26] PradeepChandramogo commented on #342
@hisobhan
COuld you please check this issue in your mobile also and update the status?

[2020-04-18 09:45] Vamshi9676 commented on #368
@Sbhonagiri

Tested from API
https://qa.aapoon.com/api/v1/register/

{
"phone_number": "9676818129",
"country_code": "91",
"user_type": "individualuser"
}

1. Requested the OTP for 5 times, got the OTP for 5 times. Working fine
2. At 6th times got a message as "You reached maximum attempts. Please try again after 10 minutes." Working fine
3. At 7th times got a message as "You reached maximum attem

[2020-04-18 09:46] Navyacheruku commented on #366
@kotimadduluri

1. When there is no internet connection and if the user enters OTP and clicks on Submit, 'Please check your internet connection' toast is displayed. Java socket is not displayed. - **Fixed**
2. When the user goes to Privacy settings and changes the toggle buttons, the app is getting crashed - **Fixed**
3. Java exception is not handled in invite Friends screen after entering email a

[2020-04-18 09:54] anushayedl opened #446 "Need not to show the message as "Verification OTP sent" in phone verification page"
**Describe the bug**
Need not to show the message as "Verification OTP sent" in phone verification page.

**To Reproduce**
Steps to reproduce the behavior:
1.Go to Aappon app
2. insert the country code and Mobile number
3. page is redirecting to phone verification page
4. in this page need not to show the pop up

**Expected behavior**
Need not to show the message as "Verification OTP sent" in phon

[2020-04-18 10:11] anushayedl opened #447 ""Broadcast" Option is not present, while clicking on + icon present at top right corner in Chit-Chat"
**Describe the bug**
"Broadcast" Option is not present, while clicking on + icon present at top right corner in Chit-Chat

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circles
2. Click on + icon
3. See the option for Broadcast

**Expected behavior**
The broadcast option should be present while clicking on + icon

**Screenshots**
If applicable, add screenshots to help explain your pro

[2020-04-18 10:12] PradeepChandramogo commented on #420
@kotimadduluri
Tested in QA
''Please provide your driving license number*" text should be displayed instead of "Government
issued photo id*" -- Fixed

2.And when clicked on save with out giving photo id number in driving license in scan failed
scenario, popup should be as "Please provide your driving license number " displayed __ Fixed

3.And for rest of the world for ''Please provide your passpor

[2020-04-18 10:16] anushayedl opened #448 "Not able to send the captured image in circle, while trying to send the image gettig an pop up as "Selected image should be less than 4 mb, while clicking on "ok" button of pop up loader is keep on loading in circle.( Need to kill the app to proceed for further process)"
**Describe the bug**
Not able to send the captured image in a circle, while trying to send the image getting a pop up as "Selected image should be less than 4 Mb, while clicking on the "CANCEL" button of pop up Lodder is keep on loading in the circle.( Need to kill the app to proceed for the further process)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Click on anyone of t

[2020-04-18 10:49] vavadiyahiren commented on #47
Data file are not being cleared while cache and Chat is not going away doing clear cache

[2020-04-18 10:50] vavadiyahiren commented on #429
This is not a bug please add a feature request.

[2020-04-18 10:51] vavadiyahiren commented on #443
Not a bug add as a feature request.

[2020-04-18 10:53] Vamshi9676 commented on #430
@vavadiyahiren

In this issue nothing is pending so it is fixed.

[2020-04-18 11:18] anushayedl opened #449 "While clicking on "Ok" of "Circle created Successfully" pop, page is redirecting to Circle info page, redirection should be"
**Describe the bug**
While clicking on "Ok" of "Circle created Successfully" pop, the page is redirecting to Circle info page, redirection should be at Circle Chat window

**To Reproduce**
Steps to reproduce the behavior:
1. Crate the circle
2. will get the pop up as "Circle created Successfully"
3. Click on ok button
4. See the redirect

**Expected behavior**
After clicking on "Ok" button of pop

[2020-04-18 11:21] PradeepChandramogo commented on #344
Please check this issue in below id.Hence it is closed
https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/336

[2020-04-18 11:21] #344 closed

[2020-04-18 11:32] anushayedl opened #450 "System messages are not shown"
**Describe the bug**
System messages are  being shown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Circle
2. Create the circle
** Actual behavior**
As of now  not showing any messages

**Expected behavior**
System messages should be shown to  the user like as android.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the fol

[2020-04-18 11:43] Navyacheruku commented on #352
@kotimadduluri

The page loads and stops without showing any message to check for internet connection. - **Failed**

Please check the video and logs

Video Reference

https://drive.google.com/file/d/1BKjPgmokXM71MYojEw_I21QlpGD1YnFf/view?usp=drivesdk

Logs

[MobileData.txt](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4496556/MobileData.txt)

[2020-04-18 11:51] PradeepChandramogo commented on #383
@kotimadduluri

The message got updated - Fixed
But after Hi, the user name is not added - FIxed
If multiple contacts are selected, it should be Dear Friend at the beginning, not Hi - Fixed
This message is also getting converted to MMS
If the text is removed till Aapoon, only then the message is converted as a text message - **ISSUE**
After converting to text message, message is sent to the contac

[2020-04-18 11:55] Navyacheruku commented on #383
@kotimadduluri

1. The message is still getting converted to MS - ***Not Fixed***
2. If invited from Invite Contacts, contact name is displayed after Hi - ***Fixed***
3. If multiple contacts are selected and clicked on Invite, Dear Friend is displayed - ***Fixed***
4. When clicked on contact from New Message (Chit-Chat), only Hi is displayed. Contact Name is not there, after Hi - ***Not Fixed***
5

[2020-04-18 12:01] Navyacheruku commented on #47
@vavadiyahiren

On clearing the cache, the data and messages are not getting cleared
On clearing the data in App info, then messages are getting cleared

https://drive.google.com/file/d/1Bixpq7GQLzXpvKCx3TJdU5lKL7ToMuoa/view?usp=drivesdk

[2020-04-18 12:02] Navyacheruku commented on #47
Please update on this

[2020-04-18 12:04] anushayedl opened #451 "Online status of members in Circle of Info page is not showing correctly"
**Describe the bug**
Under the member's list, Pradeep b user is online in Android, but in ios, it is showing not showing as online

**To Reproduce**
Steps to reproduce the behavior:
1. Go to circle info page
2. see the members under "Members" heading

**Expected behavior**
user should be show the online if the user is online

**Screenshots**
If applicable, add screenshots to help explain your prob