[2020-04-02 04:38] RajKateshiya commented on #230
Done

[2020-04-02 04:51] RajKateshiya commented on #164
Done

[2020-04-02 05:19] RajKateshiya commented on #220
Done

[2020-04-02 05:39] kotimadduluri commented on #75
@PradeepChandramogo fixed this issue

[2020-04-02 05:40] kotimadduluri commented on #97
@Sbhonagiri Fixed

[2020-04-02 05:51] Sbhonagiri commented on #183
@Navyacheruku @Vamshi9676 Please close this issue, the above comments was provided by Srini Sir

[2020-04-02 05:52] Sbhonagiri commented on #204
@Navyacheruku @Vamshi9676 Please check this issue

[2020-04-02 06:03] Sbhonagiri commented on #208
@alikhan126 Please check the issue.

[2020-04-02 07:04] Vamshi9676 opened #237 "App is getting crashed when we click on My Connection in hamburger menu"
**Describe the bug**
App is getting crashed when we click on My Connection in hamburger menu

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Click on chit chat in the header.
3. Click on Home tab in the header.
4. Click on Hamburger menu.
5. Click on My Connection

**Expected behavior**
App should not crash

**Screenshots**
![Screen Shot 2020-04-02 at 12 30 03 PM](htt

[2020-04-02 07:54] Vamshi9676 opened #238 "When user click on "Click here to invite contacts" button in the last message card. contact list is not opening, Home page is displaying."
**Describe the bug**
When user click on "Click here to invite contacts" button in the last message card. contact list is not opening, Home page is displaying.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete full Signup
2. Navigate to home page.
3. Fully verified message card will display.
4. Click on "Click on invite friends" button.
5. Check whether the page is redirecting to invit

[2020-04-02 07:59] PradeepChandramogo commented on #75
@kotimadduluri
Tested in QA build app-debug10
It should be easy to click on three dots -- **Not fixed**
when clicked on just above or beside dots user profile is getting opened -- **Not fixed**

[2020-04-02 08:01] PradeepChandramogo commented on #97
@kotimadduluri
Tested in QA build app-debug1
Photo id is not hashed in my account screen -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/78224403-23ca9300-74e6-11ea-8a11-3da9a8758293.png)

[2020-04-02 08:10] Vamshi9676 opened #239 "In My Profile page alignment of the percentage indicator is displaying proper."
**Describe the bug**
In My Profile page alignment of the percentage indicator is displaying proper.
When user reaches to 100 % in My Profile page, the text alignment is not displaying properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Click on Hamburger menu.
3. Click on My Profile tab.
4. Check the alignment of the percentage indecatore

**Expected behavior**

[2020-04-02 08:11] mmazharuddin commented on #238
@shamravu can you please fix this issue.

[2020-04-02 08:12] mmazharuddin commented on #239
@shamravu can you please implement responsive design

[2020-04-02 08:20] Vamshi9676 opened #240 "When user click on Invite contacts tab in Hamburger menu, page is redirecting to home page."
**Describe the bug**
When user click on Invite contacts tab in Hamburger menu, page is redirecting to home page. Page should redirect to Invite contact page.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Click on Hamburger menu.
3. Click on Invite contact tab.
4. Check the page where it is redirecting.

**Expected behavior**
Page should redirect to invite contact pa

[2020-04-02 08:29] Vamshi9676 commented on #200
@Sbhonagiri

While adding members in the circle getting an error message as "User matching query does not exist." ISSUE
### We are not able to add members to the circle.

![Screen Shot 2020-04-02 at 1 59 21 PM](https://user-images.githubusercontent.com/43492917/78226972-2b8c3680-74ea-11ea-9ce4-8985ba2025a4.png)

[2020-04-02 11:35] mmazharuddin commented on #240
@Vamshi9676 can you please update

[2020-04-02 11:36] mmazharuddin commented on #232
@PradeepChandramogo please update

[2020-04-02 11:37] mmazharuddin commented on #235
@PradeepChandramogo please update

[2020-04-02 11:39] mmazharuddin commented on #238
@kotimadduluri can you please check

[2020-04-02 11:40] mmazharuddin commented on #105
@Vamshi9676 can you please test and update

[2020-04-02 11:41] mmazharuddin commented on #156
@Vamshi9676 can you test and update

[2020-04-02 11:43] mmazharuddin commented on #95
@kotimadduluri can you please work on it

[2020-04-02 11:43] mmazharuddin commented on #157
@Vamshi9676 @PradeepChandramogo please update

[2020-04-02 11:43] PradeepChandramogo opened #241 "Timer should be shown while scanning"
## Description
Timer should be shown while scanning

## Steps to reproduce
1 .Check scanner

## Actual result
1. There is no time  indicator for scan timer

## Expected result
1.There should be time indicator for scan timer

[2020-04-02 11:47] mmazharuddin commented on #237
@Vamshi9676 please update

[2020-04-02 12:07] Vamshi9676 commented on #105
@alikhan126 @Sbhonagiri

After posting from the gallery only 1 post is getting created. Working fine
After posting a picture from the camera only 1 post is displaying. Working fine
After posting text from the post modal page only 1 post is displaying. Working fine

![Screen Shot 2020-04-02 at 5 36 48 PM](https://user-images.githubusercontent.com/43492917/78247497-90ef2000-7508-11ea-9fb2-9e7eec6561

[2020-04-02 12:09] Vamshi9676 commented on #156
@shamravu

In My Profile page save button is changed as text. Working fine
In My Profile page, in the bottom save button is added. Working fine

![Screen Shot 2020-04-02 at 5 38 26 PM](https://user-images.githubusercontent.com/43492917/78247693-f17e5d00-7508-11ea-8898-fcbdaae2b746.png)

[2020-04-02 12:18] Vamshi9676 commented on #157
@shamravu

In the side bar menu options are not congested now. Working fine.
White background space is reduced in the side bar menu. Working fine
![Screen Shot 2020-04-02 at 5 46 08 PM](https://user-images.githubusercontent.com/43492917/78248336-16bf9b00-750a-11ea-815b-3b45f8b1f0da.png)

[2020-04-02 12:48] Vamshi9676 commented on #233
@shamravu

1. 3 dot list is not displaying in the search bar. Working fine
2. When we click on the search bar app is not crashing. Working fine

Followed the below steps.

1. Login to an account.
2. Home page will display.
3. Click on chit chat tab in the home screen.
4. Click on Notification icon in the header.
5. Click on home tab in the header.
6. Check the search bar in the header
7. 3 dots ar

[2020-04-02 12:57] RajKateshiya commented on #145
Done added pull to refresh

[2020-04-02 12:58] RajKateshiya commented on #149
Done

[2020-04-02 13:00] Vamshi9676 commented on #173
@shamravu

notification count is displaying correct. Working fine
when 3 digits are there it is displaying correct. Working fine

![Screen Shot 2020-04-02 at 6 29 30 PM](https://user-images.githubusercontent.com/43492917/78252159-07dbe700-7510-11ea-8b2c-f07444761881.png)

[2020-04-02 13:05] Vamshi9676 commented on #237
@mmazharuddin Sir,

App is not crashing when we click on My Connection tab in side bar menu. Working fine
When we navigate in the screens and clicked on My Connections in the side bar menu, app is not crashing. Working fine
By following the below steps app is not crashing. Working fine

1. Login to an account.
2. Click on chit chat in the header.
3. Click on Home tab in the header.
4. Click on Ham

[2020-04-02 13:18] PradeepChandramogo commented on #230
@RajKateshiya
Tested in QA
It should show ...... has joined circle -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78253759-7f127a80-7512-11ea-88da-380f0aff7e6f.png)

[2020-04-02 13:23] kotimadduluri commented on #106
@PradeepChandramogo Added feature

[2020-04-02 13:24] PradeepChandramogo commented on #222
@RajKateshiya

Tested in QA

Search should not be case sensitive. User should get results even if searched with upper case and lower case  -- **Fixed**

Search result is not case sensitive what ever users name case sensitive --- working fine

![image](https://user-images.githubusercontent.com/59409828/78253947-cf89d800-7512-11ea-8515-c4288684a938.png)

![image](https://user-images.githubuserconten

[2020-04-02 13:24] mmazharuddin commented on #184
@Vamshi9676
please test and confirm

[2020-04-02 13:25] Vamshi9676 commented on #218
@Sbhonagiri

In all the message cards, dollars has been changed to Coins. Working fine
Please find the screen shots.

![Screen Shot 2020-04-02 at 6 53 49 PM](https://user-images.githubusercontent.com/43492917/78254383-71a9c000-7513-11ea-87e8-bbbbe8eb56f0.png)
![Screen Shot 2020-04-02 at 6 53 43 PM](https://user-images.githubusercontent.com/43492917/78254389-740c1a00-7513-11ea-99dc-bdca97845bcc.png

[2020-04-02 13:25] mmazharuddin commented on #179
@Vamshi9676 please update

[2020-04-02 13:25] mmazharuddin commented on #164
@Vamshi9676 please update

[2020-04-02 13:26] mmazharuddin commented on #220
@Vamshi9676 please update

[2020-04-02 13:27] mmazharuddin commented on #183
As per Srini Sir's comments
These connections are displayed because those users are part of the group, so those are second-level connections and are allowed, so please close this issue.

[2020-04-02 13:27] #183 closed

[2020-04-02 13:27] Sbhonagiri commented on #200
@Vamshi9676 Please check now on QA.

[2020-04-02 14:34] Vamshi9676 commented on #210
@Sbhonagiri

Mobile number is not displaying in the side bar menu, when user is not completed the signup. Working fine

Followed the below step

1. Register in the app
2. After phone verification, open side menu
3. Number will be visible. After switching between screens in the same app, the number will be disappeared
4. Switch between apps in the device
5. From recent items/apps in the device, ope

[2020-04-02 14:58] Vamshi9676 opened #242 "when user reaches to My Profile page While doing signup , the curser should present in the first name field automatically."
**Describe the bug**
when user reaches to My Profile page While doing signup , the curser should present in the first name field automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete registration up to My Account page.
2. Click on My Account button.
3. Fail a attempt for the scanner.
4. Click on Yes in the popup ( Is Aadhar laminated)
5. Check where the curser is present.

[2020-04-02 14:58] PradeepChandramogo opened #243 "My profile message card should be change(need to inform about the SONA coins)in third flow"
## Description

 My profile message card should be change(need to inform about the SONA coins) in third flow

[2020-04-02 15:01] PradeepChandramogo opened #244 "In 3rd flow for the 1st attempt timestamp is 30 seconds and for remaining 2 attempts timestamp should be 15 seconds fro the scanner"
## Description

In 3rd flow  for the 1st attempt timestamp is 30 seconds and for remaining 2 attempts timestamp should be 15 seconds fro the scanner

[2020-04-02 15:02] PradeepChandramogo opened #245 "After getting the message as “Is your Adhar card/ driver’s License Laminated” while clicking on yer or no, when the page is redirecting to the My Account page, need to show the pop up as “please enter details as in your Aadhar card/ Driver’s License.” (just message comes and disappear)"
## Description
After getting the message as “Is your Adhar card/ driver’s License Laminated” while clicking on yer or no, when the page is redirecting to the    My Account page, need to show the pop up as “please enter details as in your Aadhar card/ Driver’s License.” (just message comes and disappear)

[2020-04-02 15:04] Vamshi9676 opened #246 "When a basic user try to join the circle getting an message, message should display in the proper popup."
**Describe the bug**
When a basic user try to join the circle getting an message, message should display in the proper popup.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete a signup as a basic user.
2. Navigate to Chit Chat.
3. Try to join  circle in the discover

**Expected behavior**

Message should displaying in the middle of the screen in a popup with "Ok" button.

**Screenshot

[2020-04-02 15:06] PradeepChandramogo opened #247 "In 3rd flow max attempt message change for 3rd flow,"Please provide the details as in the Aadhaar card manually" in place of please provide details manually as per adhar"
## Description

In 3rd flow max attempt message change for 3rd flow,"Please provide the details as in the Aadhaar card manually" in place of please provide details manually as per adhar

[2020-04-02 15:09] PradeepChandramogo opened #248 "Auto Save should be enabled in the application after cropping selfie and uploading photo id"
## Description
Auto Save should be enabled in the application after cropping selfie and uploading photo id

[2020-04-02 15:10] Vamshi9676 opened #249 "In the chit chat inside the search bar it should be in white colour, Search bar is displaying as disable mode."
**Describe the bug**
In the chit chat inside the search bar it should be in white colour, Search bar is displaying as disable mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Click on Chit Chat.
3. After opening the chit chat check the search bar.

**Expected behavior**
In the chit chat inside the search bar it should be in white colour. It should display like en

[2020-04-02 15:16] PradeepChandramogo opened #250 "Badges icon has to be changed in side menu"
## Descrption

Badges icon has to be changed in side menu

[2020-04-02 15:16] Vamshi9676 opened #251 "The line between Scanner and ID verification buttons in My Account page."
**Describe the bug**
The line between Scanner and ID verification buttons in My Account page.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete Signup up to My Account.
2. Fail the scanner for 3 times.
3. Navigate to My Account page.
4. Check the screen shot for the reference.

**Expected behavior**
Provide a partition between Scanner and ID verification Icons.

**Screenshots**
![Scre

[2020-04-02 15:22] Sbhonagiri commented on #243
@PradeepChandramogo Please verify the issue on QA.

[2020-04-02 15:23] Vamshi9676 opened #252 "Message should change in guest mode popup of My Profile."
**Describe the bug**
When user is at My Account message card. Click on My account tab in the Hamburger menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete registration up to My Account message card.
2. Click on Hamburger menu.
3. Click on My Profile tab.
4. Check for the message

**Expected behavior**
The message which is present in the screen shot should display.

![Screen Shot 2

[2020-04-02 15:28] Vamshi9676 opened #253 "Dollar should replace with coin, Dollars should replace with coins."
**Describe the bug**
Dollar should replace with coin, Dollars should replace with coins.
In OTP verification page and Aadhar card scanner page it should replace.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to register a user.
2. Come to OTP verification pafe and check for the text.
3. Complete otp verification
4. Come to scanner pae and check for the text dollar.

**Expected behavior

[2020-04-02 16:17] Vamshi9676 commented on #240
@mmazharuddin

App is not crashing when we click on Invite contacts. Working fine

By following the steps tried to replicate but app is not crashing.

1. Login to an account.
2. Click on Hamburger menu.
3. Click on Invite contact tab.
4. Check the page where it is redirecting.

![Screen Shot 2020-04-02 at 9 29 47 PM](https://user-images.githubusercontent.com/43492917/78272746-8e51f200-752b-11ea-92

[2020-04-02 16:23] PradeepChandramogo opened #254 "After uploading photo id and capturing selfie, do not show instructions at the back. Instead show, Facial Comparison is in progress"
## Description

After uploading photo id and capturing selfie, do not show instructions at the back. Instead show, Facial Comparison is in progress

[2020-04-02 16:42] Vamshi9676 opened #255 "Walk through screens are not displaying, home screen is displaying."
**Describe the bug**
After installing the app, Home screen is displaying instead of showing walk through screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app
2. Open the app.
3. Check whether the app is displaying walk through screen.

**Expected behavior**
Walk through screen should display.

**Screenshots**
![image](https://user-images.githubusercontent.com/43492917/7827

[2020-04-02 17:10] kotimadduluri commented on #106
@PradeepChandramogo Please download new apk from following link
https://drive.google.com/open?id=1PEWT9rUUjdYBsn6rYFjkjlB-eNmsBv6G

[2020-04-03 05:28] RajKateshiya commented on #219
Done

[2020-04-03 06:22] mmazharuddin commented on #141
@Jaydip1801 @RajKateshiya can you please update

[2020-04-03 06:38] Vamshi9676 opened #256 "App is getting crash, when we click on submit button after entering the otp in the OTP Screen."
**Describe the bug**
App is getting crash, when we click on submit button after entering the OTP in OTP Screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the App.
2. Navigate to Registration page.
3. Enter phone number.
4. Click on enter.
5. Enter OTP in the OTP screen.
6. Click on Submit

**Expected behavior**
App should not crash.

**Screenshots**
![image](https://user-images

[2020-04-03 06:57] Vamshi9676 opened #257 "In the Registration page, After selecting the country code, alignment of the country code is not proper."
**Describe the bug**
In the Registration page, After selecting the country code, alignment of the country code is not proper.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the App.
2. Navigate to registration page.
3. Select a country code which having 3 digits.
4. Check for the alignment of the country code in the Registration page.

**Expected behavior**
Alignment of the country

[2020-04-03 07:03] PradeepChandramogo opened #258 "Without entering any details in profile and saving showing as profile details entered succesfully"
## Description
Without entering any details in profile and saving showing as profile details entered succesfully

## Steps to reproduce
1 .Go to my profile after sign up or login
2 .With out entering any details ,click on Save

## Actual result
Showing popup as "Profile details updated succesfully "

## Expected result

![image](https://user-images.githubusercontent.com/59409828/78333360-525c7280-

[2020-04-03 07:07] Vamshi9676 opened #259 "Replace the Text in information popup at My Account page."
**Describe the bug**
Change the information in the information popup, which is present in My Account Screen\

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account
2. Click on side bar menu.
3. click on My Account.
4. Click on information icon in My Account page.

**Expected behavior**
Please replace the text with the following,

Aapoon is a global social media community where a

[2020-04-03 07:12] PradeepChandramogo opened #260 "when selected on feedback topic option,by default cursor is not placing in feedback text enter block"
## Description
when selected on feedback  topic option,by default cursor is not placing in feedback text enter block

## Steps to reproduce
1 .Go to my profile after sign up or login
2 .With out entering any details ,click on Save

## Actual result
Showing popup as "Profile details updated succesfully "

## Expected result

![image](https://user-images.githubusercontent.com/59409828/78333360-525c7

[2020-04-03 07:18] PradeepChandramogo opened #261 "No notification for connection request accepted"
## Description
No notification  for connection request accepted

## Steps to reproduce
1 .Send connection request from user 1 to user 2
2 .User2 gets notification for connection request and accept it

## Actual result
User 1 is not getting any notification after user2 accepting request

## Expected result

User1 has to get notification for  user 2 accepting notification

[2020-04-03 07:25] PradeepChandramogo opened #262 "when searched in my connections with a name ,if there is no one with that name,has to show message "No results found""
## Description
when searched in my connections with a name ,if there is no one with that name,has to show message "No results found"

## Steps to reproduce
1.Go to my connections
2 For the name which is not in connection list
3.Check for the result

## Actual result
1.Empty message is there

## Expected result
1.Message should display "No connectiosn found" if there are no connections with that na

[2020-04-03 07:26] Vamshi9676 commented on #145
@RajKateshiya

After adding the contact in the contact book of the device, contact is getting sync automatically. Working fine.
Tried to add 3 contacts 1 after other, with out refreshing the page of invite contacts or new message page, contacts are getting sync automatically. Working fine
After pulling down the screen page is getting refresh in New message screen. Working fine

![Screen Shot 2020-

[2020-04-03 07:34] PradeepChandramogo commented on #105
@Sbhonagiri @alikhan126

Tested in QA
Duplicate posts should not be shown -- **Not fixed**
(when user registered newly , and posted anything, in another users timeline it is posting two times,
until that user2 posting sometime.If user2 post anything , then all double posts are appearing once.
But once user2 deletes all his posts, again all posts shared by newly registered user are appearing double

[2020-04-03 07:38] Sbhonagiri commented on #105
@alikhan126 Please check the issue and @PradeepChandramogo Please provide steps to reproduce

[2020-04-03 07:53] Vamshi9676 commented on #204
@Sbhonagiri @RajKateshiya

1. After editing the number, if that number is deleted from platform, that user's edited number is shown in system message - *ISSUE*
2. In the screen shot country code is added to that number extra.
3. Phone number is displaying in the circle.
4. Navya Crested Circle, Added Me and pradeep.
Navya removed me, in the system message it is displaying number. **ISSUE**

![imag

[2020-04-03 07:57] PradeepChandramogo commented on #105
@alikhan126
Please check my comments above
1.Register with new user and post
2.Check another users(user2) timeline,The posts posted by user1(new user) will appear twice for
 ever post until user 2 posts anything.After user2 posts anything those posts appeared twice
 becomming once.
3.But if user 2 deletes his posts,again user1 previous posts are appearing twice
I

[2020-04-03 08:09] Navyacheruku commented on #220
@RajKateshiya

1. Only admin has option Pin Message in circle - **Working Fine**
2. Pin Message option is available only in circles and not in DM - **Working Fine**
3. After pinning a message, that particular message is shown with Pin icon in red - **Working Fine**
4 After pinning a message, the Pin Message option is changed to Unpin Message- **Working Fine**
5. After pinning a message, that messa

[2020-04-03 08:16] PradeepChandramogo commented on #106
@kotimadduluri

Tested in QA

Disconnect option is present in my connection -- working fine
Able to disconnect by clicking option and again able to connect by sending request -- Working fine

![image](https://user-images.githubusercontent.com/59409828/78338998-6311e600-75b1-11ea-881c-6de8b2e7e611.png)

[2020-04-03 08:20] Vamshi9676 commented on #149
@RajKateshiya

1. After joining the circle, through invite like, the user is shown in the members list - Fixed
2. The colour of online icon is changed - Fixed
3. The icon is going inside the picture. - Not Fixed
### 4. Both the users are not in online they are killed the app from the recent apps. ISSUE
5. Under Circle info, self user’s name is displayed instead showing You - Fixed
6. Online member

[2020-04-03 08:27] Navyacheruku opened #263 "Member is still able to do messaging after being added and removed from circle by admin"
## Description

Member is still able to do messaging after being added and removed from the circle by admin

## Steps to Reproduce

1. Create a circle
2. Add 2 members to the circle user 1 and user 2
3. And remove those two users from the circle.
4. Open the circles from the removed user account
5. Circle is shown in the user list though they are not shown in the members of the circle
6. And user

[2020-04-03 08:29] PradeepChandramogo opened #264 "In phone verification page, SONA Dollar message should be replaced with SONA Coin"
## Descrption

In phone verification page, SONA Dollar message should be replaced with SONA Coin

## Steps to reproduce
1.Check for SONA Dollar message in phone verification page

## Actual result
1.SONA "Dollar" is present

## Expected result
1. SONA Coin text should be there

Screenshot for actual result

![image](https://user-images.githubusercontent.com/59409828/78340188-48407100-75b3-11ea-94d

[2020-04-03 08:32] mmazharuddin commented on #263
@RajKateshiya can you please check this issue

[2020-04-03 09:03] mmazharuddin commented on #244
@kotimadduluri Please update and assign it for testing, once it is fixed.

[2020-04-03 09:04] PradeepChandramogo commented on #243
@Sbhonagiri
Tested in QA
My profile message card should be change(need to inform about the SONA coins) in third flow -- **Partially fixed**
Congratulation has to be replaced with "Congratulations!"
After progress text in message card there is no need for "!". keep fullstop instead

![image](https://user-images.githubusercontent.com/59409828/78343018-da4a7880-75b7-11ea-8a67-4382683e3251.png)

[2020-04-03 09:06] mmazharuddin commented on #243
@Sbhonagiri can you please do the needful

[2020-04-03 09:07] mmazharuddin commented on #239
@kotimadduluri Please assign it for testing, if it is fixed.

[2020-04-03 09:08] mmazharuddin commented on #259
@shamravu Can you please change the message text and assign it for testing?

[2020-04-03 09:11] mmazharuddin commented on #256
@Navyacheruku @PradeepChandramogo can you please check it from. your side as well?

[2020-04-03 09:12] Sbhonagiri commented on #256
@kotimadduluri Can you please check this issue.

[2020-04-03 09:13] mmazharuddin commented on #257
@shamravu This is happening in these devices...Device: [Samsung s6 edge, Mi A3]
Please implement proper responsive designing

[2020-04-03 09:28] Vamshi9676 opened #265 "After adding a member to a circle page is staying a loading screen, page is not navigating to circles"
**Describe the bug**
After adding a member to a circle page is staying a loading screen, page is not navigating to circles.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to an account.
2. Click on Chit Chat.
3. Navigate to discover.
4. Click on join for a circle.

**Expected behavior**
Page should redirect to Perticulare circle page.

**Screenshots**
Page is staying at below screen s

[2020-04-03 09:29] mmazharuddin commented on #245
@kotimadduluri can you please update?

[2020-04-03 09:30] mmazharuddin commented on #247
@kotimadduluri can you please update the message and assign it for testing

[2020-04-03 09:36] mmazharuddin commented on #248
@kotimadduluri please let me know if you need further clarification for this scenario, we can set up a call and explain you.

[2020-04-03 09:38] mmazharuddin commented on #250
@nithink-m @Sbhonagiri please provide the coin icon to Ravi

[2020-04-03 09:39] mmazharuddin commented on #229
@shamravu  any update on this ticket

[2020-04-03 09:40] mmazharuddin commented on #238
@kotimadduluri please update?

[2020-04-03 09:41] mmazharuddin commented on #236
@kotimadduluri can you please look into this issue

[2020-04-03 09:43] mmazharuddin commented on #101
@kotimadduluri can you please update

[2020-04-03 09:43] kotimadduluri commented on #264
@PradeepChandramogo Changed

[2020-04-03 09:43] mmazharuddin commented on #241
@kotimadduluri can you please assign it for testing if it is fixed

[2020-04-03 09:44] mmazharuddin commented on #254
@Sbhonagiri @kotimadduluri This is very important, I appreciate it if you can fix it ASAP

[2020-04-03 09:45] kotimadduluri commented on #245
@PradeepChandramogo Added new dialogue

[2020-04-03 09:46] mmazharuddin commented on #98
@Navyacheruku As discussed, this issue is not clear to me.

[2020-04-03 09:46] kotimadduluri commented on #241
@PradeepChandramogo Added this feature

[2020-04-03 09:47] mmazharuddin commented on #99
@PradeepChandramogo Please update ASAP

[2020-04-03 09:48] kotimadduluri commented on #244
@PradeepChandramogo updated please check

[2020-04-03 09:49] mmazharuddin commented on #241
@PradeepChandramogo can you please test it quickly and update me ASAP

[2020-04-03 09:49] mmazharuddin commented on #244
@PradeepChandramogo can you please test it quickly and update me ASAP

[2020-04-03 09:50] mmazharuddin commented on #245
@PradeepChandramogo can you please test it quickly and update me ASAP

[2020-04-03 10:01] PradeepChandramogo commented on #264
@kotimadduluri
Tested in QA

SONA Coin text should be there  -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78348724-239ec600-75c0-11ea-9489-38ec248e7f44.png)

[2020-04-03 10:09] PradeepChandramogo commented on #244
First scanner time has to change 25 sec, still it is 30 sec

[2020-04-03 10:14] mmazharuddin commented on #244
@PradeepChandramogo you have provided incomplete information in the description and there are no steps to reproduce and expected criteria. Hence you have waisted developer's time.

![Screen Shot 2020-04-03 at 3 43 44 PM](https://user-images.githubusercontent.com/10600627/78349900-f0f5cd00-75c1-11ea-9938-262d41ec3f67.png)

[2020-04-03 10:14] PradeepChandramogo commented on #247
except "max. " text is fixed

![image](https://user-images.githubusercontent.com/59409828/78349830-d4f22b80-75c1-11ea-8a6d-942e909ab4fe.png)

[2020-04-03 10:17] Navyacheruku commented on #98
@mmazharuddin

Sir,

This feedback was shared by Srini sir in the Aapoon skype group

_The date of Birth should be scrambled_

To my understanding, the date of birth format like yyyy-mm-dd and yyyy-dd-mm should be changed country wise.

But I'm also not sure sir.

We need to get it clarified from Srini sir

And as of now, the date of birth is not being shown to. other users anywhere except for old

[2020-04-03 10:26] PradeepChandramogo commented on #245
popup

![image](https://user-images.githubusercontent.com/59409828/78350903-93fb1680-75c3-11ea-8fed-cfe31043fed0.png)

[2020-04-03 10:26] Sbhonagiri commented on #250
@mmazharuddin Shared the icon to Koti Sir.

[2020-04-03 10:27] Sbhonagiri commented on #254
@mmazharuddin Sure Koti will be working on it now

[2020-04-03 10:59] Navyacheruku commented on #164
@RajKateshiya

In the below report,

**First Line is - Scenario
Second Line is - Actual Result**

Please check the report below

1. Super Admin adds members |
 Super admin can add members. | **Working Fine**

2. Add other members as Admin |
Able to add other members as admin | **Working Fine**

3. Super Admin Remove other admins as admins |
Super admin can edit the position of the admin | **Workin

[2020-04-03 11:03] Sbhonagiri commented on #243
@PradeepChandramogo Please verify the issue on QA

[2020-04-03 11:22] Vamshi9676 commented on #219
@RajKateshiya

Voruganti Vamshi Krishna has created a circle.
Cherku Navya Sree has join the circle but the system message is not displaying for the super admin. ISSUE
Cherku Navya Sree added Anusha but the system message is not displaying to the super admin. ISSUE.
When super admin add the members to the circle system message is displaying as "You Jagadeesh viswanadhapalli". Working fine
When sup

[2020-04-03 11:25] Jaydip1801 commented on #149
10. And the dot is going inside the profile picture. It should be like Skype - ISSUE
3. The icon is going inside the picture. - Not Fixed
--> implemented like skype

4. Both the users are not in online they are killed the app from the recent apps. ISSUE
--> we are getting online users from api

6. Online members are getting updated lately - ISSUE
--> depending on api response

7. Automatically the

[2020-04-03 11:32] Vamshi9676 commented on #184
@RajKateshiya

Voruganti Vamshi Krishna has created a circle.
1. Cherku Navya Sree has join the circle but the system message is not displaying for the super admin. ISSUE
2. Cherku Navya Sree added Anusha but the system message is not displaying to the super admin. ISSUE.
3. When super admin add the members to the circle system message is displaying as "You Jagadeesh viswanadhapalli". Working fine

[2020-04-03 11:56] Navyacheruku commented on #179
@RajKateshiya

1. If number is saved with +1 and mobile number, the user is visible in suggestions and invite people.
User should not be visible under invite people if user is registered in the platform- **ISSUE**
2. If + or 00 are not available before mobile number, the user is not shown under suggestions. USer is shown in invite People - **Need Confirmation**
3. If  001 is available before mobil

[2020-04-03 11:56] Vamshi9676 commented on #219
@RajKateshiya

1. When user is logout if user click on invitation link of the circle, getting a popup as open in app or browser. Working fine
After doing login circle page is displaying and a popup is displaying that to join the circle. Working fine
![Screen Shot 2020-04-03 at 5 17 43 PM](https://user-images.githubusercontent.com/43492917/78357433-1937f880-75cf-11ea-8ca8-a73c6266b922.png)

![Scree

[2020-04-03 11:59] anushayedl opened #266 "If the ID verification is unsuccessful, even user is getting the 6 SONA coins and in My Account page, ID verification option is checked with green color"
**Describe the bug**
If the ID verification is unsucessful, even user is getting the 6 SONA coins and in My Account page, ID verification option is checked with green color.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete Id verification
2. Complete scanning through a message card
3. After completion of scanning , page is redirecting to Id Verification
4. complete the front of the p

[2020-04-03 12:10] Navyacheruku commented on #144
Old circles have been cleared and old chats are cleared as there is no chat history available.

Unabn\le to check for date for video.

@Vamshi9676

We will update after 8 hours

[2020-04-03 12:11] Navyacheruku commented on #256
I did not face the crash sir.

I was able to verify the phone successfully

[2020-04-03 12:13] PradeepChandramogo commented on #250
@kotimadduluri
Tested in QA

Badges icon has to be changed in side menu --- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78359351-8e58fd00-75d2-11ea-85ca-079f39815c0e.png)

[2020-04-03 12:16] Sbhonagiri commented on #266
@alikhan126 Please check the issue

[2020-04-03 12:28] RajKateshiya commented on #265
Done

[2020-04-03 12:28] RajKateshiya commented on #246
Done

[2020-04-03 12:28] RajKateshiya commented on #249
Done

[2020-04-03 12:29] RajKateshiya commented on #141
Done

[2020-04-03 12:31] RajKateshiya commented on #263
Test with today latest build, because when we removed member then removed member device input bar is not shown for sending message

[2020-04-03 12:31] Navyacheruku commented on #164
@RajKateshiya

Please check the above comment for the testing status ------> https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/164#issuecomment-608371181

**Below are the confirmation points**

1. Super Admin trying to remove self as Admin |
Not able to remove self as super admin | Need Confirmation

**Confirmation**: Super Admin has to make someone as Super admin before leaving the

[2020-04-03 12:32] mmazharuddin commented on #141
@QA Team: Please test and confirm

[2020-04-03 12:33] mmazharuddin commented on #263
@QA Team: Please test and confirm

[2020-04-03 12:48] mmazharuddin commented on #249
@QA Team: Please test and confirm

[2020-04-03 12:48] mmazharuddin commented on #246
@QA Team: Please test and confirm

[2020-04-03 12:49] mmazharuddin commented on #265
@QA Team: Please test and confirm

[2020-04-03 12:51] Vamshi9676 commented on #141
@RajKateshiya

In the Direct message still options are not displaying properly, options are displaying in the middle of the screen. ISSUE.
In theCircles still options are not displaying properly, options are displaying in the middle of the screen. ISSUE.

![Screen Shot 2020-04-03 at 6 18 35 PM](https://user-images.githubusercontent.com/43492917/78362490-d7f81680-75d7-11ea-8f87-d8c7119902e0.png)
![

[2020-04-03 12:55] mmazharuddin commented on #141
@RajKateshiya This is not working as expected, please check

[2020-04-03 12:56] mmazharuddin commented on #256
@Navyacheruku @Vamshi9676 @PradeepChandramogo please verify in the latest build and assign the label accordingly

[2020-04-03 12:58] mmazharuddin commented on #266
@alikhan126 This is a showstopper, please give the highest priority and update me ASAP

[2020-04-03 13:01] mmazharuddin commented on #219
@RajKateshiya can you please check

[2020-04-03 13:03] Vamshi9676 commented on #246
@RajKateshiya

1. When a user is a basic user, if user tries to join a circle getting a popup as "You need to be Fully Verified to join a Circle." with ok button. Working fine

2. When a user is a basic user, if user tries to create a circle getting a popup as "You need to be Fully Verified to create a Circle and Broadcast." With Ok button. Working fine

3. When a user is a basic user, if user tri

[2020-04-03 13:05] mmazharuddin commented on #179
@RajKateshiya can you please check

[2020-04-03 13:06] mmazharuddin commented on #184
@RajKateshiya please check

[2020-04-03 13:06] Navyacheruku commented on #112
@Jaydip1801 @RajKateshiya

I have already seen the messages in circles and DM in the previous apk in the afternoon

Installed new apk now - aapoon_03_4
Time sent : 05:56 P.M

I'm receiving notifications of those previous messages which were already read/seen.

These messages were seen by me in the afternoon
Uninstalled the old build and installed the new build and logged into the same user

Receiv

[2020-04-03 13:19] Vamshi9676 commented on #249
@RajKateshiya

The colour inside the search bar has been changed to white colour. Working fine.

![Screen Shot 2020-04-03 at 6 35 12 PM](https://user-images.githubusercontent.com/43492917/78363881-2dcdbe00-75da-11ea-830d-0089d56c312f.png)

[2020-04-03 13:27] RajKateshiya commented on #203
Done

[2020-04-03 13:31] RajKateshiya commented on #179
1. If number is saved with +1 and mobile number, the user is visible in suggestions and invite people.
User should not be visible under invite people if user is registered in the platform

we are testing with api but reponse not getting
sending parameters
{
"phone_numbers": ["6465082482"]
}

receive response

{
    "data": []
}

[2020-04-03 13:34] PradeepChandramogo commented on #254
@kotimadduluri
Tested on QA
After uploading photo id and capturing selfie, do not show instructions at the back. Instead show, Facial Comparison is in progress  -- **Fixed**

If we wrong selfire

![image](https://user-images.githubusercontent.com/59409828/78360780-f1e42a00-75d4-11ea-901c-caa5effea90d.png)

[2020-04-03 13:49] Vamshi9676 commented on #265
@RajKateshiya

When user tries to join some circles, unable to join the circles. ISSUE
Circle page is getting closed and discover tab is displaying. ISSUE
Please check the below video for the reference.

https://drive.google.com/open?id=1XMKShA4ZgIb_IvPrqwxGPa2yXJ4YOhND

After join the the circle in the discover, page is redirecting to the perticulare joined circle page. Working fine

![Screen Sho

[2020-04-03 13:53] RajKateshiya commented on #265
When user tries to join some circles, unable to join the circles. ISSUE
Circle page is getting closed and discover tab is displaying. ISSUE

Circle is delete from server yesterday so deleted circles from server when trying to join then go to back is happening
If you can try with new created circle then it is working fine

[2020-04-03 13:58] shamravu commented on #238
This issue is fixed. Please verify in the latest build.

[2020-04-03 14:03] shamravu commented on #238
I can but I need someone to explain me the flow.

[2020-04-03 14:04] shamravu commented on #238
Yes, this is fixed already.

[2020-04-03 14:13] shamravu commented on #249
@Vamshi9676 Is this fine?
![device-2020-04-03-194211](https://user-images.githubusercontent.com/17175253/78369785-5dcd8f00-75e3-11ea-82ce-ce6c881b6aa5.png)

[2020-04-03 14:31] shamravu commented on #158
@Vamshi9676 Is this OK?
![search_bar](https://user-images.githubusercontent.com/17175253/78371614-d6354f80-75e5-11ea-9def-f677d99c9599.png)

[2020-04-03 15:37] PradeepChandramogo commented on #241
@kotimadduluri

Timer is present at scanner screen -- **Fixed**

Timer should present at top of the screen ,not at below

![image](https://user-images.githubusercontent.com/59409828/78378655-e867bb80-75ee-11ea-81ee-acbb94d7453e.png)

[2020-04-03 15:55] Vamshi9676 commented on #249
@shamravu

This fix is given by @RajKateshiya and it is fixed.

[2020-04-03 16:17] Navyacheruku commented on #179
@RajKateshiya

Checked For **New Direct Message** and **Add member to circle** both

1. If +1 and 001 are added before the US mobile number, the user is being shown in the suggestions - **Fixed**
2. If + and 00 are **_not_** available before 1 and the US mobile number, then the user is shown under invite people. It is not considering as the platform user. - **Need Confirmation**
3. If there is no

[2020-04-03 16:30] Vamshi9676 commented on #256
@mmazharuddin
Sir, App is not crashing when we enter otp and click on the submit button. Working fine
I have tried for 4 times to login but app is not crashing . Working fine

![Screen Shot 2020-04-03 at 10 00 24 PM](https://user-images.githubusercontent.com/43492917/78383754-8d39c700-75f6-11ea-86fb-a7cf1294d367.png)
![Screen Shot 2020-04-03 at 10 00 16 PM](https://user-images.githubusercontent.co

[2020-04-03 17:09] Sbhonagiri commented on #259
@kotimadduluri Please share the new build

[2020-04-03 17:10] Sbhonagiri commented on #251
@kotimadduluri Please check the issue

[2020-04-03 17:12] Sbhonagiri commented on #236
@shamravu Please check the issue.

[2020-04-03 17:13] Sbhonagiri commented on #232
@PradeepChandramogo Please verify in latest build

[2020-04-03 17:14] Sbhonagiri commented on #227
@kotimadduluri Please share the build

[2020-04-03 17:22] Navyacheruku commented on #203
@RajKateshiya

1. Name and Logo of the notifications in the status bar |
 Name and Logo of Aapoon are shown in the status bar | **Working Fine**

2. Name and Logo of the notifications in the message summary |
Name and Logo of Aapoon are shown in the message preview/summary | **Working Fine**

3. Name and logo of the notifications after sliding down the notifications |
 Name and Logo of Aapoon are

[2020-04-03 17:23] Navyacheruku commented on #203
## Need to test the below scenarios more

Count of messages and conversations |   | Need to Test
Maximum number of messages shown in the message summary |   | Need to Test
Receiving one notification from DM |   | Need to Test
Receiving one notification from Circle |   | Need to Test
Receiving more number of messages from one DM |   | Need to Test
Receiving more number of messages from more than on

[2020-04-03 17:39] Sbhonagiri commented on #75
@PradeepChandramogo Please verify issue in latest QA build

[2020-04-03 17:53] Sbhonagiri commented on #256
@Vamshi9676 Please change the label

[2020-04-03 17:54] Sbhonagiri commented on #254
@PradeepChandramogo Please change the label

[2020-04-03 17:55] Sbhonagiri commented on #253
@PradeepChandramogo Please verify this issue in latest build.

[2020-04-03 17:56] Sbhonagiri commented on #248
@PradeepChandramogo Please verify this issue in latest build

[2020-04-03 17:58] Sbhonagiri commented on #238
@PradeepChandramogo Please verify this issue

[2020-04-03 17:59] Sbhonagiri commented on #227
@PradeepChandramogo Please verify in the latest build.

[2020-04-03 18:00] Sbhonagiri commented on #224
@Vamshi9676 Please check by uploading the below barcode to below link and check if data is extracted:
https://online-barcode-reader.inliteresearch.com/

[2020-04-03 20:11] Skatta opened #267 "Unable to change the circle type from Private to Public"

[2020-04-03 21:14] Skatta commented on #267
I created a  circle as private and added members. The circle name is "COVID Precautions"  I wanted to change the circle type to public and I am unable to make the change.
![Cant change Circle type](https://user-images.githubusercontent.com/3252405/78405094-5e572d00-75c5-11ea-850c-d03405178fe1.PNG)

[2020-04-03 21:18] Skatta opened #268 "The App is closing upon clicking on the My Profile Button on the home page and no preview of the link posted ."
**Describe the bug**
The App is closing upon clicking on the Profile Button on the home page
![A click on My Profile is closing the App](https://user-images.githubusercontent.com/3252405/78405656-90b55a00-75c6-11ea-967d-da85f85847d5.PNG)
.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Home Page"
2. Click on ' My Profile'

**Expected behavior**
Expected to launch the profile page
**S

[2020-04-03 21:21] Skatta commented on #268
For the preview link issue, please see the  google search link to COVID precautionary measures posted in feed on the home page

[2020-04-03 21:47] Skatta opened #269 "I received several alerts in my iPhone with a title " Group Received New Group Message""
![Alerts on iPhone](https://user-images.githubusercontent.com/3252405/78406022-56988800-75c7-11ea-9e3f-60d54331baac.PNG)
![Group Received New Group Message](https://user-images.githubusercontent.com/3252405/78406027-5c8e6900-75c7-11ea-98ef-9174373311e9.PNG)

**Describe the bug**
I joined public circles by discovery and created a new private circle and assigned members. I started receiving alerts o

[2020-04-03 22:09] Skatta opened #270 "In Connections and Contacts while adding members to a circle, Load more is not positioned correctly while adding members to a circle"
**Describe the bug**
I created a new circle. I wanted to add members to the circle from connections and contacts. The load more option is not placed correctly.
2) I didn't see any of my device contacts loaded

**To Reproduce**
![Load More is not positioned correctly](https://user-images.githubusercontent.com/3252405/78408103-dfb1be00-75cb-11ea-8fc1-adfeafda42a3.PNG)

Steps to reproduce the behavio

[2020-04-03 22:26] Skatta opened #271 "Unable to see the menue in Chit-Chat unless i click on iPhone Chit-Chat alert "Received New Group Message""
![Blank Chit Chat App](https://user-images.githubusercontent.com/3252405/78409292-e42ba600-75ce-11ea-993d-53a92476dc3a.png)
**Describe the bug**
Blank Chit-Chat main screen with no display of Direct, Circles, and Discover until I click on the alert message which I found by accident. Chit-Chat doesn't load until I click on one of the alerts which is completely weird.

**To Reproduce**
Steps to repr

[2020-04-03 22:36] Skatta opened #272 "Message to super admin while trying to exit the circle need an update."
The updated message is below.
--------------
Please make a member of the circle as a super admin and then you can exit.
--------------
![Super Admin Alert](https://user-images.githubusercontent.com/3252405/78410221-5309fe80-75d1-11ea-8444-b7525e7e2bb7.PNG)

[2020-04-03 22:40] Skatta opened #273 "Why zero alerts are shown?"
The alerts should have at least one alert to show it in red. Why the alert icon is show in red with zero alerts?
![Zero Alerts](https://user-images.githubusercontent.com/3252405/78410431-e80cf780-75d1-11ea-8376-5d6492a14914.PNG)

[2020-04-04 00:09] Skatta commented on #271
I tried after an hour of reporting the issue. The Chit-Chat is not loading even after clicking the alert messages. There is an issue beyond what i reported in the initial report. Please look into it.

[2020-04-04 00:36] Skatta opened #274 "The creation of circle workflow doesn't take the user to add members screen after a circle is created."
The default screen displayed is the group with post a message screen and not add members screen. A user has to click on the group icon to launch the group info page and click on Add members to the group.  The agreed workflow is that a user first creates the group and then will be taken to the add members' screen as part of the workflow.
![Aapoon  circles](https://user-images.githubusercontent.com/

[2020-04-04 00:42] Skatta commented on #271
I get alerts but there is no display of the Chit-Chat menu.

![i get alerts but there is no display of Chit-Chat menu](https://user-images.githubusercontent.com/3252405/78414743-2d85f080-75e3-11ea-84a4-0bb5e422265b.png)

[2020-04-04 01:45] Skatta opened #275 "User is receiving a blank chat message alert when a member is added to a circle"
**Describe the bug**
The user is receiving a blank chat message alert when a member is added to a circle. There is no real chat from any member.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Create a circle.
2. Click on ' Add Member after the circle is created and you will get chat message alert  '
**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-04-04 02:05] Skatta opened #276 "The signed in user is also shown under direct members list and can send a message to self ..."
![User can send a self message](https://user-images.githubusercontent.com/3252405/78416228-22d05900-75ed-11ea-8c1c-33556cf03200.png)

[2020-04-04 02:13] Skatta opened #277 "My contacts from the device are loaded into the main app. But the same contacts are not displayed in the Chit-Chat App"
![contacts loaded in the main app but not displayed in the chat app](https://user-images.githubusercontent.com/3252405/78416648-ce7aa880-75ef-11ea-862d-f85f0b6efed4.png)

[2020-04-04 02:34] Skatta opened #278 "Mazhar/Sobhan: Please test to see that you can see if Aapoon-Public circle is displayed under Discover"
2) Check to see if COVID-Precautions circle that I created  is not appearing in the list in discovery as it is a private circle

[2020-04-04 03:54] Skatta opened #279 "Hide the Ethereaum wallet address as part of the My Account"
I informed Santosh and Mazhar to hide the ethereum wallet address which is confusing to the users.  It is still there as part of My Account. Please have it hidden ASAP.

[2020-04-04 03:56] Skatta commented on #278
I tested to see Aapoon-Public in the discovery and I found it.

[2020-04-04 03:58] Skatta commented on #278
I tested with another user account in the Android using Redmi 3  Android version 6.0.1MMB29M. It also confirms that cross-device sync is working.

[2020-04-04 04:30] Skatta opened #280 "App displays a message to invite contacts after updating the profile successfully. However no action upon clicking the Invite"
**Describe the bug**
No action happens upon clicking the " Click here to invite your contacts" button in the home page message
![Nothing happens when Invite contacts is clicked](https://user-images.githubusercontent.com/3252405/78418573-0a6b3900-7603-11ea-8ffb-75c3f386af8c.png)

**Expected behavior**
It should display the contacts synced from the device to select and invite to join Aapoon.

**Scre

[2020-04-04 04:34] Skatta opened #281 "I requested to provide option to select mulitple interests and sports months ago"
It is high time to implement the easy selection option for the users to select multiple interests and sports in one go.  Currently, only a single selection is allowed which limits the user to select maybe one or two interests or sports as it is painful and is creating friction in useability.
Test Environment : Redmi 3 Android version 6.0.1MMB29M
![My Profile - Multiple selections](https://user-ima

[2020-04-04 05:15] kotimadduluri commented on #254
@PradeepChandramogo Fixed

[2020-04-04 05:29] shamravu commented on #257
OK @mmazharuddin

[2020-04-04 05:33] Jaydip1801 commented on #203
We have not implement fcm, so if app is killed then message not received

[2020-04-04 06:48] kotimadduluri commented on #258
@PradeepChandramogo Please provide requirement that need to do

[2020-04-04 06:49] kotimadduluri commented on #251
@Sbhonagiri added

[2020-04-04 06:53] vavadiyahiren commented on #277
This is resolved with the latest version we have marked this in known bugs problem yesterday.

[2020-04-04 06:54] PradeepChandramogo commented on #258
@kotimadduluri

For this need to discuss with @mmazharuddin sir how should be it implemented.

[2020-04-04 06:55] shamravu commented on #236
@Sbhonagiri I need your support in fixing this issue. I want you to send me some notifications so that I can look into this issue.

[2020-04-04 06:55] vavadiyahiren commented on #276
Bug is resolved in latest update. Also listed in known bugs yesterday release.

[2020-04-04 06:55] RajKateshiya commented on #265
Done

[2020-04-04 06:56] vavadiyahiren commented on #275
Bug is resolved in latest update. Also listed in known bugs yesterday release.

We need to prevent the notification we will do that.

[2020-04-04 06:57] vavadiyahiren commented on #278
Didn't get the problem can you add some more details

[2020-04-04 06:58] Vamshi9676 commented on #253
@kotimadduluri

The text in the phone verification page has been replaces. Working fine

![Screen Shot 2020-04-04 at 12 25 28 PM](https://user-images.githubusercontent.com/43492917/78420749-931fbe80-766f-11ea-9af1-65448ecb8fa4.png)

## In Scanner screen text is not changed, it is still displaying as "Dollars". ISSUE

![Screen Shot 2020-04-04 at 12 25 34 PM](https://user-images.githubusercontent.co

[2020-04-04 06:59] vavadiyahiren commented on #272
We will clone all the system messages from the android.

[2020-04-04 07:01] vavadiyahiren commented on #271
Let us check with the same steps.

[2020-04-04 07:16] kotimadduluri commented on #252
@Vamshi9676 Please provide content for this issue

[2020-04-04 07:16] PradeepChandramogo commented on #248
@kotimadduluri
Tested in QA
After cropping, the user has to click both save and next -- **Fixed**
Save button is removed and after cropping image ,when clicked on next it is saving at both
 photo id upload page and sefie

![image](https://user-images.githubusercontent.com/59409828/78420974-bb102180-7671-11ea-9176-77a5e0aca688.png)

![image](https://user-images.githubusercontent.com/59409828/784209

[2020-04-04 07:23] mmazharuddin commented on #278
@Skatta I can see the COVID precautions circle in my list of circles, I think you have added me as a member. It's not appearing for me in the discover section.
![Screen Shot 2020-04-04 at 12 50 04 PM](https://user-images.githubusercontent.com/10600627/78421179-4dfd8b80-7673-11ea-8bba-838335cd8e75.png)

[2020-04-04 07:24] Vamshi9676 commented on #252
@kotimadduluri

Please check for the content, I have mentioned in the expected result also in my first comment.

Sorry, this feature is only available after you have been verified by Aapoon. We limit your access to the Aapoon community until you are verified to ensure a safe experience for our users.

[2020-04-04 07:25] mmazharuddin commented on #281
@rakeshlingam1 @kotimadduluri can you please implement the easy selection option for the users to select multiple interests and sports in one go.

[2020-04-04 07:26] PradeepChandramogo commented on #254
@kotimadduluri

Tested in QA

After uploading photo id and capturing selfie, do not show instructions at the back. Instead show, Facial Comparison is in progress -- Fixed

i should be removed after s in "comparision" -- Fixed

Instructions should not be displayed in back ground when succesful message popup comes --- Fixed

(refer screenshot2)

![image](https://user-images.githubusercontent.com/594

[2020-04-04 07:27] mmazharuddin commented on #280
@rakeshlingam1 Can you please check this issue?

[2020-04-04 07:30] shamravu commented on #229
Yes @mmazharuddin I already fixed the issue in MyProfile screen. Let me know if you want to do the same in other screens.

[2020-04-04 07:34] shamravu commented on #162
This is big change. Let me know the priority.

[2020-04-04 07:35] Sbhonagiri commented on #236
@shamravu Sure you are logged into my user right, can you please check notifications now i snet tokens from other user

[2020-04-04 07:38] PradeepChandramogo commented on #235
@shamravu
App is getting crashed when user clicked on notification which is below connection request notification after accepting request -- **Not fixed**
![image](https://user-images.githubusercontent.com/59409828/78421445-4e972180-7675-11ea-8ec1-a69ddfeb28b5.png)

[2020-04-04 07:38] mmazharuddin commented on #279
@Navyacheruku please provide the screenshot from my account to koti
@kotimadduluri Can you please hide the Ethereaum wallet address field.

[2020-04-04 07:46] kotimadduluri commented on #262
@PradeepChandramogo added

[2020-04-04 07:48] kotimadduluri commented on #261
@PradeepChandramogo Notification need to be send from server. if already sending please provide payload

[2020-04-04 07:49] mmazharuddin commented on #277
@vavadiyahiren can you please assign it for testing

[2020-04-04 07:49] kotimadduluri commented on #260
@PradeepChandramogo fixed

[2020-04-04 07:50] mmazharuddin commented on #276
@vavadiyahiren please assing it for testing

[2020-04-04 07:50] kotimadduluri commented on #239
@PradeepChandramogo completed

[2020-04-04 07:50] mmazharuddin commented on #275
@vavadiyahiren please assing it for testing once it is fixed

[2020-04-04 07:53] mmazharuddin commented on #274
@hiren: can you please check this issue.

[2020-04-04 07:56] mmazharuddin commented on #273
@rakeshlingam1 The alerts should have at least one alert to show it in red.

[2020-04-04 07:57] mmazharuddin commented on #272
@vavadiyahiren please assing it for testing once it is fixed.

[2020-04-04 08:00] kotimadduluri commented on #252
@PradeepChandramogo Changed content please confirm

[2020-04-04 08:00] mmazharuddin commented on #268
@RajKateshiya can you please check this issue

[2020-04-04 08:01] mmazharuddin commented on #267
@hiren: can you please look into this issue.

[2020-04-04 08:07] mmazharuddin commented on #252
@PradeepChandramogo please test and confirm ASAP

[2020-04-04 08:08] mmazharuddin commented on #239
@PradeepChandramogo please test and confirm ASAP

[2020-04-04 08:08] mmazharuddin commented on #260
@PradeepChandramogo please test and confirm ASAP

[2020-04-04 08:09] mmazharuddin commented on #261
@PradeepChandramogo @Sbhonagiri can you please do the needful

[2020-04-04 08:10] mmazharuddin commented on #262
@PradeepChandramogo please test and confirm ASAP

[2020-04-04 08:10] alikhan126 commented on #266
@Sbhonagiri Please update on this what we discussed during our call

[2020-04-04 08:11] mmazharuddin commented on #235
@kotimadduluri can you please check this issue

[2020-04-04 08:14] mmazharuddin commented on #236
@shamravu please let us know if you need any further help

[2020-04-04 08:15] mmazharuddin commented on #162
@shamravu please close you other pending issues first, after that, you can work on this issue.

[2020-04-04 08:16] mmazharuddin commented on #229
@PradeepChandramogo please test and confirm ASAP

[2020-04-04 08:18] mmazharuddin commented on #271
@vavadiyahiren please let me know if you want to have a call

[2020-04-04 08:19] mmazharuddin commented on #253
@Vamshi9676 please highlight the text.

[2020-04-04 08:20] mmazharuddin commented on #265
@Navyacheruku @Vamshi9676 please test and confirm

[2020-04-04 08:20] Vamshi9676 opened #282 "If user comes back to the My Account message card page with out competing ID verification after scanning the QR code, message is getting changed in the message card."
**Describe the bug**
If the user comes back to the My Account message card page without competing ID verification after scanning the QR code, the message is getting changed in the message card.

**To Reproduce**
Steps to reproduce the behavior:

1. Complete Phone verification.
2. Click on My Account button.
3. Complete scanning through a message card
4. After completion of scanning, the page is re

[2020-04-04 08:21] mmazharuddin commented on #251
@Vamshi9676 please test and confirm ASAP

[2020-04-04 08:21] Vamshi9676 commented on #253
@kotimadduluri
Please check the screen shot.

![Screen Shot 2020-04-04 at 12 25 34 PM](https://user-images.githubusercontent.com/43492917/78422218-61145980-767b-11ea-95b7-c320a4bf21a3.png)

[2020-04-04 08:33] mmazharuddin opened #283 "User can't see the terms and conditions, as the number screen is hiding the page"
**Describe the bug**
User can't see the terms and conditions, as the number screen is hiding the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the login screen'
2. Click on 'mobile number field'

3. mobile keypad is hiding the terms and condition page.

**Expected behavior**
The page should be dynamic, it should not hide the OTP field nor the terms and condition checkbox. When

[2020-04-04 08:34] mmazharuddin commented on #283
@kotimadduluri can you please check this issue

[2020-04-04 08:43] Navyacheruku commented on #164
@RajKateshiya

Please check the video reference sent in skype

Super Admin is changing to Admin |
After the circle profile picture is added/updated int he circle (both private and public circles) , the Super Admin is changing to Admin | **ISSUE**

[2020-04-04 08:56] Vamshi9676 commented on #265
@RajKateshiya

Tested In the latest build which is shared in the morning.

Able to join the new circles after clicking on the Join button on the discover page. Working fine

![Screen Shot 2020-04-04 at 2 25 33 PM](https://user-images.githubusercontent.com/43492917/78422880-3e387400-7680-11ea-921b-0d97b69d9453.png)

### Still deleted circles are displaying when we click on join for the deleted circ

[2020-04-04 09:03] Navyacheruku commented on #263
@RajKateshiya

1. Remove a member from Circle |
Member can be removed from circle by Admin or Super Admin |  **Working Fine**

2. Remove more than one member from circle at a time |
Unable to remove more than one member from the circle at a time | **ISSUE**

3. Check the system message after removing |
For Admin who removed You removed NavyaFor the member who got removedVamshi removed You | **Work

[2020-04-04 09:06] Vamshi9676 commented on #251
@kotimadduluri
When user fails scanner for 3 attempts, my Account page will display.
Partition has added in the My Account screen. Working fine

![Screen Shot 2020-04-04 at 2 35 51 PM](https://user-images.githubusercontent.com/43492917/78423098-9e7be580-7681-11ea-9b75-6508bc476876.png)

[2020-04-04 09:10] RajKateshiya commented on #265
@Sbhonagiri can you please confirm
(We have implemented it when we are working on "Deleted circles are created again")

We have't solve this issue
*Still deleted circles are displaying*
This is getting from api (is circle is deleted from server then is is still getting in api)

*when we click on join for the deleted circle page is redirecting to discover page with a message "you have successfully

[2020-04-04 09:27] Sbhonagiri commented on #266
@anushayedl Auto save is implemented at selfie, so even without saving and going back to home ID was verified.

[2020-04-04 09:28] Sbhonagiri commented on #282
@Vamshi9676 Please check now in QA build

[2020-04-04 09:36] Sbhonagiri commented on #261
@kotimadduluri Need to add response when a user accepts the connection, @alikhan126 Please add the response message on accepting Connection

[2020-04-04 10:13] RajKateshiya commented on #265
@Vamshi9676 Please check now, all circles are deleted from server, uninstall and reinstall build and try with new created circle

[2020-04-04 10:16] Sbhonagiri commented on #265
@RajKateshiya It's not an issue from API, I have cleared the Circles earlier also both from Webserver and XMPP and now also I have cleared from XMPP and webserver.

Still few muc rooms were existing at XMPP might be cache is creating
![Screen Shot 2020-04-04 at 3 33 18 PM](https://user-images.githubusercontent.com/17709729/78424473-78f3d980-768b-11ea-88ab-81e368d46437.png)
![Screen Shot 2020-04-04

[2020-04-04 10:17] Sbhonagiri commented on #265
@Vamshi9676 Please check by doing what Raj has suggested.

[2020-04-04 10:21] Vamshi9676 commented on #265
@RajKateshiya

Only one circle is displaying in the discover options. Working fine
After clicking on the join button discover tab, the user is getting join in the circle. Working fine

![Screen Shot 2020-04-04 at 3 49 17 PM](https://user-images.githubusercontent.com/43492917/78424533-e9025f80-768b-11ea-8c3b-72f71b384b98.png)
![Screen Shot 2020-04-04 at 3 49 24 PM](https://user-images.githubusercon

[2020-04-04 10:46] Vamshi9676 commented on #141
@RajKateshiya

Tested in the latest build.

Post a message in the Circle or Dm, click on 3 dots of the message. Close the keyboard and check for the list. The list is staying in the middle of the screen. ISSUE

![Screen Shot 2020-04-04 at 4 06 22 PM](https://user-images.githubusercontent.com/43492917/78425069-ac386780-768f-11ea-8e7e-10cdd4de0770.png)
![Screen Shot 2020-04-04 at 4 06 29 PM](https:/

[2020-04-04 10:51] Jaydip1801 commented on #141
Can you please send a video ref. then i will know

[2020-04-04 10:58] Vamshi9676 commented on #265
@RajKateshiya

Only one circle is displaying in the discover options. Working fine
After clicking on the join button discover tab, the user is getting join in the circle. Working fine
The page is not loading when we navigate to the Discover tab. Working fine

![Screen Shot 2020-04-04 at 3 49 17 PM](https://user-images.githubusercontent.com/43492917/78424533-e9025f80-768b-11ea-8c3b-72f71b384b98.png

[2020-04-04 11:10] PradeepChandramogo commented on #105
@alikhan126 @Sbhonagiri @kotimadduluri

Tested in QA

In api, it is showing only one post -- **Working fine**

But in uI , double posts are appearing -- **Issue**

Duplicate posts should not be shown -- **Not fixed**

(when user registered newly , and posted anything, in another users timeline it is posting two times,
until that user2 posting somethng.If user2 post anything , then all double posts

[2020-04-04 11:32] mmazharuddin opened #284 "App is getting crashed while searching the public cricle"
**Describe the bug**
App is getting crashed while searching the public circle

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Chit-Chat'
2. Click on 'Discover'
3. Click on the Search button
4. App gets crashed

**Expected behavior**
User should be able to search the public circle

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]

[2020-04-04 11:33] mmazharuddin commented on #284
@hiren: I have shared the video via skype to you

[2020-04-04 11:43] mmazharuddin opened #285 "Super Admin is not able to assign the admin role to a circle member"
**Describe the bug**
Super Admin is not able to assign the admin role to a circle member

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Chit-Chat.'
2. Click on 'Create Public Circle'
3. Add a few members
4. Try to assign admin role to a member
5. Error Popup "Sorry we are facing issue currently..."

**Expected behavior**
Super admin should be able to assign admin role to a circle mem

[2020-04-04 11:44] mmazharuddin commented on #285
@Hiren @Sbhonagiri: Please check this issue

[2020-04-04 11:51] Sbhonagiri commented on #285
@Hiren @ptvyas Please share the payload you are sending for adding members

[2020-04-04 11:51] PradeepChandramogo commented on #250
@kotimadduluri

Tested in QA
Badges icon has to be changed in side menu --- Fixed

![image](https://user-images.githubusercontent.com/59409828/78449950-9e3b1480-7698-11ea-92ee-a39970932be2.png)

[2020-04-04 11:52] vavadiyahiren commented on #285
It will resolved in today's build

[2020-04-04 11:55] mmazharuddin opened #286 "Picture/Images are not loading in the message screen of the iPhone"
**Describe the bug**
Images are not loading in the message screen of the iPhone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Chit-Chat'
2. Click on 'Public Circle i.e. CORONA precautions.'
3. Picture/Images shared by the members of the circles are not visible

**Expected behavior**
Picture/Image should be visible to the users.
If we check the same circle 'CORONA precautions' in the

[2020-04-04 12:02] PradeepChandramogo commented on #241
@kotimadduluri
Tested in QA

Timer is present at scanner screen -- **Fixed**(For all 30sec,15 sec,15 sec )

Timer should present at top of the screen ,not at below -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78450129-fcb4c280-7699-11ea-8394-2153ba51d6a7.png)

[2020-04-04 12:07] PradeepChandramogo commented on #247
@kotimadduluri
Tested in QA

In 3rd flow max attempt message change for 3rd flow,"Please provide the details as in the Aadhaar card manually" in place of please provide details manually as per adhar -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78450241-e52a0980-769a-11ea-9bb5-ce6bfafc70cf.png)

[2020-04-04 12:13] alikhan126 commented on #266
@anushayedl @Sbhonagiri I tested the scenario which @anushayedl said that Even if id and selfie is not matched then kyc is getting verified.
It's working fine for me I got the error when I used selfie of some random person and used my id for verification.

[2020-04-04 12:14] Vamshi9676 commented on #149
1. After joining the circle, through invite like, the user is shown in the member's list - Fixed
2. The color of the online icon is changed - Fixed
3. The icon is going inside the picture. - Fixed
4. Both the users are not online they have killed the app from the recent apps. ISSUE
5. Under Circle info, self user’s name is displayed instead of showing You - Fixed
6. Unless until we refresh the pag

[2020-04-04 12:17] RajKateshiya commented on #219
Done

[2020-04-04 12:17] PradeepChandramogo commented on #99
For

![image](https://user-images.githubusercontent.com/59409828/78450459-528a6a00-769c-11ea-81f1-4e951225b9a7.png)

[2020-04-04 12:17] RajKateshiya commented on #149
Done

[2020-04-04 12:17] RajKateshiya commented on #204
Test with latest build

[2020-04-04 12:18] RajKateshiya commented on #164
Done

[2020-04-04 12:19] mmazharuddin commented on #149
@Vamshi9676 @Navyacheruku please test and confirm ASAP

[2020-04-04 12:20] mmazharuddin commented on #204
@Navyacheruku @anushayedl Please test and confirm

[2020-04-04 12:21] mmazharuddin commented on #219
@Navyacheruku @anushayedl Please test and confirm

[2020-04-04 12:21] anushayedl opened #287 ""You have one more attempt left to Scan QR Code" message should be replaced with "You have one more attempt to Scan QR Code""
**Describe the bug**
"You have one more attempt left to Scan QR Code"  message should be replaced with "You have one more attempt to Scan QR Code"

**To Reproduce**
Steps to reproduce the behavior:
1. Fail the 1st attempt of scan
2. will get the message as "You have one more attempt left to Scan QR Code"

**Expected behavior**
"You have one more attempt left to Scan QR Code"  message should be rep

[2020-04-04 12:34] Vamshi9676 commented on #200
@Sbhonagiri
While adding members in the Circles getting an error message as "User matching query does not exist" ISSUE

![Screen Shot 2020-04-04 at 6 02 05 PM](https://user-images.githubusercontent.com/43492917/78450739-6afb8400-769e-11ea-8991-6d8b8173d5d6.png)

[2020-04-04 12:51] Vamshi9676 commented on #184
@RajKateshiya

1. Cherku Navya Sree has join the circle but the system message is not displaying for the super admin. Fixed
2. Cherku Navya Sree added Anusha but the system message is not displaying to the super admin. Fixed.
3. When super admin add the members to the circle system message is displaying as "You Jagadeesh viswanadhapalli". Working fine
4. When super admin add the members to the cir

[2020-04-04 12:59] mmazharuddin commented on #107
This is fixed, both the options are visible i.e. Private and Public

[2020-04-04 13:01] anushayedl opened #288 "Without completion of Name and selfie, able to join circles"
**Describe the bug**

1. After completion of Chit-chat, able to click on chit chat from the side menu,
2. After getting into Chit-chat while clicking on Discover and clicked on join option, that circle is showing in circles.
3. While clicking on that circle, able to get into the circle and able to chit chat in group.
4. In info page, a user is showing as empty, not showing the name.

**To Reproduc

[2020-04-04 13:06] mmazharuddin commented on #115
@ptvyas

While clicking on delete option, the message should be deleted in direct chat -- Not Fixed
When clicked on delete option in the circle for everyone, it should be deleted in the circle --- Not Fixed
When clicked on delete option in the circle for me, it is deleting in his account --Not Fixed

When we click on 3 dots options and select the delete button, it's just selecting the message but

[2020-04-04 13:09] mmazharuddin commented on #85
Now Circle Name Edit is working fine.

While trying to edit the Circle name, after editing circle name old name is displaying - Fixed

[2020-04-04 13:12] Navyacheruku commented on #164
1. Super Admin is changing to Admin |
After the circle's profile picture is added/updated by super admin in the circle (both private and public circles), the Super Admin is changing to Admin | **Fixed**

2. After super admin makes other members as a super admin, a system message is displayed as
'Priyanka is now **an super** admin'.
It should be **_Priyanka is now a Super admin_** --- **_Need to Fi

[2020-04-04 13:14] mmazharuddin commented on #76
Circle which is created in the Android, Circle name is not displaying in IOS- Issue fixed

[2020-04-04 13:16] mmazharuddin commented on #117
@vavadiyahiren It's not working, even the picture you have shared with me in the circle, it's appearing like video and it's never loaded on the device. Hence not able to see the picture/Images.

[2020-04-04 13:28] Navyacheruku commented on #263
@RajKateshiya

**Steps**:

1. Admin has removed me (Priyanka Setty) and Vamshi from the circle
2. I have joined circle again from Discover tab using Join button
3. Vamshi has joined using invite link again
4. Admin has removed me again.
5. I did not have text area to type. It showed You're no longer a participant.
6. Vamshi has pinged in the group
7. Then I got Vamshi's message and text box to typ

[2020-04-04 13:56] PradeepChandramogo commented on #257
@shamravu
Tested in QA
Mobile : Lenovo k6 power (size 5.0 inch screen)

Check for the alignment of the country code in the Registration page. --- **NOt fixed**

![image](https://user-images.githubusercontent.com/59409828/78452652-0cd49e00-76aa-11ea-8691-58cda9586c3e.png)

[2020-04-04 13:57] Vamshi9676 commented on #204
@RajKateshiya

When we remove the member from the circle, in the system message number is not displaying. Working fine
I have added 2 new members in the circle in the system message number is not displaying. Working fine
Removed newly added member in the circle, in the system message mobile number is not displaying in the system message. Working fine

![Screen Shot 2020-04-04 at 7 26 34 PM](https:

[2020-04-04 14:04] PradeepChandramogo commented on #260
@kotimadduluri
Tested in QA

After selecting topic , cursor should visible and be placed in feedback text block default -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78452819-3e9a3480-76ab-11ea-8e80-a8d7fe65c2e0.png)

[2020-04-04 14:09] PradeepChandramogo commented on #252
@kotimadduluri

Tested in QA
Sorry, this feature is only available after you have been verified by Aapoon. We limit your access to the Aapoon community until you are verified to ensure a safe experience for our users. -- Working fine

![image](https://user-images.githubusercontent.com/59409828/78452908-e9125780-76ab-11ea-8a1f-bf97758955be.png)

[2020-04-04 14:21] PradeepChandramogo commented on #254
basic signup flow means,name,last name, selfie scenario, after upoading selfie and saving ,facial comparison screen is not required , as we are not comparing it with any other -- **Fixed**
("Basic verification process is in progress " is displaying)

![image](https://user-images.githubusercontent.com/59409828/78453128-6b4f4b80-76ad-11ea-9971-dc3d49f04eb1.png)

[2020-04-04 14:23] PradeepChandramogo commented on #279
Ehterum wallet is hiden in my account page in basic verification signup process -- **Fixed**

[2020-04-04 14:26] Navyacheruku opened #289 "Receiving the messages even though the user is logged out of the device"
**Describe the bug**

Receiving the messages even though the user is logged out of the device. Until the app is killed from recent items, notifications are received

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Chit- Chat.
2. Chat with users in DM or circle
3. Logout of the account
4. Ask other users to message you

**Actual Result**

Able to receive messages even though I have logge

[2020-04-04 14:29] PradeepChandramogo commented on #227
@kotimadduluri

Tested in QA 2020/04/04  build

Comma should not be there from side menu until user gives state name in registration process -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/78453310-7656ab80-76ae-11ea-969c-9f416641ab8f.png)

[2020-04-04 14:33] anushayedl commented on #114
@vavadiyahiren App version 2.0 build10.0

1. Register to appoon app
2. before registering in tha app, don't save the contact number in device
3. after completion of registration, create the circle
4. Create the circkle with name only
5. after creating the circle, go to the info page
6. See below the members, showing the duplicate admins

![image](https://user-images.githubusercontent.com/39667299/

[2020-04-04 14:40] PradeepChandramogo commented on #239
@kotimadduluri

Alignment of the text should display properly. -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78453569-3a244a80-76b0-11ea-9ad0-ed76b12dc1d6.png)

[2020-04-04 14:43] PradeepChandramogo commented on #259
![image](https://user-images.githubusercontent.com/59409828/78453642-ad2dc100-76b0-11ea-8a51-f8cf7441ed6d.png)

[2020-04-04 14:44] anushayedl commented on #120
@ptvyas : App Version 2.0 build 10.0

While clicking on like and try to click on dislike button, dislike button is not clickable- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78453670-d64e5180-76b0-11ea-92e8-ea4a4f3c5459.png)
![image](https://user-images.githubusercontent.com/39667299/78453675-e2d2aa00-76b0-11ea-9c9d-4a71bf62f1b4.png)

[2020-04-04 15:00] PradeepChandramogo opened #290 "App is getting crashed when we clicked on submit button in feedback"
## Description

App is getting crashed when we clicked on submit button in feedback

## Steps to reproduce
1.Go to feedback from side menu
2.Click on submit in feedback

## Actual result
1.App is getting crashed when clicked on submit

## Screenshot for actual result

![image](https://user-images.githubusercontent.com/59409828/78454035-20383700-76b3-11ea-9491-a632e8132774.png)

[2020-04-04 15:12] RajKateshiya commented on #164
Done

[2020-04-04 15:26] Vamshi9676 commented on #219
1. When the user is logged out if the user clicks on the invitation link of the circle, getting a popup as open in-app or browser. Working fine
After doing the login circle page is displaying and a popup is displaying that to join the circle. Working fine

2. When user is logged to the app, if the user clicks on the invitation link of the circle, getting a popup as open in-app or browser. Working

[2020-04-04 15:48] mmazharuddin commented on #288
@rakeshlingam1 can you please look into this issue

[2020-04-04 15:53] PradeepChandramogo opened #291 "Message should b popup in guest mode when clikced on camera in both new ui and in post model"
## Description
Message should b popup in guest mode when clikced on camera in both new ui and in post model

## Steps to reproduce
1.Before basic verifiaction click on camera icon in new ui at header and at post model

## Expected result

Message in below screenshot should displayed

![image](https://user-images.githubusercontent.com/59409828/78452908-e9125780-76ab-11ea-8a1f-bf97758955be.png)

##

[2020-04-04 17:07] Navyacheruku opened #292 "''Query doesn't exist'' error message when circle or user are not available"
## Description

1. **_Group matching query does not exist_** is being displayed when trying to add existing members to the non existing circle
2. **_User matching query does not exist_** is being displayed when tried to add nonexisting user (deleted from admin) in to the existing circle

![image](https://user-images.githubusercontent.com/39667234/78456948-85e0ef00-76c4-11ea-868a-4ea2ade8c4cb.png)

[2020-04-04 17:13] Navyacheruku commented on #164
@RajKateshiya : Please send the latest build

[2020-04-04 17:28] PradeepChandramogo opened #293 "Headers colour in back ground should be white and text should be in white for my account,my profile and at privacy settings"
## Description
Headers colour in back ground should be white and text should be in white for my account,my profile and at privacy settings

## Steps to reproduce
Check for header and text in header in my account, my profile,privacy settings  screens from side menu

## Actual result
1 ,Headers colour is in blue and text is in white colour

## Expected result
1.Headers colour should be in white and

[2020-04-04 17:35] Navyacheruku commented on #203
@RajKateshiya @Jaydip1801

1. Notifications when the app is killed (Not running in recent items) |
Messages are not received when the app is killed. App is ot in the use in recent items | **ISSUE**

2. Notifications when logged out of the user account but app present in recent items |
Able to receive notifications even after logging out and when the app is running in the recent items | **ISSUE**

[2020-04-04 17:37] Navyacheruku commented on #203
![image](https://user-images.githubusercontent.com/39667234/78457567-cb9fb680-76c8-11ea-85fc-6e8cd36ccd79.png)
![image](https://user-images.githubusercontent.com/39667234/78457569-cfcbd400-76c8-11ea-9790-026565d5bf2e.png)
![image](https://user-images.githubusercontent.com/39667234/78457574-d35f5b00-76c8-11ea-9aa3-42f1b7731fd8.png)
![image](https://user-images.githubusercontent.com/39667234/7845757

[2020-04-04 18:22] PradeepChandramogo commented on #244
@kotimadduluri

Tested in QA
Scanner time for first attempt is 30 sec, for 2nd attempt is 15 sec and for 3rd attempt is 15 sec
--Fixed

[2020-04-04 18:40] PradeepChandramogo commented on #232
@kotimadduluri
Tested in QA
Grey shade is filled for id verify icon fully -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/78458802-cc891600-76d1-11ea-9fe7-c7a7a0ff2ae0.png)

[2020-04-04 19:12] PradeepChandramogo commented on #243
@Sbhonagiri
Tested in QA
My profile message card should be change(need to inform about the SONA coins) in third flow -- Fixed

Congratulation has to be replaced with "Congratulations!" -- Fixed

After progress text in message card there is no need for "!". keep fullstop instead -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78459390-3a374100-76d6-11ea-8a2b-af4d0ec57968.png)

[2020-04-04 19:19] PradeepChandramogo commented on #264
@kotimadduluri
Tested in QA
SONA Coin text should be there(For india,us,canada and rest of the world) -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78459479-dcefbf80-76d6-11ea-99ad-b5070c68d24e.png)
![image](https://user-images.githubusercontent.com/59409828/78348724-239ec600-75c0-11ea-9489-38ec248e7f44.png)

[2020-04-04 19:24] PradeepChandramogo commented on #75
@kotimadduluri
Tested in QA build
It should be easy to click on three dots -- **Fixed**
when clicked on just above or beside dots user profile is getting opened -- **Fixed**
But when clicking on 3 dots multiple times app is getting crashed after clicking 5,6 times --**Issue**

[2020-04-04 19:36] PradeepChandramogo commented on #262
@kotimadduluri
Tested in QA

.Message should display "No connectiosn found" if there are no connections with that name -- **Fixed**
If there are conections with name , it is showing results --- Working fine

![image](https://user-images.githubusercontent.com/59409828/78459823-761fd580-76d9-11ea-9b27-f5d792af78f1.png)

[2020-04-04 19:41] PradeepChandramogo commented on #238
@shamravu
Tested in QA
Invite contacts page should display -- **Not fixed**
Instead home page is opened

![image](https://user-images.githubusercontent.com/59409828/78459926-5341f100-76da-11ea-9729-bfa3c03053d4.png)

[2020-04-04 19:55] PradeepChandramogo commented on #282
@Sbhonagiri
Tested in QA
Getting message "Congratulations! You have updated your account information and now verify your Id  or take a selfie" --  working fine

![image](https://user-images.githubusercontent.com/59409828/78460108-c730c900-76db-11ea-9c17-6b2c76159eb7.png)

[2020-04-05 01:52] Skatta opened #294 "No Hamburger menu in contact list page when a user clicks on Invite Your Contacts from the main menu message"
**Describe the bug**
I clicked on Invite Your Contacts and the contacts list is displayed. It has no hamburger menu in the top left corner and the user is left hanging in there.  Secondly, I selected contacts to invite and I have no options to execute the next steps

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Home Page'
2. Click on ' Invite Your Contacts'

**Expected behavior**
U

[2020-04-05 02:03] Skatta opened #295 "A member who is not a super admin of a circle was able to delete the circles"
**Describe the bug**
I created Aapoon-Public and  Covid- Precautions circles and made Umesh Khanna as a member and he was able to delete both the circles without having admin rights...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Circles '
2. Long Press on a  "Circle" and  select " delete circle" in the  menu and you can delete a circle

**Expected behavior**
No one except Super A

[2020-04-05 02:11] Skatta opened #296 "A member of a group who is not an admin or super admin is able to update the Group name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Circles .'
2. Click on the circle in which you are a member and the circle info page is displayed.
3. Click on the pen icon to change the circle name.
4. The Circle name is changed

**Expected behavior**
No member of circle except the Super Admin or admin  should b

[2020-04-05 02:17] Skatta commented on #296
I as a member of Saturday Team Circle was able to update the circle profile picture.

[2020-04-05 02:23] Skatta opened #297 "I created a private circle called "private circle" Please test to see if the invite link is visible to the member"
Navya, Mazhar, and Santosh: I added you three as members of the private circle. Please check to see if the Circle invite link is visible to you.
Please report it as a bug if the link is visible to you.
Go to circles and click on the private circle. The circle info page will be displayed.  Do you see the invite link?

;

[2020-04-05 02:28] Skatta opened #298 "Unable to post a caption for a photo that is shared in a circle"
I was able to post a picture from the gallery and camera in a circle. However I am not able to post a caption  for the image.

[2020-04-05 03:22] Skatta opened #299 "The workflow of Invition link to a User of Aapoon to join a cirlce is not working."
**Describe the bug**
Umesh Khanna has sent an invitation to link to join a circle
![Invitation to join a circle](https://user-images.githubusercontent.com/3252405/78465869-92fbdf00-76c0-11ea-98f3-445c9ca865d2.png)

I was already logged into Aapoon App in iPhone Pro Max.
I clicked on the join link. It was supposed to open up the circle in the Aapoon App as I am already logged in. It didn't.
I was t

[2020-04-05 03:23] Skatta commented on #299
BTW, Please see the Fresh chat support is overlapping the next .

[2020-04-05 03:33] Skatta opened #300 "What Happens to the contacts when a user decide to login to Aapoon App from a different phone than the phone that is origianlly used"
I used my 408-507-5071 number to sign up for Aapoon App using iPhone 11 ProMax.
After a day of testing on the iPhone. My 6000 plus contacts from iPhone synced to the App I logged into Aapoon App on Android Redmi3 phone using the login credentials of 408-507-5071. The App on the home page gave me a message to invite my contacts to join. I clicked on it.  The process goes and no message is displayed

[2020-04-05 03:35] Skatta opened #301 "Android -The three dots in the circle menu are not sensitive enough and user has to click two to three times to open up the menu"
![three dots are less sensitive in the Chit Chat menu](https://user-images.githubusercontent.com/3252405/78466237-7f527780-76c4-11ea-9299-4cda78702c9c.png)

[2020-04-05 03:53] shamravu commented on #155
@Vamshi9676 Do you mean the font size of all the text should be increased in the Navigation menu?

[2020-04-05 06:35] mmazharuddin commented on #299
@Navyacheruku @anushayedl @Vamshi9676  Please check why the deeplink is not working

[2020-04-05 07:07] Vamshi9676 commented on #257
@shamravu

In Mi A3 country code alignment is proper after selecting 3 digit country code. Working fine

![Screen Shot 2020-04-05 at 12 34 35 PM](https://user-images.githubusercontent.com/43492917/78468963-245b6780-773a-11ea-9e0b-2c848afa7161.png)

[2020-04-05 07:26] mmazharuddin commented on #257
@shamravu can you please fix this issue

[2020-04-05 07:30] mmazharuddin commented on #155
@Vamshi9676 you are showing the old screen, this does not include the new SONA coin.
Please don't confuse.

[2020-04-05 08:15] RajKateshiya commented on #149
Done get online members automatically (added 45 seconds timer for get online members from api)

[2020-04-05 08:17] RajKateshiya commented on #289
Done test with latest build

[2020-04-05 08:18] RajKateshiya commented on #263
Done test with latest build

[2020-04-05 08:20] RajKateshiya commented on #164
# Admin is able to remove other Admin from Admin position - done
# But members are able to edit the circle privacy from private to public and public to private - done

[2020-04-05 08:28] mmazharuddin commented on #296
@RajKateshiya can you plase look into this issue

[2020-04-05 08:34] PradeepChandramogo opened #302 "Invite friends should present in side menu and removed in privacy settings"
## Description
Invite friends should present in side menu and removed in privacy settings

## Steps to reproduce
1. After log in check for invite friends section

## Actual result
1.It is present in privacy settings screen

## Expected result
1.It should present in side menu  below invite contacts and should be removed from privacy
  settings

## Screenshot for actual result

![image](https://user

[2020-04-05 09:21] Navyacheruku opened #303 "App crash- When clicked on back arrow from the individual user profile in DM"
## Description

App is getting crashed, when back arrow is clicked from individual user profile

## Device

Samsung Monster 30S
Android Version - 10

## Steps to Reproduce

1. Login and go to Chit-Chat
2. In Direct tab, open a user's chat
3. Click on the user name or photo in the header and go to user's profile
4. Click on back arrow

## Actual Result

App is getting crashed

## Expected Behaviour

[2020-04-05 09:41] Vamshi9676 commented on #298
@mmazharuddin Sir,

In Android, we are able to post images with a caption in the circles (From the gallery and Camera).
We have tested in 2 different devices.

![Screen Shot 2020-04-05 at 3 10 03 PM](https://user-images.githubusercontent.com/43492917/78471534-a1dda280-774f-11ea-90e5-1d5727d00a44.png)
![Screen Shot 2020-04-05 at 3 10 09 PM](https://user-images.githubusercontent.com/43492917/7847153

[2020-04-05 10:21] anushayedl commented on #298
Tested in Iphone SE

App version 2.0, build 10.0
Able to post the image in group- fixed
But while posting the image, the caption is not present to enter a text with image- Not fixed
[Caption is not present.zip](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4433342/Caption.is.not.present.zip)

[2020-04-05 10:32] anushayedl commented on #297
Tested in IOS

To send the invitation to other members, an invitation link is not present to send -Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78472481-c1c49480-7756-11ea-9c12-180aedf57a27.png)

[2020-04-05 11:48] Vamshi9676 opened #304 "Same notifications are receiving again and again unless we open and read the messages."
**Describe the bug**
The same notifications are receiving again and again unless we open and read the messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account in one device.
2. Send some messages from the circle and Dm.
3. In another device login to another account which messages are going to receive.
4. Check the notifications.
5. The same notifications are receiving a

[2020-04-05 11:51] mmazharuddin commented on #297
@Skatta I am don't see the Invite Link option in iPhone
![Screen Shot 2020-04-05 at 5 20 43 PM](https://user-images.githubusercontent.com/10600627/78475898-ea05c080-7761-11ea-9e24-88e626ca4d68.png)

[2020-04-05 11:53] mmazharuddin commented on #301
@RajKateshiya The three dots in the circle menu are not sensitive enough and the user has to click two to three times to open up the menu

[2020-04-05 11:59] mmazharuddin commented on #300
@Sbhonagiri can you please check the logs and let us know your analysis

[2020-04-05 12:01] anushayedl commented on #288
@rakeshlingam1 Tested in QA build
App version 2.0 build 10.0

After completion of phon verification, able to click on Chit-Chat from side menu and from top also- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78479740-f63e4d80-7762-11ea-83d1-7b3953204e56.png)
![image](https://user-images.githubusercontent.com/39667299/78479947-03f3d300-7763-11ea-9433-6c0a4f400cd4.png)
![ima

[2020-04-05 12:02] mmazharuddin commented on #299
@Skatta Deeplinking is in the development stage, not yet released for testing.

[2020-04-05 12:07] mmazharuddin commented on #295
@RajKateshiya can you please look into this issue

[2020-04-05 12:10] Navyacheruku commented on #297
@RajKateshiya

I'm a member of Private circle

I'm able to see the invite link for private circle in the circle info

Could you please check into this.

![image](https://user-images.githubusercontent.com/39667234/78484784-5da8cd00-7764-11ea-9fdb-1c774aba1a23.png)

[2020-04-05 12:18] anushayedl opened #305 "Country US- If the scanning got failed, for the 1st attempt showing the message as "You have two more attempt left to scan Bar code""
**Describe the bug**
Country US- If the scanning got failed, for the 1st attempt showing the message as "You have two more attempt left to scan Bar code"

**To Reproduce**
Steps to reproduce the behavior:
1. Complet the phone verification
2. Click on My Account form message card
3. try to scan the driver's License
4. If the Driver's License is not getting scanned then need to show the message

**S

[2020-04-05 12:20] Vamshi9676 commented on #299
Sir,

 In Android,

#### Whatsapp

1. When a user clicks on the Circle invitation link in Whats app, it is asking us to continue in the App or browser. Deeplinking is happening, after logging in page is redirecting to Circle page by giving an option to join the circle. Working fine

**Video Reference**

https://drive.google.com/file/d/1KiAcpyzVlx31zOfPjShevB2bLjqeDJcF/view?usp=drivesdk

#### Text

[2020-04-05 12:29] anushayedl commented on #305
@hisobhan @mmazharuddin Sir 1. For Country US, for the 1st attempt  not showing 2 options of  "Yes" or "No", Need to show the options or not?- Need Confirmation
2. While clicking on ok button of last attempt, apge is not redirecting to Manual entry page- *ISSUE*
3. SCAN YOUR DIRVER'S LICENSE Button is not clickable- partilly Fixed( need to show as disable form UI side)
4. While clicking on My Acco

[2020-04-05 12:37] PradeepChandramogo opened #306 "For US And Canada countries,"IS Driving license lamintaed"popup is not required"
## Description
For US And Canada countries,"IS Driving  license  laminted"popup is not required

[2020-04-05 12:54] mmazharuddin commented on #294
@Skatta Sir, the hamburger menu is showing up in my iPhone

![Screen Shot 2020-04-05 at 6 24 01 PM](https://user-images.githubusercontent.com/10600627/78498859-ab283880-776a-11ea-845d-ad684c67c9f2.png)

[2020-04-05 12:59] anushayedl commented on #268
@rakeshlingam1 Tested in QA build

App version 2.0 build 10.0

Whlie cliking on My Profile, the page is redirecting to My profile - Fixed
Whiile clicking on My Profile from side menu, page is redirecting to My profile- Fixed
Able to save the details in My profile page- Fixed
After saving the details in My profile, page is redirecting to home page - Fixed
After page is redirctig to home, showing th

[2020-04-05 13:04] shamravu commented on #257
@mmazharuddin I fixed this but I cannot verify as I do not have Mobile : Lenovo k6 power (size 5.0 inch screen). I will share the build today EOD.

[2020-04-05 13:04] mmazharuddin commented on #271
@vavadiyahiren Unable to see the Chit-Chat menu unless i click on iPhone Chit-Chat alert "Received New Group Message" - Fixed

[2020-04-05 13:09] mmazharuddin commented on #277
@vavadiyahiren My contacts from the device are loaded into the main app. But the same contacts are not displayed in the Chit-Chat App - Fixed

@Skatta I can see all my contacts at both places i.e. Main App and Chit-Chat

[2020-04-05 13:11] mmazharuddin commented on #272
@vavadiyahiren Please make a member of the circle as a super admin and then you can exit. -Fixed

[2020-04-05 13:13] mmazharuddin commented on #267
@ptvyas Unable to change the circle type from Private to Public - Failed

[2020-04-05 13:14] mmazharuddin commented on #269
@ptvyas We shouldn't use a group except for Circles. Every alert should have a meaningful message to the user. - Fixed

[2020-04-05 13:16] mmazharuddin commented on #270
In Connections and Contacts while adding members to a circle, Load more is not positioned correctly to load more members - Failed

[2020-04-05 13:17] mmazharuddin commented on #275
User is receiving a blank chat message alert when a member is added to a circle - Fixed

[2020-04-05 13:18] mmazharuddin commented on #278
Mazhar/Sobhan: Please test to see that you can see if Aapoon-Public circle is displayed under Discover - Fixed

[2020-04-05 13:20] PradeepChandramogo commented on #306
@kotimadduluri
Tested in QA
popup should not displayed After time up for 30 sec showing popup "Is your driving license
laminted?" -- **Working fine**
Just has to show popup ''You have two more attempts left to scan your bar code" shpould be
displayed -- **Working fine**

For india , it is asking for laminted popup -- **Working fine**

[2020-04-05 13:25] anushayedl opened #307 "After creation of circle, blank super admin is showing in info page"
**Describe the bug**
After the creation of circle, blank super admin is showing in info page

**To Reproduce**
Steps to reproduce the behavior:
1. Completion the registration with country US
2. before completing the registration, don't save the phone number in device
3. AFter completion of Phone verification, My Account, My Profile
4. Create the circle
5. After creation of circle, go to the info p

[2020-04-05 14:04] PradeepChandramogo opened #308 "When email format given is wrong 'Temporary error' message is being displayed instead of displaying relevant message"
## Description

When email format given is wrong 'Temporary error' message is being displayed instead of displaying relevant message.

## Steps to reproduce

1.  Go to My Account screen
2,  Enter mandatory fields and enter invalid email address
3 .  Click on Save

## Actual Result
"Account details updated succesfully "is displaying

## Expected Result
'Invalid Email Address' should be displayed

#

[2020-04-05 14:07] rakeshlingam1 commented on #305
@anushayedl I am not able to replicate this issue.
2. While clicking on ok button of last attempt, apge is not redirecting to Manual entry page- ISSUE

[2020-04-05 14:50] PradeepChandramogo commented on #257
@shamravu
Tested in QA in Lenovo k6 power(Size 5.0 inch screen)

Check for the alignment of the country code ( three digits) in the Registration page.  -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78501760-d024a780-777a-11ea-9ced-81d42dba72a8.png)

[2020-04-05 14:51] PradeepChandramogo commented on #257
@hisobhan Please check in your device and assign the proper label

[2020-04-05 15:02] PradeepChandramogo opened #309 "Bar code Scanner is not lasts for scanning in their respective time intervals completly in Samsung Galaxy mobiles"
## Description
Bar code Scanner is not lasts for scanning in their respective time intervals completly  in Samsung Galaxy mobiles

## Steps to reproduce
1.Check US driving scanning in Samsung Galaxy mobiles

## Actual result
1.Not scanning for complete scan duration
2.With in 2-3 seconds after scanning , it is showing the popup for attempts in  scan failed scenario

## Expected result
1.Should sca

[2020-04-05 15:27] Vamshi9676 commented on #289
@RajKateshiya

1. Messages after logging out |
 When users receive messages after log out from other users, notifications are not receiving. Working fine
2. Message after logging out of the account and before logging in without killing the app |
 After logging in the app, receiving the notifications for already read/seen messages. **ISSUE**

3. Messages after logging out and logging in again by ki

[2020-04-05 15:57] Vamshi9676 opened #310 "When only one member is present in the circle Delete should present instead of Exit, in the Circle info Screen"
**Describe the bug**
When only one member is present in the circle Delete should present instead of Exit, in the Circle info Screen

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account
2. Click on Chit Chat
3. Click on the circle
4. Remove all members in the circle.
Check the for the Delete button for the circle.

**Expected behavior**
Delete button should present when only o

[2020-04-05 16:08] Navyacheruku commented on #164
@RajKateshiya

**Admin to Admin Rights:**

1. Admin is not able to remove other admin as admin - **Fixed**
2. Admin is **unable** to add other member as an admin. Only 'Remove Member' option is available for an admin - **Need Confirmation**
3. But one admin is able to remove other admin from the circle. - **ISSUE**
4. Admin is able to remove members from the circle - **Working Fine**
5. Admin is a

[2020-04-05 16:24] shamravu commented on #257
Great! @PradeepChandramogo Thanks for the update.

[2020-04-05 16:27] shamravu commented on #236
I fixed this. Notification will be updated for every 15 seconds. We can check for any new notifications for every 3 or 5 seconds but it will degrade the performance of the app.

[2020-04-05 17:37] PradeepChandramogo commented on #293
Headers colour should be in white and text colour should be in blue  -- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78505589-16393580-7792-11ea-9d04-4ad6a15a0368.png)
![image](https://user-images.githubusercontent.com/59409828/78505598-218c6100-7792-11ea-9551-43e2c5cf618b.png)
![image](https://user-images.githubusercontent.com/59409828/78505604-2d782300-7792-11ea-98b6-7f

[2020-04-05 17:58] PradeepChandramogo commented on #236
@shamravu
Tested in QA

User should get notified at notification icon instantly when he get any notifications -- **Working fine**
User getting notifications for connection request,sona received, message received -- WOrking fine
User is getting notification for every message and when clicked on it, message model is opening
--Working fine
When user notified at bell icon , and clicked on it , and nav

[2020-04-06 03:55] Skatta opened #311 "User is able to send broadcast messages to platform users that are not his/her connections"
**Describe the bug**
Allowing users to send broadcast messages to all the platform users that are not connected to the sender would cause spam.
If we allow it should ask for the user's permission.   The workflow is that a  permission dialog box should be delivered when a user sends a message to someone that is not a connection. It is up to the user to allow or decline.   If declined, the sender sh

[2020-04-06 04:04] Skatta opened #312 "Clicking 3 dots , should not make keyboard visible ..it's not needed . Functionality is in dots not keyboard"
![Three dots menu](https://user-images.githubusercontent.com/3252405/78522082-bcd10680-7791-11ea-87ec-734c52dda6de.jpg)

[2020-04-06 04:08] Skatta opened #313 "clicking on 3 dots.... in two different circles -1 shows delete. 2 shows delete and share"
**Screenshots**
![Three dots menu](https://user-images.githubusercontent.com/3252405/78522216-4b458800-7792-11ea-94a7-b7871086bac0.jpg)
![two different menus](https://user-images.githubusercontent.com/3252405/78522226-500a3c00-7792-11ea-8d7b-7fcbce798998.jpg)

[2020-04-06 05:28] mmazharuddin opened #314 "All my Circles are not visible in the Circles tab list"
**Describe the bug**
All my Circles are not visible in the Circles tab list

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '.Chit-Chat'
2. Click on 'Circles'
3. Not able to see my public and private circles on the list.
4. I created two groups "Saturday Team Updated" and "Sunday Team", Sometimes it will be visible and sometimes disappear for the circles list automatically, even if we

[2020-04-06 05:33] mmazharuddin commented on #313
@RajKateshiya can you please look into this issue

[2020-04-06 06:24] mmazharuddin commented on #122
@anushayedl can you please check this issue, is it fixed?

[2020-04-06 06:28] mmazharuddin commented on #121
@anushayedl This is fixed for me. Can you please check and let me know from your side?

[2020-04-06 06:29] Sbhonagiri commented on #308
@kotimadduluri Please check the issue.

[2020-04-06 06:31] mmazharuddin commented on #123
@anushayedl, please check if it fixed

[2020-04-06 06:33] mmazharuddin commented on #119
@vavadiyahiren This is Fixed

[2020-04-06 06:41] mmazharuddin commented on #124
Unable to update profile pic for circle - Fixed

[2020-04-06 06:42] Sbhonagiri commented on #300
@mmazharuddin Sir device contacts will be listed, based on the contacts we have in the current logged-in device.

[2020-04-06 06:44] mmazharuddin commented on #125
@anushayedl please check and confirm

[2020-04-06 06:52] Navyacheruku commented on #313
@mmazharuddin @Skatta

Sir,

For images/Videos, two options **Delete** and **Share** are available.

**Share** functionality is to share the image/video to other platforms.

For text messages, only **Delete** option is available. No **Share** option

For self messages, extra **Message Info** option is available. To check the status of the message (Delivered/Read).

**Should we give _Share_ option

[2020-04-06 06:59] anushayedl commented on #124
@vavadiyahiren Tested in Qa build

App version 2.0 build 10.0

Able to update the profile picture of circle- Fixed
But for 3 to 4 seconds updated profile picture is displaying- ISSUE
![image](https://user-images.githubusercontent.com/39667299/78530968-386a9c00-7802-11ea-8771-79a22cc2d620.png)

[2020-04-06 07:11] anushayedl opened #315 "After creating the circle that circle is not present in circles tab"
**Describe the bug**
After creating the circle that circle is not present in circles tab

**To Reproduce**
Steps to reproduce the behavior:
1. Create the circle
2. update the profile picture
3. go to back to the circle's dashboard
4. A newly created circle is not present

**Expected behavior**
The created circle should be present in the dashboard of the Circles
**Screenshots**
If applicable, add s

[2020-04-06 07:20] Navyacheruku commented on #141
@Jaydip1801

Please check the video reference

https://drive.google.com/file/d/1LNEM1WjfPf1toJIBqEzR39XqMZNcpM71/view?usp=drivesdk

[2020-04-06 07:21] Navyacheruku commented on #141
@Jaydip1801 @RajKateshiya

https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/312

Also check srini sir's ticket regarding similar kind of issue

[2020-04-06 07:35] RajKateshiya commented on #289
Done
#289 --> Receiving the messages even though the user is logged out of the user account from aapoon

[2020-04-06 07:35] RajKateshiya commented on #303
Done
#303 --> App crash- When clicked on back arrow from the individual user profile in DM

[2020-04-06 07:35] RajKateshiya commented on #164
Done
#164 --> Super Admin Privilege/Rights: Super Admin can remove other admin or admins from the Circles

[2020-04-06 07:36] RajKateshiya commented on #301
Done

[2020-04-06 07:36] anushayedl opened #316 "App is getting crash while searching for the users to add the members in circle"
**Describe the bug**
App is getting crash while searching for the users to add the members in circle

**To Reproduce**
Steps to reproduce the behavior:
1. Create the circle
2. Go to info page
3. Click on Add members
4. In Add members page, search the users
**Expected behavior**
Searched user should be display and app should not be crash

**Screenshots**
Vedio For Reference
[App crash in add member

[2020-04-06 07:36] RajKateshiya commented on #310
Done
#310 --> When only one member is present in the circle Delete should present instead of Exit, in the Circle info Screen

[2020-04-06 07:37] RajKateshiya commented on #296
Done
#296 --> A member of a group who is not an admin or super admin is able to update the Circle name and profile picture in private circle

[2020-04-06 07:37] RajKateshiya commented on #295
Done
#295 --> A member who is not a super admin of a circle was able to delete the circles

[2020-04-06 07:37] RajKateshiya commented on #297
Done
#297 --> I created a private circle called "private circle" Please test to see if the invite link is visible to the member

[2020-04-06 07:40] PradeepChandramogo opened #317 "Image of the girl in initial screen of app should be visible fully and white space in inital screens should be reduced"
## Descrpition
Image of the girl in initial screen of app should be visible fully and white space in inital screens should be reduced

## Steps to reproduce
1,After downloading application, go through the intial screens
2.Check for image of the girl and white space  in initial screens

## ACtual result
(checked in Lenovo k6 power Screen size (5.0 inch screen)
1.Image of the girl is not displaying

[2020-04-06 07:49] PradeepChandramogo opened #318 "Contact sync access should be asked for after phone verify only not before phone registration"
## Description
Contact sync access should be asked for after phone verify only not before phone registration

## Steps to reproduce
1.After installing application
2.Check for app is asking contact sync permisson

## Actaul result

1.App is asking permission for before phone number given

## Expected result
1.App should ask for contact sync permission after phone verfied and before home page loadin

[2020-04-06 08:08] PradeepChandramogo commented on #158
@shamravu
Tested in QA

Search bar position is not as per design. Please increase the width of the search bar.-- **Fixed**

![image](https://user-images.githubusercontent.com/59409828/78536284-38bb6500-780b-11ea-9945-e3249ceafbce.png)

[2020-04-06 08:12] PradeepChandramogo commented on #229
@shamravu
Made changes as per new ui design -- Fixed
(text in header is blue and background is white)

![image](https://user-images.githubusercontent.com/59409828/78536945-4ae9d300-780c-11ea-9d42-0795f8322b3f.png)

[2020-04-06 08:13] anushayedl commented on #285
@vavadiyahiren Tested in Qa build

App version 2.0 build 10.0

Super admin able to assign the admin role to circle members- Fixed

![image](https://user-images.githubusercontent.com/39667299/78537049-7c629e80-780c-11ea-8fb1-058e7230ca26.png)

[2020-04-06 08:13] Sbhonagiri opened #319 "Circle creation with Topic and Sub Topic"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-06 08:13] Sbhonagiri commented on #319
![Screenshot_2020-04-03-15-49-28-821_go socialchains app_20200403_154941224](https://user-images.githubusercontent.com/17709729/78537132-9d2af400-780c-11ea-8b2e-dc4a19552362.jpg)

[2020-04-06 08:17] Navyacheruku commented on #303
@RajKateshiya

App is not getting crashed when clicked on back arrow of

1. DM user profile
2. Circle profile
3. Image preview
4. Forward, Like,Dislike, Reply etc
5. Rotate and forward, Rotate and share, Rotate and delete

App crash is fixed - **Fixed**

### Video Reference

https://drive.google.com/file/d/1M9DT80z3rKi4uSOONpsIjwG5cwDY_OZT/view?usp=drivesdk

[2020-04-06 08:18] PradeepChandramogo commented on #189
@shamravu
Tested in QA in Lenovo k6 power(5.0 inch screen)
On Side bar menu - Logout is overlapping on Feedback -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78537258-d2374680-780c-11ea-94d7-f2ef5a449e4f.png)

[2020-04-06 08:19] PradeepChandramogo commented on #189
@hisobhan
Please check this issue and confirm as it is device specific issue

[2020-04-06 08:21] PradeepChandramogo commented on #257
@hisobhan  Please check in your device and assign the proper label

[2020-04-06 08:31] anushayedl commented on #122
@ptvyas Tested in QA build

App version 2.0 build 10.0

After creating the circle as public in Ios , the created circle is not present in android- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78538691-04e23e80-780f-11ea-9a7e-257363471f88.png)

![image](https://user-images.githubusercontent.com/39667299/78538716-0f9cd380-780f-11ea-984d-e8af0fce32a8.png)
![image](https://use

[2020-04-06 08:39] Navyacheruku commented on #313
@RajKateshiya :

Please mention what is the fix provided for this ticket?

[2020-04-06 08:39] anushayedl commented on #121
@vavadiyahiren Tested in QA build

App version 2.0 build 10.0

After adding contacts in device, in app not sshowing the duplicates- Fixed
![image](https://user-images.githubusercontent.com/39667299/78539385-1ed05100-7810-11ea-9339-92d7c151a3d0.png)
![image](https://user-images.githubusercontent.com/39667299/78539408-27c12280-7810-11ea-8de9-d2461ef92ec5.png)

[2020-04-06 08:41] Navyacheruku commented on #313
@RajKateshiya
New build also shows same options as previous build

![image](https://user-images.githubusercontent.com/39667234/78539527-53dca380-7810-11ea-8402-6584f45e1bf1.png)
![image](https://user-images.githubusercontent.com/39667234/78539532-58a15780-7810-11ea-9afc-b8b25bb92ac8.png)
![image](https://user-images.githubusercontent.com/39667234/78539573-6820a080-7810-11ea-9689-845ed054ab10.png)

[2020-04-06 08:45] RajKateshiya commented on #313
Nothing solved in this issue because this is some information regarding.
If we select media then display share option in three dot menu otherwise share option not available in any message.

[2020-04-06 08:51] Navyacheruku commented on #301
@RajKateshiya

Please check the video references

https://drive.google.com/file/d/1MJGujY6Q5mouwmhg9gQYg7vQHNIJ4T8p/view?usp=drivesdk
https://drive.google.com/file/d/1MaR6qoBFjttP5zNSDzIN9DEJ0zNHtlZP/view?usp=drivesdk

1. While opening the options, the three dots are getting highlighted
2. But while closing the options i.e. when clicked twice, the second time, the three dots are not highlighted li

[2020-04-06 08:53] Navyacheruku commented on #313
https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/313#issuecomment-609599447

[2020-04-06 08:57] anushayedl commented on #123
@ptvyas Tested in QA build
App version 2.0 build 10.0

After sending the video in circle, other member of circle is not visible that vedio- Not fixed
![image](https://user-images.githubusercontent.com/39667299/78540725-36103e00-7812-11ea-9d98-709193683911.png)

![image](https://user-images.githubusercontent.com/39667299/78541016-9bfcc580-7812-11ea-8566-c518d98febda.png)

[2020-04-06 09:06] anushayedl commented on #125
tested in QA build

App version 2.0 build 10.0

Able to add multiple members at a time in Circle- Fixed
![image](https://user-images.githubusercontent.com/39667299/78541790-d31fa680-7813-11ea-9d15-5fe21ff31e10.png)
![image](https://user-images.githubusercontent.com/39667299/78541828-df0b6880-7813-11ea-8e3d-64baf9abe308.png)

[2020-04-06 09:27] anushayedl commented on #118
@vavadiyahiren Tested in QA build

App version 2.0 build 10.0

1. While clicking on "Exit Circle" option, getting the pop up as "Please make a member of the circle as super admin and then you can exit"
2. while clicking on Ok button the info pop up , page is redirecting to "Group member", here the list of group members are present
3. After selecting the member and clickin ok done button, getting t

[2020-04-06 09:32] anushayedl commented on #126
@ptvyas Tested in QA build

App version 2.0 build 10.0

Able to capture the photo- Fixed
After capturing the photo and clicked on save button, captured image is showing as profile picture, but when go back and come again in info page, capture photo is not present-Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78544330-981f7200-7817-11ea-85f8-17479f25d62a.png)
![image](https:

[2020-04-06 09:35] anushayedl commented on #127
@ptvyas Tested in QA build

App version 2.0 build 10.0

While clicking on edit option of profile picture, menu is getting opened, text is showing as Photos- Fixed
![image](https://user-images.githubusercontent.com/39667299/78544609-07956180-7818-11ea-8f4f-1b8dcb6f9f27.png)

[2020-04-06 09:39] anushayedl commented on #128
@vavadiyahiren Tested in Qa build

App version 2.0 build 10.0

Not showing the duplicate users as of now- Fixed
![image](https://user-images.githubusercontent.com/39667299/78544944-8d191180-7818-11ea-9c04-07c13d9947de.png)

[2020-04-06 09:53] anushayedl commented on #129
@ptvyas Tested in QA build
App version 2.0 build 10.0

Circle
While clicking on 3 dotted menu icon, delet ooption is getting shown- Fixed
While clicking on delete option, the message is getting selected and meanwhile able to select the multiple messages at a time- Fixed
While clicking on delete icon present at left bottom corner, getting the option as "Delete for me" option, while clicking on that

[2020-04-06 10:00] anushayedl commented on #130
@ptvyas Tested in QA build

App version 2.0 build 10.0

in newly created group, sent messages are not received by other group members- nOt Fixed

IOs screenshot
![image](https://user-images.githubusercontent.com/39667299/78546691-79bb7580-781b-11ea-9c25-793f404001c8.png)

Android Screenshot
![image](https://user-images.githubusercontent.com/39667299/78546724-8b048200-781b-11ea-9438-bd765a2d7b5d.pn

[2020-04-06 10:06] anushayedl commented on #140
@ptvyas Tested in QA build

App version 2.0 build 10.0

after pinging the message in circle, showing the icon for pinged message and top of the page showing the messaeg also- Fixed
![image](https://user-images.githubusercontent.com/39667299/78547184-4af1cf00-781c-11ea-9805-c0386c2373fa.png)

[2020-04-06 10:09] anushayedl commented on #142
@ptvyas Tested in QA build

While clicking on notifications, apge is redirecting to the chit-chat and the focus is on Direct tab, not redirecting to the respective page or respective circle- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78547500-d3706f80-781c-11ea-85ec-0ce16737690d.png)

![image](https://user-images.githubusercontent.com/39667299/78547480-ca7f9e00-781c-11ea

[2020-04-06 10:14] anushayedl commented on #83
@ptvyas Tested in QA build

App version 2.0, build 10.0

Add members- members who are there in the circle are displaying into other users of the circle in Add members page- Fixed

 Iphone Screenshot
![image](https://user-images.githubusercontent.com/39667299/78547864-627d8780-781d-11ea-905e-8a247f54b441.png)

Android screenshot
![image](https://user-images.githubusercontent.com/39667299/78547909-7

[2020-04-06 10:28] anushayedl commented on #88
@ptvyas Tested in QA build

App version 2.0 build 10.0

Privacy options are not present in the Circle info Screen- fixed

![image](https://user-images.githubusercontent.com/39667299/78549060-627e8700-781f-11ea-9406-afd85530cb8a.png)

[2020-04-06 10:44] anushayedl commented on #148
@PradeepChandramogo Plesae provide steps To Reproduce the issue

[2020-04-06 10:53] PradeepChandramogo commented on #148
@anushayedl
Steps to check
1.Click on new chat
2.Go to direct message
3.In that all contacts who are platform users should display
4.Contacts who are users also are displaying in invite friends list --- I faced this when i tested

[2020-04-06 11:06] Navyacheruku commented on #296
1. Member updating Circle picture of Private Circle |
In a Private Circle, Member does not have options to update Circle Picture. Picture can be viewed in full view | **Working Fine**

2. Member update Circle picture of Public Circle |
Member is able to update Circle Profile picture of a Public Circle | **Need Confirmation**

3. Member Updates Circle Name of Private Circle |
In a Private Circle, M

[2020-04-06 11:11] anushayedl commented on #148
@PradeepChandramogo Tested in QA build

App version 2.0 build 10.0

@vavadiyahiren Tested in QA build

App version 2.0 build 10.0

1. Users contact is saved in the device
2. That user is a platform user
3. user is not showing in Invite people list- Fixed
![image](https://user-images.githubusercontent.com/39667299/78552587-631a1c00-7825-11ea-8edb-b41cf21421f7.png)

[2020-04-06 11:17] PradeepChandramogo commented on #236
@shamravu

Tested in QA

User should get notified at notification icon instantly when he get any notifications -- Working fine
User getting notifications for connection request,sona received, message received -- WOrking fine
User is getting notification for every message and when clicked on it, message model is opening
--Working fine
When user notified at bell icon , and clicked on it , and naviga

[2020-04-06 11:19] anushayedl commented on #73
@ptvyas Tested in QA build

App version 2.0 build 10.0

Whil adding members in existing circle, list is getting opened, the heading of the list displaying as "Selelct Contacts", The heading should "Add Members"- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78553186-7da0c500-7826-11ea-8c79-77dc86836900.png)

[2020-04-06 11:21] anushayedl commented on #70
@ptvyas Tested in QA build
APP Version 2.0 build 10.0

While clicking on connections page is not redirecting to chit-chat- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78553447-dec89880-7826-11ea-83be-f649420b31c6.png)

[2020-04-06 11:28] kotimadduluri commented on #291
@PradeepChandramogo please share required content

[2020-04-06 11:31] PradeepChandramogo commented on #159
@shamravu
Tested in QA

Post model page changed as new ui as mentioned in expected result --- Fixed

![image](https://user-images.githubusercontent.com/59409828/78554056-0bc97b00-7828-11ea-92ad-5a3ed3b4e075.png)

[2020-04-06 11:33] kotimadduluri commented on #308
@PradeepChandramogo Screen shots and mentioned issue are improper. Please provide clear description .

[2020-04-06 11:38] RajKateshiya commented on #304
Done need test

[2020-04-06 11:39] anushayedl commented on #34
@vavadiyahiren Tested in QA build

App version 2.0 build 10.0

After replying to a message, and clicking on the quoted message, the control is being shifted to the particular message. But the message is not getting highlighted in the beginning. Sometimes it is shown but sometimes it is not shown - Not Fixed

1. After clicking on replay for the selected message
2. Selected message is begin shown on

[2020-04-06 11:45] RajKateshiya commented on #146
Done need test

[2020-04-06 11:46] anushayedl commented on #68
@ptvyas Tested in QA build

App version 2.0 build 10.0

In circle. after sending the image for that post showing the 1 check symbol, not  showing the cllock symbol- Fixed
sent image is not being shown in android- Not Fixed
IOs screenshot
![image](https://user-images.githubusercontent.com/39667299/78555252-43392700-782a-11ea-8aeb-85a3a0bed7da.png)

Android screenshot

![image](https://user-images.g

[2020-04-06 11:47] RajKateshiya commented on #112
@Sbhonagiri need api change as i request in skype

[2020-04-06 11:48] PradeepChandramogo commented on #308
@kotimadduluri
Just  check for  email field
After id verification, i went to my account page and give email in random format not like exact format

[2020-04-06 11:54] RajKateshiya commented on #143
This is in need confirmation

[2020-04-06 11:54] anushayedl commented on #79
@ptvyas select contacts page is getting changed as "Add Member page" in DM in IOS- Not Fixed( need the changes as per the below)

Need the changes as like android in ios

1. In android for DM on to  left corner  showing the label as "New Message" and at top right corner showing as CANCEL"- Not Fixed{ need to show as New Message}
2. below the label showing the search - Fixed
3.blow the search showi

[2020-04-06 11:56] RajKateshiya commented on #313
This is in need confirmation

[2020-04-06 11:59] RajKateshiya commented on #301
2. But while closing the options i.e. when clicked twice, the second time, the three dots are not highlighted like the first time
--> second time (on menu close) ripple effect (highlight) is not possible, it is handling by system
--> if you want remove then we can remove  ripple effect (highlight) on first time also
3. done size increase

[2020-04-06 12:03] anushayedl commented on #78
@ptvyas the page need to change as like android

As of now select contacts is present as a heading for Add Members page, Need to change the Title text of the page- Not Fixed

Android Screenshot
![image](https://user-images.githubusercontent.com/39667299/78556455-a330cd00-782c-11ea-8e3a-6983bd9e539e.png)

IOS Screenshot
![image](https://user-images.githubusercontent.com/39667299/78556412-92805700-7

[2020-04-06 12:15] Sbhonagiri commented on #288
@Hiren please check this issue

[2020-04-06 12:15] RajKateshiya commented on #203
Need to check this two app icon is changed to one icon or not after some time

[2020-04-06 12:16] PradeepChandramogo commented on #290
@kotimadduluri
App is getting crashed when we clicked on submit button in feedback -- **Fixed**
app is not getting crashed ev
![image](https://user-images.githubusercontent.com/59409828/78557479-7f6e8680-782e-11ea-963a-39b606e31e1f.png)
en when clicked on submit button mutiple times -- Working fine

[2020-04-06 12:19] mmazharuddin commented on #313
@RajKateshiya what confirmation you want?

[2020-04-06 12:19] anushayedl commented on #150
@ptvyas Tested in QA build

App version 2.0 build 10.0
 Add members page

1. While clicking on Add members page, a page is getting opened with the platform users and device contacts - Fixed
a. But the heading need to change as "Add Members"- Not Fixed
2. For device members having the label as "Invite People"- Fixed
3. While trying the add the device contacts members in group, the selected contacts

[2020-04-06 12:21] RajKateshiya commented on #313
No i don't need but @Navyacheruku has asked to sir. below message

Should we give Share option for text messages also sir?

[2020-04-06 12:22] Sbhonagiri commented on #112
@RajKateshiya Done please do the needful

[2020-04-06 12:25] anushayedl commented on #69
@ptvyas Tested in QA build

APP Version 2.0 build 10.0

Updated device contacts are not getting synced- Not Fixed
While clicking on Sync option present at right corner, even updated contats are not showing- Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78558090-a2e60100-782f-11ea-9114-68e6e84cd505.png)
![image](https://user-images.githubusercontent.com/39667299/78558103-abd

[2020-04-06 13:17] PradeepChandramogo commented on #253
@kotimadduluri
Dollar should replace with coin, Dollars should replace with coins. -- Fixed

![image](https://user-images.githubusercontent.com/59409828/78562463-045d9e00-7837-11ea-93e9-2ebb863cae69.png)

[2020-04-06 13:34] anushayedl commented on #166
In the below report,

**First Line is - Scenario
Second Line is - Actual Result**

Please check the report below

#### 1. Try to make other users as super admin|
#### Unable to make other users as super admin. **ISSUE**
If super admin tries to exit the circle, pop up is displayed to make others as super admin.
After clicking on Ok, members list is displayed.
#### On selecting a member from the lis

[2020-04-06 14:03] anushayedl commented on #114
@ptvyas Tested in QA build

App version 2.0 build 10.0

Duplicates admins are showing in info page of group- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78566828-6caf7e00-783d-11ea-9766-3f186bea67c9.png)

[2020-04-06 14:17] Navyacheruku commented on #304
@RajKateshiya

Already seen notifications are again received after installing and logging in to the user. It is causing user frustration - **Failed**

All the below notifications are seen yesterday itself.
Now they are coming as notifications again and again

![image](https://user-images.githubusercontent.com/39667234/78568050-2f4bf000-783f-11ea-87ba-67287fa26bca.png)

[2020-04-06 14:17] PradeepChandramogo commented on #238
@shamravu
Tested in QA
Invite contacts page should display - **Fixed**
But when clicked on it for first time after signup and after login , contacts are not displaying,but when switched to other tabs and clicked on invite conytacts , it is displaying -- **Issue**

[2020-04-06 14:37] Navyacheruku commented on #146
@RajKateshiya

1. Able to capture the image with flashlight one - **Fixed**
2. Able to record video with rear cam with the flashlight on - **Fixed**
3.  Unable to record video with front cam with the flashlight on - **ISSUE**
4. Able to capture an image with the flashlight in front cam - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/78570117-2b6d9d00-7842-11ea-974d-70b4a69

[2020-04-06 14:39] Navyacheruku commented on #301
@RajKateshiya

1. The size of the three-dot menu is increased. It is easy to click on three dots now - **Fixed**
2. If clicked near by the three dots, options are displayed - **Working Fine**

[2020-04-06 14:43] Navyacheruku commented on #203
@RajKateshiya @Jaydip1801:  What are the fixes?

[2020-04-06 14:44] Jaydip1801 commented on #146
We have now opened the system camera so we cannot check the flash issue in it

[2020-04-06 14:47] Jaydip1801 commented on #304
can you please send a video ref. how getting notification again and again

[2020-04-06 15:13] mmazharuddin commented on #304
@Navyacheruku please send send video

[2020-04-06 15:21] PradeepChandramogo commented on #242
@shamravu
Tested in QA

when user reaches to My Profile page While doing signup , the curser should present in the first name field automatically. --**Fixed**

[2020-04-06 15:25] Navyacheruku commented on #304
@mmazharuddin Sure sir

@Jaydip1801 Please check the video that i have sent in Skype.

I'm getting those messages and notifications again and again.

[2020-04-06 15:31] PradeepChandramogo commented on #291
@kotimadduluri
I have shared in expected result.you can check above and same content should be displayed

[2020-04-06 15:35] Navyacheruku commented on #143
@RajKateshiya

No. This was confirmed already by the management that deleted users should not be shown in suggestions.

After taking confirmation, we moved it to Open by removing Need Confirmation label

[2020-04-06 15:41] Navyacheruku commented on #146
There is no flash option for front video cam in the device also.

![image](https://user-images.githubusercontent.com/39667234/78577045-1cd7b380-784b-11ea-96a0-eea6d566d69f.png)

[2020-04-06 15:49] anushayedl commented on #168
@ptvyas Tested in QA build
App version 2.0 build 10.0

As of now, the message is not getting delivered, so not able to test.

![image](https://user-images.githubusercontent.com/39667299/78577845-4fce7700-784c-11ea-803f-ed14eda3149c.png)

[2020-04-06 15:52] Navyacheruku commented on #310
@RajKateshiya

1. When only one member is there, instead of **Exit Circle,** it shows **Delete Circle** with Delete icon - **Fixed**
2.  On clicking on Delete Circle, '_Are you sure you want to delete this circle_?' is displayed with **Yes** and **No** options - **Working Fine**
3. After clicking on **No**,  the pop up disappeared and no changed happened - **Working Fine**
4. On clicking on Yes, u

[2020-04-06 15:55] anushayedl commented on #170
@ptvyas Tested in QA build

App version 2.0 build

1. Able to create the circle without members- Fixed
2. After creating the circle, able to add members - Fixed
3. members can be able to add single or multiple in the circle- Fixed
![image](https://user-images.githubusercontent.com/39667299/78578404-1ea27680-784d-11ea-81e4-b6032391642a.png)

![image](https://user-images.githubusercontent.com/396672

[2020-04-06 16:21] Navyacheruku commented on #295
@RajKateshiya

1. Only Super Admin has the option of Delete circle from the circles' list - **Fixed**
2. Admin and Members do not have option Delete Circle - **Fixed**
3. If member or Admin is made Super Admin, then only that super admin has the permission to delete circle - **Fixed**
4.  After deleting the circle, **Circle is Deleted Successfully** message should be shown to the user - **Need to

[2020-04-06 16:29] mmazharuddin commented on #313
@Navyacheruku we will discuss this with Srini Sir

[2020-04-06 16:36] mmazharuddin commented on #296
@Navyacheruku

Member update Circle picture of Public Circle |
Member is able to update Circle Profile picture of a Public Circle | Need Confirmation
*Only Admin Can update*

Member Updates Circle Name of Public Circle |
Member is able to update Circle Name of a Public Circle | Need Confirmation
*Only Admin Can update*

Admin who is a Basic user updates circle Name and profile picture |
Able to ma

[2020-04-06 17:21] Navyacheruku opened #320 "Demarkation between two messages should be there. User confusion whether window icon is for above message or below one. A smooth line should be there to differentiate two messages. It is user confusion to understand for which message window icon is there"
## Description

Demarkation between two messages should be there. User confusion whether window icon is for the above message or below one. A smooth line should be there to differentiate two messages. It is user confusion to understand for which message window icon is there.

## Steps to Reproduce

1. Send two messages
2. Look at the window icon

## Actual Result

User is getting confused that the

[2020-04-06 17:23] Navyacheruku commented on #313
As per discussion with Srini sir, this ticket can be closed.

[2020-04-06 17:23] #313 closed

[2020-04-06 17:25] Navyacheruku commented on #296
@RajKateshiya :

Please check Mazhaar sir's confirmation points.

https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/296#issuecomment-609903230

[2020-04-06 17:26] Navyacheruku commented on #149
@RajKateshiya

1. Even after 2 minutes of closing the app and killing the app, the user is not going offline. User is still shown online - **ISSUE**
2. Members who are removed from the circle are able to see who is online - **ISSUE**

[2020-04-06 17:27] Navyacheruku commented on #203
Please mention the fixes

The two notification icon was disappearing after some time in the previous builds also

[2020-04-06 23:26] Skatta opened #321 "I joined 5 public circles from the discovery and these circles are not appearing in my cirlce list"
**Describe the bug**
Circles that a user is a member of should be shown as soon as they join under circles

**Screenshots**
![Empy circles list even after joining 5 circles](https://user-images.githubusercontent.com/3252405/78614419-20ac0b80-7834-11ea-8a0d-4d8f4d54cd1e.png)

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g.

[2020-04-06 23:36] Skatta commented on #269
@mmazharuddin The issue is not fixed.  The worst part is the timestamp on the messages is also incorrect. Messages that are 3 days old also show as if they were just delivered alerts.
![alerts from the beginning](https://user-images.githubusercontent.com/3252405/78614837-60272780-7835-11ea-80de-1f3b869b67cb.png)
![Messages from the beginning are delivered](https://user-images.githubusercontent.com

[2020-04-06 23:47] Skatta commented on #295
I installed the latest iPhone build and i was able to delete a circle as a member,

[2020-04-06 23:54] Skatta opened #322 "Invite Friends is failing to send emails"
I clicked on Invite Friends in the home menu. It launched invite friends  by email or use a referral link
I typed an email and hit submit and  i got "Failed to send invitation"
This is the main app functionality. How our QA team missed testing the basic scenario?
![Invite friends by email failed](https://user-images.githubusercontent.com/3252405/78615700-d7f65180-7837-11ea-9d5d-3ce99da09b08.png)

[2020-04-07 05:18] RajKateshiya commented on #141
Done

[2020-04-07 05:35] Jaydip1801 commented on #320
Please provide design

[2020-04-07 05:46] RajKateshiya commented on #143
Can't handle it as discussed with hiren

[2020-04-07 05:56] RajKateshiya commented on #295
In android done

6. After deleting the circle, the public circle is still being shown in the Discover tab for other users (who exited that circle)
After clicking on Join button, 'You have successfully joined the circle' is being displayed

7. For the user who joined using Join button from Discover tab, is able to see the Super admin and other member who were present in the circle at the time of Ci

[2020-04-07 05:59] Jaydip1801 commented on #203
It is in specific device problem, we can't handle it (as discussed with Hiren)

[2020-04-07 06:50] mmazharuddin commented on #322
@Sbhonagiri can you please check and update

[2020-04-07 06:52] mmazharuddin commented on #321
@ptvyas @hiren: all of us are facing the same issue, circles are not appearing in my circle list.

[2020-04-07 07:10] mmazharuddin commented on #320
![Screen Shot 2020-04-07 at 12 25 10 PM](https://user-images.githubusercontent.com/10600627/78640165-e93d6d80-78cc-11ea-9ee8-9f61cf7c6677.png)

[2020-04-07 07:16] mmazharuddin commented on #304
@RajKateshiya As discussed, please give highest priority

[2020-04-07 07:46] Navyacheruku commented on #203
@RajKateshiya @Jaydip1801

Okay we will get the confirmation regarding that device problem.

Please update regarding these issues. Are these fixed?

[2020-04-07 07:49] Navyacheruku commented on #143
@RajKateshiya But it is getting problem if these users are displayed in connections or contacts list.

Facing issues while adding these users to circles and trying to chat in DM

[2020-04-07 08:11] Jaydip1801 commented on #203
Notifications when the app is killed (Not running in recent items) |
Messages are not received when the app is killed. App is ot in the use in recent items | ISSUE
--> please discuss with santosh

Notifications when logged out of the user account but app present in recent items |
Able to receive notifications even after logging out and when the app is running in the recent items | ISSUE
--> Done i

[2020-04-07 08:20] Vamshi9676 commented on #312
@RajKateshiya

1. When we click on 3 dot list in the Direct Message keyboard is getting closed automatically. Working fine.
2. When we click on 3 dot list in the Circle keyboard is getting closed automatically. Working fine.
3. When we click on the 3 dot list, the list is displaying at another message, it is not displaying at the respective message. **ISSUE** for this there is another issue. https

[2020-04-07 08:22] Vamshi9676 commented on #141
@RajKateshiya

When we click on the 3 dot list, the list is displaying at another message, it is not displaying at the respective message. **ISSUE**

Please check the steps for the above point.

- Open a circle or Direct Message
- Send a message
- don't close the keyboard
- Click on three dots of the message.
- Check where the list is displaying.

![Screen Shot 2020-04-07 at 1 40 31 PM](https://us

[2020-04-07 08:33] Sbhonagiri commented on #209
@PradeepChandramogo Please verify the issue

[2020-04-07 08:34] Sbhonagiri commented on #208
@PradeepChandramogo Please verify the issue.

[2020-04-07 08:35] Navyacheruku commented on #297
@RajKateshiya

**Private Circle:**

1. Invite Link is not visible to the member of the circle - **Fixed**
2. Admin and Super Admin are able to view the circle invite link in circle info - **Working Fine**
3. Members do not have Invite Option and Delete option when the circle is long pressed in circles list - **Working Fine**
4. Admin and Super Admin are able to view Invite option when the circle i

[2020-04-07 08:36] Vamshi9676 commented on #144
@RajKateshiya

1. When for today's post it is displaying as "Today at 01:58 PM". Working fine\

![Screen Shot 2020-04-07 at 2 04 56 PM](https://user-images.githubusercontent.com/43492917/78647972-ee081e80-78d8-11ea-9879-1747459f023a.png)

2. When the user sends a post yesterday it is displaying as "Yesterday at 12:42 PM". Working fine

![Screen Shot 2020-04-07 at 2 05 39 PM](https://user-images.gi

[2020-04-07 08:40] Navyacheruku commented on #164
@RajKateshiya

1. Admin is still able to remove other admin from the circle- **Failed**
2. Admin is unable to make other member as admin - **ISSUE**

![image](https://user-images.githubusercontent.com/39667234/78648338-75559200-78d9-11ea-8ee5-47bc14d8b068.png)
![image](https://user-images.githubusercontent.com/39667234/78648348-7981af80-78d9-11ea-8681-f319a60c04f5.png)

[2020-04-07 09:05] Navyacheruku commented on #263
@RajKateshiya

https://drive.google.com/file/d/1NmOQmjPr9JiKjN1xVty5n4hdu__5zTQy/view?usp=drivesdk

1. Super Admin added members
2. Removed members
3. one member joined from discover and one joined from circle invite link
4. Super admin removed one member and other member pinged.
The removed member did not receive messages and unable to ping in the circle - **Fixed**
5. User joined again using pre

[2020-04-07 09:25] Navyacheruku commented on #295
@RajKateshiya

1. After deleting the circle, the circle is gone for members for a few seconds
2. Then after a few seconds, that circle is visible again
3. And slowly th3 previous messages are loading and they are visible in the circle
4. The deleted circle is visible in Discover tab still
5. For members who were there in the circle, for them the circle is not visible in the discoer tab
6. User are

[2020-04-07 09:31] RajKateshiya commented on #320
Done

[2020-04-07 09:31] RajKateshiya commented on #304
Done

[2020-04-07 09:32] RajKateshiya commented on #296
Done
#296 --> Only Admin or Super Admin Can update Circle picture and name of Public Circle

[2020-04-07 09:33] RajKateshiya commented on #112
Done

[2020-04-07 09:33] RajKateshiya commented on #310
Done
#310 --> On clicking on Yes, updating with loader is displayed and the user is brought to the Circles tab. There is a message that Circle is Deleted Successfully

[2020-04-07 09:34] RajKateshiya commented on #149
Done
#149 --> Members who are removed from the circle are able to see who is online

[2020-04-07 09:35] RajKateshiya commented on #141
Done

[2020-04-07 09:36] RajKateshiya commented on #164
Done
#164 only super admin can make other admin

[2020-04-07 09:38] RajKateshiya commented on #295
Done
#295 delete circle again showing

[2020-04-07 09:39] PradeepChandramogo opened #323 "Unable to id verify complete for basic user wants to complete verification for rest of the world and laminated scenario for indian users"
## Description
Unable to id verify complete for basic user wants to complete verification for rest of the world and laminated scenario for indian users

## Steps to reproduce
1.Complete basic verification with first name , last name and selfie
2,After basic verification, try to complete id verification   for rest of the world user and for indian
 user  in lamintaed scenario
3.Give photo id and upl

[2020-04-07 09:40] Jaydip1801 commented on #263
Need to replicate

[2020-04-07 09:41] RajKateshiya commented on #149
1. Even after 2 minutes of closing the app and killing the app, the user is not going offline. User is still shown online - **ISSUE**
--> as discussed with hiren he need to discuss (because getting from api so, can't handle it)

[2020-04-07 09:46] anushayedl commented on #117
@ptvyas Tested in QA build

App version 2.0 build 10.0

After sending the images, sent images are not visible by the sender and receivers also - Not fixed
![image](https://user-images.githubusercontent.com/39667299/78654749-a4bccc80-78e2-11ea-9249-823fc299281d.png)

[2020-04-07 09:46] anushayedl commented on #286
@ptvyas Tested in QA build

App version 2.0 build 10.0

After sending the images, sent images are not visible by the sender and receivers also - Not fixed
![image](https://user-images.githubusercontent.com/39667299/78654749-a4bccc80-78e2-11ea-9249-823fc299281d.png)

[2020-04-07 09:56] anushayedl commented on #284
@ptvyas Tested in Qa build

Clicked on Discover tab
page is redirecting to discover page
Able to click on search
Able to search for the public group- Fixed
![image](https://user-images.githubusercontent.com/39667299/78655744-0df10f80-78e4-11ea-9dca-116061f25e2f.png)
![image](https://user-images.githubusercontent.com/39667299/78655780-19443b00-78e4-11ea-986c-974fd247d9ce.png)

[2020-04-07 10:04] anushayedl commented on #114
@ptvyas Tested in QA build

App version 2.0 build 10.0

Duplicates admins are showing in info page of group- Fixed
![image](https://user-images.githubusercontent.com/39667299/78656516-26adf500-78e5-11ea-83b0-acd462a0d450.png)
![image](https://user-images.githubusercontent.com/39667299/78656543-33324d80-78e5-11ea-91e8-19c2b3608d6b.png)

[2020-04-07 10:09] anushayedl commented on #93
@ptvyas Tested in QA build

APP version 2.0 build 10.0

Add members- title of the Add Member page is displaying as “ New Chat” it should be Add Member”- Not fixed

![image](https://user-images.githubusercontent.com/39667299/78657043-d3887200-78e5-11ea-8c32-54435ad70a49.png)

![image](https://user-images.githubusercontent.com/39667299/78657077-e0a56100-78e5-11ea-89aa-a6f8d0c9c3b3.png)

[2020-04-07 10:19] anushayedl commented on #120
@ptvyas : App Version 2.0 build 10.0

While clicking on like and try to click on dislike button, dislike button is not clickable- Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78658079-58c05680-78e7-11ea-8388-8dfbd0a6907b.png)

[2020-04-07 10:31] anushayedl commented on #122
@ptvyas Tested in QA build

App version 2.0 build 10.0

After creating the circle as public in Ios , the created circle is not present in android- Not Fixed

[2020-04-07 10:58] PradeepChandramogo commented on #208
@alikhan126
could you please explain how to check from API?

[2020-04-07 10:59] PradeepChandramogo commented on #209
@alikhan126
could you please explain how to check from API?

[2020-04-07 11:32] anushayedl commented on #126
@ptvyas Tested in QA build

App version 2.0 build 10.0

Able to capture the photo- Fixed
After capturing the photo and clicked on save button, captured image is showing as profile picture, but when go back and come again in info page, capture photo is not present-Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78664297-582cbd80-78f1-11ea-8d4a-ae385057f828.png)
![image](https

[2020-04-07 11:35] RajKateshiya commented on #263
Done

[2020-04-07 11:47] anushayedl commented on #129
@ptvyas Tested in QA build
App version 2.0 build 10.0

Circle
While clicking on 3 dotted menu icon, delet ooption is getting shown- Fixed
While clicking on delete option, the message is getting selected and meanwhile able to select the multiple messages at a time- Fixed
While clicking on delete icon present at left bottom corner, messages are able select multiple at a time, after clicking on delet

[2020-04-07 11:54] shamravu commented on #159
@PradeepChandramogo

@PradeepChandramogo Can you please provide me the steps to go to the screen which has the issue?

[2020-04-07 11:57] Vamshi9676 commented on #141
@RajKateshiya

1. Now 3 dot list is not floating, the list is staying at the particular message. Working fine

2. When the keyboard is closed at that time when the user clicks on the 3 dot list, the list is opening at the correct message. Working fine
3. When we click on the 3 dot list, the list is displaying at another message, it is not displaying at the respective message. Fixed
Followed the be

[2020-04-07 12:02] Vamshi9676 commented on #144
@RajKateshiya

 In aapoon_07_4.apk today build at 03:11 PM

1. When we open 3 dot list keyboard is not closing. **Reopen**
2. In yesterday's build, it is fixed. but in the latest build, it is not fixed.

![Screen Shot 2020-04-07 at 5 28 57 PM](https://user-images.githubusercontent.com/43492917/78666950-beb3da80-78f5-11ea-80ab-ec783bb8ca88.png)
![Screen Shot 2020-04-07 at 5 28 51 PM](https://user-i

[2020-04-07 12:03] shamravu commented on #159
@PradeepChandramogo I fixed the issue in the screen you mentioned.

[2020-04-07 12:05] Navyacheruku commented on #320
@RajKateshiya
Changes are done

will get it confirmed

![image](https://user-images.githubusercontent.com/39667234/78666743-6d0b5000-78f5-11ea-90b7-3c5be7afd824.png)
![image](https://user-images.githubusercontent.com/39667234/78667125-08042a00-78f6-11ea-98f6-776f174d7a52.png)
![image](https://user-images.githubusercontent.com/39667234/78667139-0c304780-78f6-11ea-9529-e4f220e26ae1.png)
![image](htt

[2020-04-07 12:10] Jaydip1801 commented on #144
Previously it was closed, so you said that the keyboard is closing, now it is not closing, then you are saying why not close keyboard if we are not closing then what should we do, what the hell

[2020-04-07 12:13] Jaydip1801 commented on #144
Previously it was closed, so you said that the keyboard is closing, now it is not closing, then you are saying why not close keyboard if we are not closing then what should we do, what the hell

[2020-04-07 12:15] Vamshi9676 commented on #144
@RajKateshiya

Sorry for this i have wrongly commented.

[2020-04-07 12:15] Vamshi9676 commented on #312
@RajKateshiya

 In aapoon_07_4.apk today build at 03:11 PM

1. When we open 3 dot list keyboard is not closing. **Reopen**
2. In yesterday's build, it is fixed. but in the latest build, it is not fixed.

![Screen Shot 2020-04-07 at 5 28 57 PM](https://user-images.githubusercontent.com/43492917/78666950-beb3da80-78f5-11ea-80ab-ec783bb8ca88.png)
![Screen Shot 2020-04-07 at 5 28 51 PM](https://user-i

[2020-04-07 12:16] Vamshi9676 commented on #144
https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/312Please check this comment

[2020-04-07 12:31] PradeepChandramogo commented on #208
@alikhan126
Tested in QA
uploaded my selfie from ui and taken that url from feeds and gave in target in "api/v1/kyc_verification/?query="update" " api

Showing error after uploading image in api response -- **Issue**

![image](https://user-images.githubusercontent.com/59409828/78667622-ece5ea00-78f6-11ea-87e4-ca883fab8b1f.png)
![image](https://user-images.githubusercontent.com/59409828/78667665-fb

[2020-04-07 12:36] PradeepChandramogo commented on #159
@shamravu
Ok.please change the design in which i shared second screenshot

[2020-04-07 12:50] vavadiyahiren commented on #312
@Vamshi9676

If keyboard is open then it will remain open if is closed it will be remain closed we can't handle both the event while clicking on the 3 dot menu so please test accordingly and if you need this then post as a feature request because i don't thing this should be calculated as a bug.

If you back press then it will close both the keyboard and the popup.

[2020-04-07 13:12] Navyacheruku commented on #304
@RajKateshiya

1. After logging in, all the previously read/seen messages are shown as unread - **ISSUE**
After reading messages if the user logs out and logs in again, those messages are shown as **Unread** only - **ISSUE**
2. These messages notifications preview is not shown now - **Fixed**
3. When new message arrives, that message is shown in message preview and other remaining unseen or unread

[2020-04-07 13:15] vavadiyahiren commented on #304
That is expected we can't handle that one.

[2020-04-07 13:16] Vamshi9676 commented on #296
@RajKateshiya

1. The Member of the circle is not able to update the profile picture of the circle. Working fine

2. The Member of the circle is not able to edit the circle profile name. Working fine
![Screen Shot 2020-04-07 at 6 15 53 PM](https://user-images.githubusercontent.com/43492917/78670797-eefe7780-78fb-11ea-9e2d-610ee74490d9.png)

3. Super admin is able to Edit the profile picture of the

[2020-04-07 13:28] vavadiyahiren commented on #304
Shall we have another label for this one i don't think this is related now with the title if you need please add as a feature request.

[2020-04-07 13:29] alikhan126 commented on #209
Please try this from ui
try uploading the selfie from ui 3 times if you didn't get the error this is fixed

[2020-04-07 14:15] Navyacheruku commented on #304
As per discussion with Srini sir in the call, this will be kept on hold for now

[2020-04-07 14:33] Vamshi9676 commented on #296
@RajKateshiya
As the discussion with Srini Sir in all-hands meeting (2020-04-07),

It is an admin wish to make a basic user as admin.

So moving to fixed

[2020-04-07 14:36] Vamshi9676 commented on #312
@RajKateshiya

As the discussion with Srini Sir in all-hands meeting (2020-04-07),

If clicked on three dots, the keyboard is not opening it is fine. If the keyboard is opened on users' intervention then it is okay

![Screen Shot 2020-04-07 at 8 05 48 PM](https://user-images.githubusercontent.com/43492917/78682102-34767100-790b-11ea-8b6c-a0448d3dc915.png)
![Screen Shot 2020-04-07 at 8 05 42 PM](ht

[2020-04-07 14:52] Vamshi9676 commented on #310
@RajKateshiya

When only one member in the circle Delete Circle is displaying instead of Exit. Working fine
When more than 1 member is present in the circle Exit is displaying. Working fine
After removing all members from the circle's Delete option is displaying. Working fine

![Screen Shot 2020-04-07 at 8 15 49 PM](https://user-images.githubusercontent.com/43492917/78683235-ab603980-790c-11ea-912

[2020-04-07 14:59] Navyacheruku commented on #149
@RajKateshiya @Sbhonagiri

#### 1. Users are shown online even if the app is killed and closed - **Need Confirmation**
2. User is gone from online to offline as soon as the user logged out of the account- **Working Fine**
3. User is gone offline after clearing cache without logging out - **Working Fine**
#### 4. After the user is logged in, the user is not shown as Online until he comes to Chit- C

[2020-04-07 15:12] mmazharuddin commented on #286
@ptvyas Images are not loading in the message screen of the iPhone - Fixed

![5DB791D2-08FC-45A3-B470-6BBFD47E7929](https://user-images.githubusercontent.com/10600627/78686109-4870a180-7910-11ea-9f11-92d016d0c66b.png)

[2020-04-07 15:14] anushayedl commented on #114
@ptvyas Tested in QA build

App version 2.0 build 10.0

Duplicates admins are not showing in info page of group- Fixed
![image](https://user-images.githubusercontent.com/39667299/78686302-81a91180-7910-11ea-9c4d-ba8da1e29a40.png)

[2020-04-07 15:14] anushayedl commented on #130
@ptvyas Tested in QA build

App version 2.0 build 10.0

in newly created group, sent messages are not received by other group members- Not Fixed

 IOS  group is not showing in android- *ISSUE*
![image](https://user-images.githubusercontent.com/39667299/78677291-30475500-7905-11ea-88ec-8055497b45a6.png)
![image](https://user-images.githubusercontent.com/39667299/78677361-46edac00-7905-11ea-8e83-5bd

[2020-04-07 15:17] mmazharuddin commented on #117
@ptvyas user1 sent image in group, user 2 not able to see the image in same group -Fixed

![D1F9A19E-2F5E-4BC8-9D88-F4E40BDB26B4](https://user-images.githubusercontent.com/10600627/78686656-f11f0100-7910-11ea-8f2b-1a4f8814ef24.png)

[2020-04-07 15:23] Vamshi9676 commented on #289
@RajKateshiya

1. After the user logged out of the account. Not receiving notifications - *Fixed*
2. Messages that were sent to the logged out user are received after logging in. - *Working Fine*
3. After logging into the user, receiving message notifications, even after the app is killed - *Fixed*
### 4. Chat history is not present in the DM after doing log out and log in again. **ISSUE**,
for th

[2020-04-07 15:36] Navyacheruku commented on #296
@RajKateshiya

Members are able to update and add circle image using '**Set As Profile**' option from image full preview

![image](https://user-images.githubusercontent.com/39667234/78689119-989d3300-7913-11ea-8110-56beec3335c5.png)
![image](https://user-images.githubusercontent.com/39667234/78689133-9d61e700-7913-11ea-9070-28feeee86d51.png)

![image](https://user-images.githubusercontent.com/3966

[2020-04-07 15:37] anushayedl commented on #116
@ptvyas Tested in QA build

Not able to see the app version

*Not able to logout from the app, menu icon is not present to open the side menu*
![image](https://user-images.githubusercontent.com/39667299/78689221-b4083e00-7913-11ea-81eb-da7187bf4aef.png)

[2020-04-07 15:40] mmazharuddin commented on #122
@ptvyas
After creating the circle as public in Ios , the created circle is not present in android- Fixed

created circle of IOS in not present in Android, ven the user is present in the circle- Fixed

After creating the group as public for other user of group showing as private. - Fixed

Circle created in iOS appearing in android with proper privacy and correct circle type.
![CF909A6A-8FAC-46B9-A1

[2020-04-07 15:43] Vamshi9676 commented on #304
@RajKateshiya

1. After the user logged out of the account. Not receiving notifications - *Fixed*
2. Messages that were sent to the logged out user are received after logging in. - *Working Fine*
3. After logging into the user, receiving message notifications, even after the app is killed - *Fixed*
### 4. Already seen messages are shown as unread after doing logging out and logging in. **ISSUE**
S

[2020-04-07 15:43] anushayedl commented on #126
@ptvyas Tested in QA build

App version 2.0 build 10.0

Able to capture the photo- Fixed
After capturing the photo and clicked on save button, captured image is showing as profile picture, but when go back and come again in info page, capture photo is not present-Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78690028-94bde080-7914-11ea-83d6-75c1017d4687.png)

![image](http

[2020-04-07 15:44] mmazharuddin commented on #142
@ptvyas
While clicking on notifications, apge is redirecting to the chit-chat and the focus is on Direct tab, not redirecting to the respective page or respective circle- Fixed

[2020-04-07 15:53] Navyacheruku commented on #164
@RajKateshiya

1. Admin is still able to remove other admin from the circle- **Failed**
(Please check the video and discussion with Hiren in skype)

As per discussion inAHM today (7th April, 2020) these below points are fine

2. Admin is unable to make other member as admin - **Working Fine** (As per discussion with Hiren and Srini sir in AHM. Only Super admin can make other admins)
3. Basic users

[2020-04-07 15:55] anushayedl commented on #34
@vavadiyahiren Tested in QA build

After replying to a message, and clicking on the quoted message, the control is being shifted to the particular message. But the message is not getting highlighted in the beginning. Sometimes it is shown but sometimes it is not shown - Not Fixed

1. After clicking on replay for the selected message
2. Selected message is begin shown on the top of the "say somthin

[2020-04-07 16:00] anushayedl commented on #206
@ptvyas Tested in QA build

Even if the user is not present in group, getting the notifications- Not fixed
![image](https://user-images.githubusercontent.com/39667299/78691924-cdf75000-7916-11ea-9c2a-d9b54c5c5600.png)
![image](https://user-images.githubusercontent.com/39667299/78692010-ea938800-7916-11ea-8962-6b7d9333480d.png)
![image](https://user-images.githubusercontent.com/39667299/78692046-f5

[2020-04-07 16:08] PradeepChandramogo commented on #209
@alikhan126
Maximum attempts reached is being displayed even though, the ID verification attempts are not yet done -- **Not fixed**

1)Signed up with first name,last name, selfie basically
2)Tried  to fail updating selfie two times
3)Then tried to id verify after giving deatils and upload wrong photo id, getting error "You have
  reached maximum attemots" though tried only once -- **Issue**

![ima

[2020-04-07 16:11] anushayedl commented on #316
@ptvyas Tested in QA build

As of now app is not getting crashed, while trying to serach for the members in add members page- Fixed

[App not crash during search.zip](https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/files/4445759/App.not.crash.during.search.zip)

[2020-04-07 16:17] Navyacheruku commented on #203
@RajKateshiya @Sbhonagiri

1. When user stays in Direct tab and close the app (not killed) and stayed in phone home screen, not getting notifications. |
When user stays in Direct tab and closes the app (not killed) and stayed in phone home screen,  Getting notifications now but receiving notifications late. **Fixed**

After receiving messages in List first ten notifications are received| **ISSUE**

[2020-04-07 16:22] Vamshi9676 commented on #112
@RajKateshiya

After uninstalling and installing the app, notifications which is already dead are receiving again. **ISSUE**

![Screen Shot 2020-04-07 at 9 51 11 PM](https://user-images.githubusercontent.com/43492917/78694179-ec127f80-7919-11ea-9ea7-a3ba91a62557.png)
![Screen Shot 2020-04-07 at 9 51 04 PM](https://user-images.githubusercontent.com/43492917/78694190-ee74d980-7919-11ea-8ff2-93af4a60

[2020-04-07 16:34] mmazharuddin commented on #196
@ptvyas Android circle name is displaying as "7d1302e2-3b2........" in IOS, not showing the exact name of Circle and also sowing the duplicates circles - Fixed

[2020-04-07 16:41] mmazharuddin commented on #150
@ptvyas While clicking on Add members, the app is getting crashed - Issue

[2020-04-07 16:44] Navyacheruku commented on #295
@RajKateshiya

1. After deleting the circle, it is not found in Discover tab for exited member s- **Fixed**
2. Only Super Admin is able to Delete the circles - **Fixed**
3. For exited members, the circle is visible in Discover until the circle was deleted by Super admin - **Working Fine**
4. For admin and member there is not delete circle option to delete the circle - **Fixed**
5. After exiting th

[2020-04-07 17:02] Navyacheruku commented on #263
@RajKateshiya
Removed members are not able to message in the circle from where they are removed - **fixed**
Even after joining using JOIN and invite link again and being removed again and again and exiting and joining, unable to message when i'm not a member of the circle - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/78698134-77424400-791f-11ea-9242-adafd287bf68.png)

[2020-04-07 17:10] anushayedl commented on #70
@ptvyas Tested in QA build

While sending the connection request, notification is not getting-ISSUE
Notifications page design is not like as pervious- ISSUE
**Not able to check this issue as of now not getting the connection request**
![image](https://user-images.githubusercontent.com/39667299/78698885-a3aa9000-7920-11ea-8e59-bbc65b3e80ec.png)
![image](https://user-images.githubusercontent.com/396

[2020-04-07 17:21] PradeepChandramogo commented on #105
@shamravu
Could you please update on this as it is critical issue

[2020-04-07 17:22] PradeepChandramogo commented on #75
@shamravu
Could you please update on this

[2020-04-07 17:23] PradeepChandramogo commented on #232
@Vamshi9676
Please check your in device and update on this

[2020-04-07 17:42] PradeepChandramogo commented on #235
@kotimadduluri
Please update on this

[2020-04-07 17:49] anushayedl commented on #166
In the below report,

**First Line is - Scenario
Second Line is - Actual Result**

Please check the report below

#### 1. Try to make other users as super admin|
#### Able to make other users as super admin. **Fixed**
If super admin tries to exit the circle, pop up is displayed to make others as super admin.
After clicking on Ok, members list is displayed.
#### On selecting a member from the list,

[2020-04-07 21:40] #120 closed

[2020-04-07 21:42] Skatta commented on #120
The issue is fixed. I was able to click on the like button. The count increased. Then I clicked on the dislike button and the Like count decreased and Dislike count increased.
@anushayedl  The description of the issue you have given was convluted and confusing. However I understood the issue.

[2020-04-07 21:49] Skatta commented on #129
NOT FIXED.
The functionality of selecting multiple messages is easy and cool but didn't work.

[2020-04-07 21:52] Skatta commented on #73
The Heading is not fixed " It still shows select Contact

[2020-04-07 21:57] Skatta commented on #194
FIXED. The Circle is displayed after clicking the OK.  No duplicates created.

[2020-04-07 22:13] Skatta commented on #93
The issue should be closed. It is not saying new chat but it is saying "Select Contact" and there is already a ticket#73  for the issue  and hence the issue is closed

[2020-04-07 22:13] #93 closed

[2020-04-07 23:39] Skatta commented on #79
in IOS it still showing as New Chat and Not New Message
@Vamshi9676 I am not sure what is a place holder text

[2020-04-07 23:43] Skatta commented on #78
The issue is not fixed. We want to consist across. The  Select Contact should be replaced with Add Member  and there is an existing #93  ticket for it . Hence closing the issue

[2020-04-07 23:43] #78 closed

[2020-04-07 23:48] Skatta commented on #168
@anushayedl This is a poorly written issue. Is the issue is not able to create a circle with device contacts?  The new workflow allows the creation of a circle first and then adding members.  That should close the ticket. I am able to send a message to a device contact successfully.

[2020-04-07 23:51] Skatta commented on #81
As a member I was able to delete circle without being a superadmin . Not Fixed

[2020-04-07 23:53] Skatta commented on #307
No Blank admin is showing

[2020-04-07 23:53] #307 closed

[2020-04-07 23:55] Skatta commented on #68
@anushayedl @Sbhonagiri  I couldn't test as i have no other reference user to test with as Lalith was unable to complete the sign up.

[2020-04-08 00:01] Skatta commented on #269
I am still receiving countless messages when navigate in and out Chit-Chat which is seriously annoying.
You need to involve HIREN TO FIX THE ISSUE

[2020-04-08 04:35] RajKateshiya commented on #112
@Vamshi9676  have you test with latest apk (07-04-20 19:41)?

[2020-04-08 04:39] RajKateshiya commented on #304
Already seen messages are shown as unread after doing logging out and logging
@Vamshi9676  have you test with latest apk (07-04-20 19:41)?

[2020-04-08 05:25] vavadiyahiren commented on #116
@mmazharuddin  please confirm this is not Related to Ios Messaging app it should be prevented from the main app only. @anushayedl

[2020-04-08 05:27] vavadiyahiren commented on #126
Can you please hold for a while and check the photo is coming for the first time and also check in other device photo is reflecting?

[2020-04-08 05:30] vavadiyahiren commented on #34
That's UI issue and this is the same as we did in android. And that is not a highlight you description was confusing can you please confirm with @mmazharuddin do we need this design?

[2020-04-08 05:37] vavadiyahiren commented on #166
@mmazharuddin can you please check with the latest comment from @anushayedl  something is happening which we agreed.

[2020-04-08 05:39] vavadiyahiren commented on #206
Have you tested with the new build and newly created circle. How did you leave from the group?

[2020-04-08 05:41] vavadiyahiren commented on #70
We just need a redirection @mmazharuddin  can we assign this to @PradeepChandramogo?

[2020-04-08 06:08] mmazharuddin commented on #116
@vavadiyahiren yes, this is a main app Issue

[2020-04-08 06:10] vavadiyahiren commented on #295
The message is being displayed from API please confirm @mmazharuddin with the Santosh

[2020-04-08 06:15] vavadiyahiren commented on #143
API response needs to be changed as discussed with Santosh.

[2020-04-08 06:17] mmazharuddin commented on #143
@Sbhonagiri can you please confirm

[2020-04-08 06:19] Sbhonagiri commented on #228
@Navyacheruku @Vamshi9676 Please verify the issue

[2020-04-08 06:21] mmazharuddin commented on #296
@RajKateshiya can you please check this

[2020-04-08 06:21] Sbhonagiri commented on #176
@Navyacheruku @Vamshi9676 Please verify the issue on QA.

[2020-04-08 06:22] Sbhonagiri commented on #221
@Navyacheruku @Vamshi9676 Please verify the issue.

[2020-04-08 06:23] mmazharuddin commented on #164
@RajKateshiya can you please check this failed case

[2020-04-08 06:23] Sbhonagiri commented on #292
@alikhan126 Please check the issue

[2020-04-08 06:25] mmazharuddin commented on #203
@Navyacheruku can you please share the screenshot of two notifications icons?

[2020-04-08 06:25] Vamshi9676 commented on #112
@RajKateshiya

Yes, We have tested in the latest apk (07-04-20 19:41)

[2020-04-08 06:34] Sbhonagiri commented on #224
@Vamshi9676 Country is not being returned from the DL, so the country is not present and parsing data from scanner UI is handling it.

[2020-04-08 06:35] Sbhonagiri commented on #225
@alikhan126 Please update the issue

[2020-04-08 07:11] Sbhonagiri commented on #143
@mmazharuddin Sir and @vavadiyahiren Will add the flag for inactive users as requested by Hiren and will confirm.

[2020-04-08 07:25] RajKateshiya commented on #296
Done

[2020-04-08 07:26] RajKateshiya commented on #164
Done
#164 --> Admin is still able to remove other admin from the circle

[2020-04-08 07:28] PradeepChandramogo commented on #309
@Sbhonagiri santosh tested in his mobile as my mobile has different version.
Able to scan us driving license for the time being mentioned for first time 30 sec and next two and three attempts 15 seconds

[2020-04-08 07:30] RajKateshiya commented on #112
Test with latest apk again

[2020-04-08 07:35] Navyacheruku commented on #295
https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/292

[2020-04-08 07:35] Navyacheruku commented on #292
@Sbhonagiri @alikhan126

Please check this comment

https://github.com/Skatta/Aapoon-Support-Feedback-Tracker/issues/295#issuecomment-610496956

[2020-04-08 07:38] PradeepChandramogo commented on #291
@kotimadduluri please update on this

[2020-04-08 07:50] PradeepChandramogo commented on #238
@kotimadduluri
Please update on this

[2020-04-08 08:15] Navyacheruku commented on #221
@Sbhonagiri @RajKateshiya

Tested in latest build

1. I registered with my number User 1
2. Made connections with a user 2
3. In user 2, i have the contact of user 1
4. Changed the number in admin for user 1 Or update the mobile number from My Account screen using edit icon
5. From user 2 pinged from Connections.
6. From user 1 also pinged from connections

Messages are displayed and disappeared.

[2020-04-08 08:20] mmazharuddin commented on #283
@kotimadduluri Is it done?

[2020-04-08 08:21] mmazharuddin commented on #291
@PradeepChandramogo you should also write the expected result

[2020-04-08 08:24] mmazharuddin commented on #261
@PradeepChandramogo @Sbhonagiri This was working fine before...right. what went wrong?

[2020-04-08 08:25] PradeepChandramogo opened #324 "When trying to save account details getting error after giving zipcode ,more than 10 letters"
## Description
When trying to save account details getting error after giving zipcode ,more than 10 letters

## Steps to reproduce
1.Signup with US number
2. Try to fail scan driving license
3.Then give details as per card and zipcode which is more than 10 characters

## Expected result
1.Account details should be saved succefully

## Actual result
1) Getting error when tried to save account detai

[2020-04-08 08:27] mmazharuddin commented on #101
@kotimadduluri can you please give high priority to this ticket

[2020-04-08 08:28] Sbhonagiri commented on #261
@mmazharuddin Sir from notifications on accepting the connection response is not returned earlier also no changes made recently.

[2020-04-08 08:28] mmazharuddin commented on #235
@PradeepChandramogo Is it still happening?

[2020-04-08 08:29] Sbhonagiri commented on #324
@PradeepChandramogo We cant save Zipcode more than 10 digits to server

[2020-04-08 08:30] Vamshi9676 commented on #228
@Sbhonagiri

1. Self user is not displaying in the New message list. Working fine.
2. But one user is displaying 2 times. "Priyanka Setty" in New message. **ISSUE**
3. In the add member list, 1 user is displaying as 2 times. **ISSUE**
4. In the admin, only one user is displaying.

![Screen Shot 2020-04-08 at 1 58 09 PM](https://user-images.githubusercontent.com/43492917/78762051-05124380-79a1-11ea

[2020-04-08 08:39] mmazharuddin commented on #255
@Vamshi9676 please check and update ASAP

[2020-04-08 08:45] mmazharuddin commented on #105
@Navyacheruku @Vamshi9676 Is it still happening

[2020-04-08 08:46] Sbhonagiri commented on #324
@PradeepChandramogo USA has 9 digits Zipcode and please confirm if Zipcode has more than 10 digits globally.

[2020-04-08 09:31] Sbhonagiri commented on #143
@RajKateshiya Added is_active parameter in Group and users API, please check

[2020-04-08 10:11] Sbhonagiri commented on #209
@PradeepChandramogo Please check from API with below payload:

{
    "source_key": "",
    "target_key": "https://socialchain-prod.s3.amazonaws.com/kyc/santhosh.bhonagiri%40gmail.com/user_241/6ad05265-a03f-4436-9393-5db617e557e4.jpeg",
    "source_key_back_side": "",
    "query": "selfie"
}

[2020-04-08 10:11] Sbhonagiri commented on #208
@PradeepChandramogo Please find the payload for profile pic update

@PradeepChandramogo Please check from API with below payload:

{
    "source_key": "",
    "target_key": "https://socialchain-prod.s3.amazonaws.com/kyc/santhosh.bhonagiri%40gmail.com/user_241/6ad05265-a03f-4436-9393-5db617e557e4.jpeg",
    "source_key_back_side": "",
    "query": "update"
}

[2020-04-08 10:27] Vamshi9676 commented on #155
@mmazharuddin Sir,

Now Sona coin is included, in the sidebar menu. Working fine

![Screen Shot 2020-04-08 at 3 55 47 PM](https://user-images.githubusercontent.com/43492917/78773984-a608fa80-79b1-11ea-97ba-13292deb28b2.png)

[2020-04-08 10:30] Vamshi9676 commented on #161
As per requirement invite contact icon has been changed. Working fine

![Screen Shot 2020-04-08 at 4 00 24 PM](https://user-images.githubusercontent.com/43492917/78774275-19127100-79b2-11ea-8349-ec4c640fc95d.png)

[2020-04-08 10:34] Vamshi9676 commented on #255
@mmazharuddin

Walkthrough screens are displaying after installing the build. Working fine

![Screen Shot 2020-04-08 at 4 03 47 PM](https://user-images.githubusercontent.com/43492917/78774618-89b98d80-79b2-11ea-8b7f-5e8a5adb91fe.png)
![Screen Shot 2020-04-08 at 4 03 40 PM](https://user-images.githubusercontent.com/43492917/78774626-8de5ab00-79b2-11ea-9224-593545933bb8.png)

[2020-04-08 10:35] Vamshi9676 commented on #162
As per discussion, a new design is introducing
 so as of now, it is fixed

[2020-04-08 10:36] Sbhonagiri commented on #228
@RajKateshiya Even if phone number is changed Jid is remaining the same but still the user is showed twice can you please check.

[2020-04-08 10:39] Sbhonagiri commented on #221
@RajKateshiya Now JId is not being changed on phone number update, but still chat in the Direct is disappeared it seems can you please check.

[2020-04-08 10:41] Vamshi9676 commented on #232
@PradeepChandramogo

In My device (Mi A3)
It is displaying like below

![Screen Shot 2020-04-08 at 4 10 54 PM](https://user-images.githubusercontent.com/43492917/78775270-8d99df80-79b3-11ea-8151-60f1dfd8e747.png)

[2020-04-08 10:46] anushayedl commented on #168
@Skatta Sir, Need Confirmation regarding below points
** Test Scenarios**
1. Users created the Circle, after creating the Circle he selected Only device contacts not platform users.
2. If that users are not basic or fully verified. Then what should be the process at this time

**Need Confirmation for Expected Results*
1. That Circle should be persisting like that In Circle list
2. After a certain

[2020-04-08 10:49] Navyacheruku opened #325 "Notification bell icon issues"
## Description

1. Even after viewing notification, the count is still there on the bell icon
2. The number on the bell icon is not properly placed. Alignment issue. There is a gap between bell icon and the number.

## Steps to Reproduce

1. Go to Home screen
2. Get connection request from other users
3. After getting the number on the bell icon,  check the alignment and gap between the bell icon

[2020-04-08 10:49] Sbhonagiri commented on #323
@PradeepChandramogo Please verify the issue on QA.

[2020-04-08 10:49] Vamshi9676 commented on #224
@Sbhonagiri

After scanning the Driving License country is displaying in My Account page. Working fine

![Screen Shot 2020-04-08 at 4 18 11 PM](https://user-images.githubusercontent.com/43492917/78775968-b5d60e00-79b4-11ea-9a44-65c5e081e984.png)

[2020-04-08 10:51] Sbhonagiri commented on #235
@PradeepChandramogo Please update ASAP and confirm.

[2020-04-08 10:53] Sbhonagiri commented on #283
@PradeepChandramogo Please verify the issue on QA

[2020-04-08 10:55] anushayedl commented on #68
@Skatta Sir, I will test this issue

[2020-04-08 10:56] Sbhonagiri commented on #291
@PradeepChandramogo Please clarify the issue its not clear to developer and me

[2020-04-08 11:01] PradeepChandramogo commented on #291
Popup should display "Sorry, this feature is only available after you have been verified by Aapoon. We limit your access to the Aapoon community until you are verified to ensure a safe experience for our users." Under information as shown in expected result screenshot  shared above

[2020-04-08 11:05] anushayedl commented on #126
@vavadiyahiren In My device captured photo is not getting updated as profile picture- Not Fixed

@mmazharuddin Could you please check in your device too

[2020-04-08 11:08] anushayedl commented on #34
@vavadiyahiren Sure, i will confirm with @mmazharuddin Sir

[2020-04-08 11:20] Vamshi9676 opened #326 "The app is not responding, same guest mode popup is displaying again and again. After clicking on Ok unable to perform any operation."
**Describe the bug**
The app is not responding, same guest mode popup is displaying again and again. After clicking on Ok unable to perform any operation.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete registration up to phone verification.
2. Click on the Sidebar menu.
3. Click on Privacy Settings.
4. Scroll the page up and down.
5. Click on back button.
6. Guest mode popup is dis

[2020-04-08 11:20] anushayedl commented on #206
@vavadiyahiren
1. I have created  the group
2. I didn't add any member in that circle.
3. I am getting the notifications of the android circle from Pradeep
4. but the predeep is not present in the group, Which is created by me in IOS

[2020-04-08 11:22] PradeepChandramogo commented on #235
@Sbhonagiri @kotimadduluri
Tested in QA
App is getting crashed when user clicked on notification which is below connection request notification after accepting request -- **Not fixed**

[2020-04-08 11:35] Vamshi9676 commented on #112
@RajKateshiya

After uninstalling and installing another build and logging into the user, that user's previous notifications which were already seen and replied are showing up again. **FIXED**

![Screen Shot 2020-04-08 at 5 00 03 PM](https://user-images.githubusercontent.com/43492917/78779523-b8d3fd00-79ba-11ea-9e9c-2d7f5dbfdcd4.png)
![Screen Shot 2020-04-08 at 5 00 09 PM](https://user-images.gith

[2020-04-08 11:51] PradeepChandramogo opened #327 "After scanning US driving license, all letters in first name should not be in Upper case, only first letter of word should in capital"
## Description
After scanning US driving license, all letters in first name  should not be in Upper case, only first letter of word should in capital

## Steps to reproduce
1.Register with US number or canada number
2.Go to my account and click on scan your driving license
3.Check first name , last name extracted from driving license

## Actual result
1.Extarcted first name and last name letters a

[2020-04-08 12:00] Vamshi9676 opened #328 "When we click on the empty space which is present at post modal page, App is not Responding is displayed."
**Describe the bug**
When we click on the empty space which is present at post modal page, App is not Responding is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. Navigate to the home screen.
3. Click on empty space in post modal page
4. Check for the popup.

**Expected behavior**
The app is not responding should not happen.

**Screenshots**

Please find

[2020-04-08 12:10] shamravu commented on #318
@PradeepChandramogo App will request the contacts permission when you click on Invite Contact tab. Is that OK? Because Google recommends to ask permissions only when needed. In Home screen we do not need any contacts information. We need contact information only in Invite Contacts tab, so requesting contacts permission makes sense when you select Invite Contacts tab.

[2020-04-08 12:15] vavadiyahiren commented on #118
Looks Like API problem can you please test again ?

[2020-04-08 12:17] vavadiyahiren commented on #126
We have confirmed that it was some error at amazon side @Sbhonagiri  has confirmed and it is resolved now please test now with new build

[2020-04-08 12:18] anushayedl commented on #211
@ptvyas Tested in QA build

As of now not showing the contact number in direct messages- Fixed
![image](https://user-images.githubusercontent.com/39667299/78783301-05bad200-79c1-11ea-8b60-278b74f327c3.png)

[2020-04-08 12:19] vavadiyahiren commented on #28
That's not implemented as well not in requirements so please add as a feature requests.

[2020-04-08 12:20] PradeepChandramogo commented on #318
@shamravu
But  we have messaging app right .so  to send messages and and to add cotacts to circles, contacts has to be synced.
You are saying that only while clicked in invite friends only we ask permission contact sync which is not user friendly. so please try to ask permission after log in only or else has to discuss with @mmazharuddin sir regarding any implementation issues

[2020-04-08 12:22] shamravu commented on #318
@PradeepChandramogo OK I do not know that Contacts information is need in Home screen. Fine, I will ask contacts permission in Home Screen.

[2020-04-08 12:24] PradeepChandramogo commented on #318
@shamravu Ok. please make after phone verify it has to ask once.after he has given permission, no need to ask every time after login.

[2020-04-08 12:31] shamravu commented on #318
@PradeepChandramogo This is done. I have a question, what if user denies the contacts permission?

[2020-04-08 12:31] anushayedl commented on #68
@ptvyas Tested in QA build
Sometimes the sent image is able to see by the group member and sometimes not-Not Fixed
1. 1st i sent  amazom image, that image is being received by the vamshi in group of "corona"
2. 2nd i sent of light, this one is not recived by the vamshi in same group, even the single click is shown on the image - Not Fixed
IOS Screenshot
![image](https://user-images.githubuserconte

[2020-04-08 12:42] anushayedl commented on #65
@ptvyas Tested in QA build

The alphabet f should be in uppercase for the word forwarded above the forwarded messages. It should be Forwarded instead of forwarded - Not Fixed
![image](https://user-images.githubusercontent.com/39667299/78785206-57b12700-79c4-11ea-9d4b-8292df48359b.png)
![image](https://user-images.githubusercontent.com/39667299/78785252-6ef01480-79c4-11ea-8e44-54cdc80f8ebe.png)

[2020-04-08 12:42] shamravu commented on #325
@Navyacheruku
_The notification count is not getting disappeared even after viewing the notifications._
Notification count will disappear when you navigate away from Notification tab.

@Sbhonagiri Please confirm.

[2020-04-08 12:48] vavadiyahiren commented on #206
That's strange does he joined via discover tab? What is the status showing on android device is there 2 member along with you ?

[2020-04-08 12:48] PradeepChandramogo commented on #208
@alikhan126
While giving another users selfie url getting message as "Please take a selfie with clear back ground" -- Working fine
Aftrer 3 unsuccesful attempts , tried to save

![image](https://user-images.githubusercontent.com/59409828/78775071-414e9f80-79b3-11ea-9df0-05b9d6797b54.png)

![image](https://user-images.githubusercontent.com/59409828/78775318-a7d3bd80-79b3-11ea-96fe-7091e644a0d5.png)

[2020-04-08 12:52] vavadiyahiren commented on #65
Are you sure you wanted this in Upper case letter because we have set that in upper case latter and then someone told us to change that ?

[2020-04-08 12:58] anushayedl commented on #315
@ptvyas Tested in QA build

1. Created the circle while adding group members, Circle is shown in Circle tab- Fixed
2. Created the group without group member, Circle is present in circle tab- Fixed
3. updated the circle name, circle is present in circle tab- Fixed
4. After creating the circle, went to discover tab and again return back to the Circle tab, created
 circles are present in circles tab-

[2020-04-08 12:59] vavadiyahiren commented on #269
Need to add same algorithm like android here, I will take care

[2020-04-08 12:59] Navyacheruku commented on #176
@Sbhonagiri :

1. Able to add both the members with same number and different country code into the circle
Technical error is not displayed - **Fixed**
2. Able to add and remove Rushikesh user also, who does not have country od - **Fixed**
3. Able to add Piyush vyas' account also - **Fixed**

![image](https://user-images.githubusercontent.com/39667234/78785748-4e748a00-79c5-11ea-83e9-af65f3b42020.

[2020-04-08 13:07] RajKateshiya commented on #228
#228 one user is displaying 2 times in aapoon user search new message and add member screen done

[2020-04-08 13:07] Vamshi9676 commented on #296
@RajKateshiya

1. Member is not able to update the profile picture of the circle. Working fine
2. Super admin and Admin is able to update the profile picture of the circle. Working fine.

3. Super Admin and Admin have access to add a profile picture of the circle from Circle info as well as image full view. Set as profile option is available for admin and super admin - Working fine

4. Member does

[2020-04-08 13:13] anushayedl commented on #118
@Sbhonagiri Coul you plesae confirm

[2020-04-08 13:20] Navyacheruku commented on #203
@mmazharuddin Sir, please find the screenshots

![image](https://user-images.githubusercontent.com/39667234/78788678-c04ed280-79c9-11ea-89e5-1766f955c570.png)
![image](https://user-images.githubusercontent.com/39667234/78788708-c80e7700-79c9-11ea-87ea-75cfc3e19311.png)

[2020-04-08 13:38] PradeepChandramogo commented on #283
@kotimadduluri
Tested in QA
Tested in Lenovo k6 power mobile (Screen size : 5.0 inch screen) -- **Not fixed**

![image](https://user-images.githubusercontent.com/59409828/78790450-263c5980-79cc-11ea-8403-6d6d4fa33870.png)

[2020-04-08 13:46] PradeepChandramogo commented on #208
@alikhan126
While giving another users selfie url getting message as "Please take a selfie with clear back ground" -- Working fine
Aftrer 3 unsuccesful attempts,showing message "you have reached max attempts" popup --Working fine

![image](https://user-images.githubusercontent.com/59409828/78775071-414e9f80-79b3-11ea-9df0-05b9d6797b54.png)

![image](https://user-images.githubusercontent.com/594098

[2020-04-08 13:52] PradeepChandramogo commented on #318
@shamravu did you share build for this issue?

[2020-04-08 13:54] PradeepChandramogo commented on #318
@shamravu did you share build for this?

[2020-04-08 14:41] PradeepChandramogo commented on #323
@kotimadduluri
Tested in QA
Basic verified user able to complete id verify through adhar laminated scenario -- Working fine

[2020-04-08 14:51] Vamshi9676 opened #329 "In the Notifications logo is not displaying in some devices."
**Describe the bug**
In the Notifications logo is not displaying in some devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. Do some conversation with a user.
3. You will receive notifications when you receive messages.
4. Check for the logo in the notifications.

**Expected behavior**
Logo Should Display in the notifications.

**Screenshots**
![Screen Shot 2020

[2020-04-08 14:56] mmazharuddin commented on #126
@anushayedl can you please test and update

[2020-04-08 15:00] kotimadduluri commented on #235
@PradeepChandramogo  please have look. if still getting issue, Please try to share video if posible.

[2020-04-08 15:02] mmazharuddin commented on #206
@anushayedl can you please confirm the above query of Hiren?

[2020-04-08 15:03] mmazharuddin commented on #65
@Skatta can you please confirm

[2020-04-08 15:10] Vamshi9676 opened #330 "In the invite contact search bar, cursor is not displaying."
**Describe the bug**
In the invite contact search bar, the cursor is not displaying.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to an account.
2. Click on Invite contacts in the header of the home screen
3. Click in the search bar and check for the course.

**Expected behavior**
The cursor should display in the search bar

**Screenshots**

![Screen Shot 2020-04-08 at 8 26 18 PM](

[2020-04-08 15:22] Navyacheruku commented on #228
@RajKateshiya : Tested in the latest build sent at 6:36 P.M

1. Registered this user freshly and established connections
2. Changed the number and received messages from connections but they are not getting disappeared in DM list
3. Went and checked in New Message connections and contacts list,

Self user is still visible

Please check the video reference

https://drive.google.com/file/d/1QjfNs_4x

[2020-04-08 15:29] Navyacheruku commented on #149
@RajKateshiya

As per srini sir's confirmation

User should be shown online, even if the user is in other screens of our app, not just chit-chat screen.

If user logs in and stays in home screen, for other members of the circle, this user should be visible as online even though he/she has not yet entered Chit-Chat screen

[2020-04-08 15:46] Vamshi9676 opened #331 "After changing the number, and signing up with old number, the messages are being sent to new account when sent to old account"
**Describe the bug**

After changing the number, and signing up with an old number, the messages are being sent to the new account when sent to the old account

**To Reproduce**
Steps to reproduce the behavior:
1. Register with a user, say A
2. Change the number of this user. Say B is the new number for same user.
3. Register with the same user that was previously used in the first registration A.

[2020-04-08 15:58] PradeepChandramogo commented on #227
Comma should not be there from side menu until user gives state name in registration process-- Fixed

![image](https://user-images.githubusercontent.com/59409828/78805795-838dd600-79df-11ea-9386-fddfcb2b46f5.png)

[2020-04-08 16:25] anushayedl commented on #270
@ptvyas Tested in QA build

1. Load More option is not present in Connections and Contacts tab of Add members page- *ISSUE*
2. Load More option is present in Aapoon Contacts - Fixed
3. In Connections and Contacts page, sync option is not present - Not Fixed

![image](https://user-images.githubusercontent.com/39667299/78808766-87bbf280-79e3-11ea-8aa1-ab3bd7207921.png)
![image](https://user-images.g

[2020-04-08 16:25] PradeepChandramogo commented on #308
@kotimadduluri
Tested in QA

When wrong format given,'Invalid Email Address' should be displayed -- Working fine

when email is given in random format(pradeep.@a.com) , it is showing , account details updated succesfully -- **Need confirmation**
(As in second screenshot)

![image](https://user-images.githubusercontent.com/59409828/78808256-ca30ff80-79e2-11ea-8d5b-ce18e25ae4cc.png)
![image](https:/

[2020-04-08 16:37] PradeepChandramogo commented on #238
@kotimadduluri
Tested in QA
Invite contacts page should display  when clicked on invite contacts,in message cards after profile- Fixed
But when clicked on it for first time after SignUp and after login , contacts are not displaying,but when switched to other tabs and clicked on invite contacts, it is displaying -- Working fine
And the cursor is not displayed when clicked on search bar -- Fixed

![

[2020-04-08 16:47] PradeepChandramogo commented on #235
@kotimadduluri
Tested in QA
App is getting crashed when user clicked on notification fr recently received sona from that user which is below connection request notification after accepting request -- **Not fixed**

[2020-04-08 16:53] anushayedl commented on #314
@ptvyas Tested in QA build

1. All created circles are displaying in Circles tab- Fixed
2. After getting the messages, they are not as per the sequence of time in circles tab- *ISSUE*

*Please check the screenshot*
![image](https://user-images.githubusercontent.com/39667299/78811453-855b9780-79e7-11ea-876d-8943a3de5539.png)

[2020-04-08 16:57] Vamshi9676 commented on #304
@RajKateshiya

Tested in New build

Already seen messages are shown as unread after doing logging out and logging. Working fine.

![Screen Shot 2020-04-08 at 10 27 29 PM](https://user-images.githubusercontent.com/43492917/78811868-28141600-79e8-11ea-9752-fb8ea467d98c.png)

[2020-04-08 17:19] PradeepChandramogo commented on #75
@kotimadduluri
It should be easy to click on three dots in user search result -- Fixed
when clicked on just above or beside dots user profile is getting opened -- Fixed
But when clicking on 3 dots multiple times app is getting crashed (For clicking 5,6 times) -- **FIxed**(app is not crashing)

![image](https://user-images.githubusercontent.com/59409828/78813468-ae315c00-79ea-11ea-9e68-bb3bf8ef08a3

[2020-04-08 18:20] PradeepChandramogo commented on #283
@kotimadduluri
Tested in QA
The page should be dynamic, it should not hide the OTP field nor the terms and condition checkbox. When the keypad gets open while entering the phone number, it should dynamically take the screen focus to the upside by not hiding the rest of the fields and terms and conditions.

Only for first time, when keypad is opened the page is moving dynamic -- Working fine
(As in

[2020-04-08 18:37] PradeepChandramogo commented on #232
@kotimadduluri

Tested in QA
Grey shade is filled for id verify icon fully -- **FIxed**
(Before basic verify, after basic verfy, after fully verifed)

![image](https://user-images.githubusercontent.com/59409828/78820652-cf4b7a00-79f5-11ea-9659-aaf2a09189c9.png)
![image](https://user-images.githubusercontent.com/59409828/78820702-e12d1d00-79f5-11ea-99c0-d20e445889e9.png)
![image](https://user-image

[2020-04-08 18:47] PradeepChandramogo commented on #159
@shamravu
Tested in QA

Post model camera icon is replaced as per new ui --- **Fixed**
 post text is in white and background is yellow, it should be as per new ui -- **Need confirmation**

![image](https://user-images.githubusercontent.com/59409828/78821424-15550d80-79f7-11ea-817c-8deb67d903ad.png)

[2020-04-08 22:40] Skatta opened #332 "Preview of news items shared on the main app page is not working"
This was supposed to be working.  I shared a news item on iPhone  Social Feed page. The preview is not showing.
![Preview of Weblinks posted](https://user-images.githubusercontent.com/3252405/78840203-c63fb600-79bf-11ea-9987-6cf0391c873d.png)

[2020-04-08 23:42] Skatta opened #333 "Access to a user after confirming the phone number"
Let us give access to a user after the mobile phone is confirmed
except for the following
1 Chit chat  and posting which requires basic authentication

[2020-04-09 05:20] Jaydip1801 commented on #329
System will not display colorful icon, that's why is it showing gray color, and different functionality has been in all device,  so we can't change system settings

[2020-04-09 06:19] vavadiyahiren commented on #329
If we need a consistent icon across all the device we need to design the logo in one color else some device might not detect and it will show you gray icon.

[2020-04-09 06:54] PradeepChandramogo opened #334 "Cursor is not placing in last name though it is showing last name is required for basic verification"
## Description
Cursor is not placing in last name though it is showing last name is required for basic verification

## Steps to reproduce
1.Register with mobile  number
2.Go to my account and skip scanning
3. In account section,Enter first name and try to save

## Actual result
1.Getting message popup last name is required
2.But cursor is not placing in last name field, still it is in first name

[2020-04-09 06:54] anushayedl commented on #150
@ptvyas Tested in QA build

1. While clicking on Add members, the app is getting crashed - fixed (  App is not getting crashed)

2. While clicking on Add members page, a page is getting opened with the platform users and device contacts - Fixed
a. the heading is changed as "Add Members"-Fixed

3. For device members having the label as "Invite People"- Fixed

4. While trying the add the device cont

[2020-04-09 07:06] anushayedl opened #335 "Menu icon is not consistent of home page to open the side menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuser

[2020-04-09 07:28] PradeepChandramogo opened #336 "Country code is displaying with two letters and three letters succesively in country section in my account after loading"
## Descrption

Country code is displaying with two letters and three letters succesively in country section in my account after loading

## Steps to reproduce
1.Register with phone number  and verify
2.GO to my account check for country code
3.Go to back and after loading , again check for country code

## Actual result
1.one time it is displaying with two letters and after loading it is displayin

[2020-04-09 07:47] mmazharuddin commented on #333
@PradeepChandramogo as discussed, please provide all the test cases

[2020-04-09 07:49] mmazharuddin commented on #332
@PradeepChandramogo please provide all the test scenarios

[2020-04-09 08:11] PradeepChandramogo commented on #159
As Ui is changing , it is putting on hold

[2020-04-09 08:38] PradeepChandramogo commented on #105
@kotimadduluri
Tested in QA

After signup newly post anything and check for another user timeline, double posts posting for sharing one post until second user posting anything

![image](https://user-images.githubusercontent.com/59409828/78875283-4707bc00-7a6b-11ea-80d0-4f9b2de3f527.png)

[2020-04-09 09:19] alikhan126 commented on #200
@Jaydip1801 @RajKateshiya What's the payload which you are using?
Please share an example